//Buttons
@function button-dark($color){
  @return darken($color,23%);
}
@function button-color($color){
  @return complement(invert($color));
  //@return lighten(invert($color),13%);
}
@function button-border($color){
  @return lighten($color,45%);
}

$b-font-weight:bold;
$b-font-size:14px;
$b-line-height:28px;
$b-font:$main-font;

$button-font:($b-font-weight #{$b-font-size}/#{$b-line-height} $main-font);

@mixin _buttonify($font:$button-font,$base:$b-base-bg){
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size-adjust:0.52;
  font: $font;
  padding: 0 0.6em;
  border-radius: .3em;
  color: button-color($base);
  border: 1px solid button-border(button-color($base));
  @include lin-grad($base,button-dark($base));
  box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset,
              0 0 2px rgba(0,0,0,.3);
  text-shadow: 0 1px 0 lighten($base,2%);
  &:hover{
    text-decoration: none;
    @include lin-grad(lighten($base,5%),lighten(button-dark($base),5%));
  }
  &:focus{
    outline: 0;
    background: lighten($base,2%);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset,
                0 0 5px rgba(0,0,0,.3);
  }
  &:before{
    @include lin-grad(lighten(button-color($base),20%),darken(button-color($base),5%));
    color:invert(darken(button-color($base),20%));
    float: left;
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    font-weight:normal;
    margin: 0 .3em 0 -0.5em;
    padding: 0 .2em;
    border-radius: .25em 0 0 .25em;
    text-shadow:0 -1px 0 darken(button-color($base),20%);
  }
  &:active {
    box-shadow: 0 0 4px 2px lighten(button-color($base),30%) inset;
    position: relative;
    top: 1px;
  }
  &:disabled,&:disabled:hover,&:disabled:active{
    border: solid 1px $base;
    @include lin-grad(lighten($base,5%),$base);
    color:darken($base,15%);
    text-shadow:0 1px 0 lighten($base,10%);
    box-shadow:none;
    top:0px;
  }
  &:disabled:before{
    background:darken($base,10%);
    border-left:1px solid $base;
    color:darken($base,15%);
    text-shadow:0 1px 0 lighten($base,10%);
  }
}

@mixin button{
  &::-moz-focus-inner{
    border: 0;  /* overrides extra padding in Firefox */
    padding:0;
  }
  @include _buttonify($button-font,$base-light);
  &.important{
    @include _buttonify($button-font,$base-alternate);
  }
  &.secondary{
    font-size:12px;
    border-radius:10px;
    &:before{
      border-radius: 10px 0 0 10px;
    }
  }
  &.add:before{
    content: "+";
  }
  &.save:before{
    content: "\2714";
  }
  &.reset:before{
    content: "\21b6";
  }
  &.edit:before{
    content: "\270f";
  }
  &.compare:before{
    content: "\2637";
  }
  &.forward:before{
    content: "\279d";
  }
  &.delete:before{
    content:"\2718";
  }
}