//Serach Count
.comp_searchCount{
  background: none repeat scroll 0 0 darken($base-alternate,32%);
  border-radius: 64px 64px 64px 64px;
  box-shadow: 0 0 3px #000000 inset;
  color: lighten($base-light,20%);
  font-size: 11px;
  line-height: 12px;
  font-weight:normal;
  padding: 5px 10px;
  position:absolute;
  top:6px;right:40px;
  text-shadow: 0 -1px 0 saturate(darken($base-alternate,55%),49%);
  display:none;
}
//Floating List
.comp_floatingList{
  position: absolute;
  left: 25%;
  top: 0;
  background: lighten($base-light,10%);
  height: 90%;
  width: 20em;
  box-shadow: 0 0 15px darken($base-dark,20%);
  border-radius: 5px;
  font-size: 12px;
  display: none;
  opacity: 0;
  z-index: 100;
  background: url("../../images/admin/white_carbon.png");
  @include transform(scale(0.1));

  @include transform-origin(0 0);

  @include transition((transform,opacity),0.3s);

  &.showing {
    @include transform(scale(1));
    opacity: 1;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 80%;
    overflow: auto;
    li {
      display: block;
      padding: .3em;
      cursor: move;
      width: 19.3em;
      @include lin-grad(#fdfdfd, darken($base-light,0.8%));
      border: 1px solid darken($base-light,14%);
      border-top: none;
      box-shadow: 0 1px 3px lighten($base-dark,13%);
      span.name{
        padding-left:20px;
        background:url("../../images/admin/drag_handle.png") no-repeat center left;
      }
    }
  }
  .headertoolbar {
    padding-left: 0.3em;
    padding-right: 0.3em;
    z-index: 2;
    position: relative;
  }
  &.from_right{
    left:auto;
    right: 20%;
    @include transform-origin(100% 0);
    .headertoolbar {
      span {
        float: right;
      }
    }
  }
}

//Toolbar
.comp_toolbar{
  height: 31px;
  border-top: 2px solid darken($base-light,0.8%);
  border-left: 0;
  margin: 0 0 2px 0;
  width: 100%;
  font-size: 12px;
  padding: 0;
  overflow: hidden;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  div{
    &.left_aligned{
      float: left;
    }
    &.right_aligned{
      float: right;
    }
  }
  a, div.toolbar_item{
    text-decoration: none;
    color: $base-dark;
    float: left;
    display: inline;
    height: 17px;
    padding: 7px;
    background-repeat: repeat-x;
    border-right: 1px solid darken($base-light,14%);
  }
  a{
    &.selected{
      @include lin-grad(darken($base-light,14%), darken($base-light,0.8%));
      color: darken($base-dark,20%);
    }
    &:hover{
      @include lin-grad(lighten($base-light,10%), #dddddd);
    }
    &.selected:hover{
      @include lin-grad(darken($base-light,14%), darken($base-light,0.8%));
    }
    span{
      float: left;
      padding-left: 3px;
    }
  }
  div.toolbar_item span{
    float: left;
    padding-left: 3px;
  }
  a img{
    float: left;
    margin-right: 4px;
  }
  img.show_er{
    position: absolute;
    top: 8px;
    right: 8px;
    display: none;
    cursor: pointer;
  }
  input{
    font-size: 11px;
    height: 14px;
    width: 120px;
    position: relative;
    top: -3px;
  }
  button{
    margin-top: -0.3em;
  }
  .numItems{
    @extend .comp_searchCount;
    display:inline-block;
    position:relative;
    top:-3px;right:auto;left:auto;
    span{
      float:none !important;
    }
  }
}
//lists
.comp_listView{
  margin:0;padding:0;
  list-style:none;
  position:absolute;
  top:33px;
  bottom:36px;
  width:100%;
  overflow:auto;
  &.nofooter{
    bottom:0px;
  }
  li{
    display:block;
    @include lin-grad(lighten($base-light,5%),$base-light);
    font-size:12px;
    font-weight:bold;
    border:1px solid darken($base-light,14%);
    border-left:none;
    border-top:none;
    cursor:pointer;
    box-shadow:0 1px 3px lighten($base-dark,13%);
    position:relative;

    @include transition(transform, 0.5s, ease-in);

    &.deleted{
      @include transform(translateX(-105%));
      @include transition(transform, 0.5s, ease-out);
    }
    &.active{
      @include lin-grad(lighten($base-dark,12%),$base-dark);
      text-shadow:0 -1px 0 darken($base-dark,20%);
      color:lighten($base-light,10%);
      border-color:darken($base-dark,7%);
    }
    span{
      white-space:nowrap;
      text-overflow:ellipsis;
      overflow:hidden;
      display: block;
      padding: 0.4em 0 0.4em 31px;
      margin-right:55px;
      img{
        float:left;
        margin-right:5px;
      }
    }
    input,img.action,span.extraData{
      position:relative;
      float:right;
      top:-22px;
      margin-right:1em;
      cursor:pointer;
      padding:0;
    }
  }
  &.reorderable{
    li{
      background:url("../../images/admin/drag_handle.png") no-repeat 5px 0.45em,-moz-linear-gradient(lighten($base-light,5%),$base-light);
      background:url("../../images/admin/drag_handle.png") no-repeat 5px 0.45em,-webkit-linear-gradient(lighten($base-light,5%),$base-light);
      background:url("../../images/admin/drag_handle.png") no-repeat 5px 0.45em,linear-gradient(lighten($base-light,5%),$base-light);
      &.active{
        background:url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.45em,-moz-linear-gradient(lighten($base-dark,12%),$base-dark);
        background:url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.45em,-webkit-linear-gradient(lighten($base-dark,12%),$base-dark);
        background:url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.45em,linear-gradient(lighten($base-dark,12%),$base-dark);
      }
    }
  }
}
//short List View
.comp_shortListView{
  margin:0;padding:0;
  list-style:none;
  position:absolute;
  top:33px;
  bottom:36px;
  width:100%;
  overflow:auto;
  &.nofooter{
    bottom:0px;
  }
  li{
    display:block;
    font-size:12px;
    font-weight:normal;
    cursor:pointer;
    position:relative;
    border-top:1px solid $base-alternate;
    @include transition(transform, 0.5s, ease-in);

    &.deleted{
      @include transform(translateX(-105%));
      @include transition(transform, 0.5s, ease-out);
    }
    span{
      white-space:nowrap;
      text-overflow:ellipsis;
      overflow:hidden;
      display: block;
      padding: 0.2em 0 0.2em 31px;
      margin-right:1em;
      &.count{
        font-size:0.9em;
        line-height:1.6em;
        display:inline-block;
        position:absolute;
        right:0.5em;
        top:0.2em;
        margin:0;
        padding:0 0.7em;
        font-weight:bold;
        border-radius:1em;
        color:#fff;
        text-shadow:0 -1px 0 darken($base-alternate,26%);
        background:darken($base-alternate,22%);
      }
      b{
        color:darken($base-alternate,32%);
      }
    }
    &.active{
      @include lin-grad(darken($base-alternate,10%),darken($base-alternate,32%));
      text-shadow:0 -1px 0 darken($base-alternate,26%);
      color:lighten($base-light,10%);
      border-top:1px solid adjust-hue(saturate(darken($base-alternate,17%),11%),1deg);
      span.count{
        background:lighten($base-light,10%);
        color:darken($base-alternate,32%);
        text-shadow:0 1px 0 lighten($base-light,10%);
      }
    }
    input[type=text]{
      @include exp-prop(box-sizing,border-box);
      width:100%;
    }
  }
}

//multiline List View
.comp_multilineListView{
  margin:0;padding:0;
  list-style:none;
  position:absolute;
  top:33px;
  bottom:36px;
  width:100%;
  overflow:auto;
  &.nofooter{
    bottom:0px;
  }
  li{
    display:block;
    font-size:12px;
    font-weight:normal;
    cursor:pointer;
    position:relative;
    border-top:1px dotted darken($base-light,14%);
    border-left:5px solid transparent;
    padding:0.5em 1em;
    box-shadow:0 1px 3px lighten($base-dark,13%);
    background:lighten($base-light,5%);
    @include transition(transform, 0.5s, ease-in);
    span{
      display:inline-block;
      width:49%;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      &:nth-child(2n){
        text-align:right;
        color:darken($base-light,30%);
      }
      &:nth-child(n+3){
        font-size:0.8em;
      }
      &:nth-child(2){
        color:darken($base-light,50%);
      }
    }
    &.deleted{
      @include transform(translateX(-105%));
      @include transition(transform, 0.5s, ease-out);
    }
    &:nth-child(2n+1){
      background:lighten(saturate(darken($base-alternate,25%),50%),30%);
    }
    &.active{
      @include lin-grad(saturate(darken($base-alternate,25%),50%),saturate(darken($base-alternate,42%),50%));
      text-shadow:0 -1px 0 darken($base-alternate,40%);
      color:lighten($base-light,10%);
      border-top:1px solid adjust-hue(saturate(darken($base-alternate,17%),11%),1deg);
      span{
        &:nth-child(2n){
          color:$base-alternate;
        }
      }
    }
    &.state-1{
      border-left:5px solid transparentize(red,0.3);
    }
    &.state-2{
      border-left:5px solid transparentize(green,0.4);
    }
    &.state-3{
      border-left:5px solid transparentize(#ff00ff,0.7);
    }
    &.state-4{
      border-left:5px solid transparentize(blue,0.7);
    }
    &.state-5{
      border-left:5px solid transparentize(yellow,0.7);
    }
  }
}

//settings table
.settingsTable {
  div.fieldset {
    border:1px solid darken($base-light,10%);
    border-radius:0.4em;
    margin: 10px 0;
    display: block;
    position: relative;
  }
  table {
    width: 100%;
    border-radius:0.5em;
    border-collapse:collapse;
  }
  td, th {
    padding: 7px;
    border-bottom:1px solid darken($base-light,10%);
  }
  td{
    background:lighten($base-alternate,5%);
    padding: 7px 10px;
    &.field_description {
      font-size: 11px;
      line-height: 16px;
    }
  }
  input[type=text], textarea {
    width: 98%;
    font-size: 12px;
    font-family: arial,helvetica;
  }
  label {
    font-style: italic;
    font-size: 12px;
    display:inline-block;
    margin-right:10px;
  }
  th {
    text-align: right;
    width: 20%;
    background:darken($base-light,3%);
  }
  tr td {
    &:nth-child(2) {
      width: 30%;
    }
    &:nth-child(3) {
      width: 50%;
      padding-left: 5px;
    }
  }
  tr{
    &:first-child{
      th,td:last-child{
        border-radius:0 0.5em 0 0;
      }
    }
    &:last-child{
      td,th{
        border:none;
      }
      th,td:last-child{
        border-radius:0 0 0.5em 0;
      }
    }
  }
}

//sliding panels
.slidingPanel{
  position:absolute;
  right:0;
  bottom:0;
  width:75%;
  z-index:3;
  display:none;
  @include transition((transform),0.5s);
  @include transform(translateY(100%));
  &.showing{
    @include transform(translateY(0));
  }
  div.name{
    float:right;
    display:inline-block;
    border-radius:5px 5px 0 0;
    padding:0.3em;
    background:$base-alternate;
    box-shadow:0 0 10px $base-dark;
    font-weight:normal;
    font-size-adjust:0.52;
    font-family:$main-font;
    font-size:17px;
    margin-right:20px;
    margin-top:-1.7em;
    z-index:3;
    cursor:pointer;
    position:relative;
    span{
      &.count{
        position:absolute;
        top:-6px;right:-6px;
        font-size: 11px;
        line-height: 12px;
        background: #ff0023;
        color: lighten($base-light,10%);
        padding: 1px 3px;
        border-radius: 64px;
        box-shadow: 0px 1px 3px darken($base-dark,20%);
        text-shadow: 0 -1px 0 red;
      }
    }
  }
  div.content{
    position:relative;
    z-index:4;
    display:block;
    width:100%;
    @include exp-prop(box-sizing,border-box);
    min-height:100px;
    @include lin-grad(darken($base-light,13.5%),$base-light);
    box-shadow:inset 0 0 5px $base-dark;
    padding:15px 10px;
    overflow:auto;
    ul{
      margin:0;padding:0;
      list-style:none;
      width:400em;
    }
    li{
      @include _image_tiles();
    }
  }
}

.animate_all{
  @include transition((all),0.3s);
}
.animate_transform{
  @include transition((transform),0.3s);
}
.no_transform{
  @include transform(none !important);
}