//image tiles
@mixin _image_tiles(){
  display:inline-block;
  position:relative;
  float:left;
  height:100px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
  width:140px;
  background:$base-light;
  margin:0 15px;
  text-align:center;
  line-height:1.4em;
  cursor:move;
  border:2px solid #fff;
  @include exp-prop(box-sizing,border-box);
  @include transition((transform,opacity,background,width,margin),0.5s);
  &:before,&:after{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 15px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
  }
  &:after{
    right:10px;
    left:auto;
    @include transform(skew(8deg) rotate(3deg));
  }
  &.adder{
    @include transition((none),0.5s);
    background:$base-light url("../../images/admin/icon_add.png") no-repeat center 40%;
    padding-top:55px;
    cursor:pointer;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 2px #777 inset;
    color:#999;
    &.onDrop{
      @include rad-grad((circle, darken($base-alternate,20%), darken($base-alternate,29%)));
      color:#333;
    }
  }
  &.deleted{
    @include transform(translateX(-100%));
    opacity: 0;
    margin:0;
    background: red;
    z-index:-1;
    width:0;
  }
  span{
    &.activator{
      position:absolute;
      top:-1px;
      left:-17px;
      background:$base-light;
      border-radius:3px 0 0 3px;
      z-index:-1;
      padding:2px 2px 1px 1px;
      line-height:0;
      box-shadow:0 0 2px $base-dark;
      input{
        margin:0;
        line-height:0;
      }
    }
    &.caption{
      height: 14px;
      line-height:0;
      background:transparentize($base-dark,0.3);
      position: absolute;
      bottom: 10px;
      left:-7px;
      right:-7px;
      display:block;
      box-shadow:0 2px 5px $base-dark;
      border-radius:2px 2px 0 0;
      padding:0 5px;
      &:before,&:after {
        content:" ";
        border-top:5px solid #000;
        position:absolute;
        bottom:-5px;
      }
      &:before {
        border-left:5px solid transparent;
        left:0;
      }
      &:after {
        border-right:5px solid transparent;
        right:0;
      }
      input{
        @include transition((none),0s);
        border:none !important;
        background:transparent;
        color:$base-light;
        padding:0;
        margin:0;
        box-shadow:none !important;
        font-size:11px;
        line-height: 14px;
        display:block;
        max-width:auto;
        border-radius:0;
        width:99%;
        text-align:center;
        &:-moz-placeholder{
          color:#888;
        }
        &::-webkit-input-placeholder {
          color:#888;
        }
      }
    }
  }
  a.delete{
    position:absolute;
    right:-9px;
    top:-9px;
    width:18px;
    height:18px;
    background:lighten($base-light,10%) url("../../images/admin/icon_cross.png") no-repeat 1px 1px;
    border-radius:64px;
    box-shadow:0 0 5px darken($base-dark,20%);
    cursor:pointer;
    &:hover{
      background-color:darken($base-light,10%);
    }
  }
  div{
    width:100%;
    height:100%;
    overflow:hidden;
    box-shadow:0 0 2px #777 inset;
    background:$base-light;
    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.filename{
        font-weight:bold;
        margin-top:50px;
      }
      &.bar_holder {
        height: 10px;
        border: 1px solid #536d7a;
        margin: 3px;
        position: absolute;
        bottom: 10px;
        width:94.5%;
      }
      &.bar {
        @include lin-grad(#b0cde5, (#6cc2e2 15%, #0e62a8 73%, #6cc2e2 100%));
        height: 10px;
        width: 0%;
        @include transition(width,0.2s,ease-out);
      }
    }
  }
  img{
    height:100%;
  }
}


@mixin rad-grad($arguments){
  @include exp-value(background,radial-gradient($arguments));
}
@mixin lin-grad($from, $to:darken($from,13.5%)){
  background: $from;
  @include exp-value(background,linear-gradient($from, $to));
}
@mixin transition($props, $duration, $timing:default, $delay:0){
  @include transition-property($props);
  @include transition-duration($duration);
  @include transition-timing-function($timing);
  @include transition-delay($delay);
}

@mixin transform($props){
  @include exp-prop(transform,$props);
}
@mixin transform-origin($props){
  @include exp-prop(transform-origin,$props);
}
@mixin transition-property($arguments){
  $_props-webkit:();
  $_props-moz:();
  $_props-ms:();
  $_props-o:();
  $_props:();
  @each $prop in $arguments{
    @if $prop == transform{
      $_props-webkit:append($_props-webkit,-webkit-#{$prop},comma);
      $_props-moz:append($_props-moz,-moz-#{$prop},comma);
      $_props-ms:append($_props-ms,-ms-#{$prop},comma);
      $_props-o:append($_props-o,-o-#{$prop},comma);
      $_props:append($_props,$prop,comma);
    }@else{
      $_props-webkit:append($_props-webkit,$prop,comma);
      $_props-moz:append($_props-moz,$prop,comma);
      $_props-ms:append($_props-ms,$prop,comma);
      $_props-o:append($_props-o,$prop,comma);
      $_props:append($_props,$prop,comma);
    }
  }
  -webkit-transition-property:$_props-webkit;
  -moz-transition-property:$_props-moz;
  -ms-transition-property:$_props-ms;
  -o-transition-property:$_props-o;
  transition-property:$_props;
}
@mixin transition-duration($arguments){
  @include exp-prop(transition-duration,$arguments);
}
@mixin transition-timing-function($arguments){
  @include exp-prop(transition-timing-function,$arguments);
}
@mixin transition-delay($arguments){
  @include exp-prop(transition-delay,$arguments);
}

$_prefixes:(-moz,-webkit,-ms,-o);
@mixin exp-prop($prop,$val){
  @each $prefix in $_prefixes{
    #{$prefix}-#{$prop}:$val;
  }
  #{$prop}:$val;
}
@mixin exp-value($prop,$val){
  @each $prefix in $_prefixes{
    #{$prop}:#{$prefix}-#{$val};
  }
  #{$prop}:#{$val};
}