$main-bg : #eceeef url("../../images/admin/handmadepaper.png");
$main-font:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;

$sec-bg:url("../../images/admin/white_carbon.png");

$text-color:#2f3e46;

$base-light:#efefef;
$base-dark:#333;
$base-alternate:#DDE2EB;
$base-error:#860303;
$base-success:#006b3e;


