@import "_mixins";
@import "_variables";

@-webkit-keyframes shake {
  0%, 40%, 60%, 80%, 100% {
    -webkit-transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(-2em, 0);
  }
  50% {
    -webkit-transform: translate(1.5em, 0);
  }
  70% {
    -webkit-transform: translate(-1em, 0);
  }
  90% {
    -webkit-transform: translate(0.5em, 0);
  }
}


@-moz-keyframes shake {
  0%, 40%, 60%, 80%, 100% {
    -moz-transform: translate(0, 0);
  }
  30% {
    -moz-transform: translate(-2em, 0);
  }
  50% {
    -moz-transform: translate(1.5em, 0);
  }
  70% {
    -moz-transform: translate(-1em, 0);
  }
  90% {
    -moz-transform: translate(0.5em, 0);
  }
}


@keyframes shake {
  0%, 40%, 60%, 80%, 100% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-2em, 0);
  }
  50% {
    transform: translate(1.5em, 0);
  }
  70% {
    transform: translate(-1em, 0);
  }
  90% {
    transform: translate(0.5em, 0);
  }
}


.shake {
  @include exp-prop(animation-name,shake);
  @include exp-prop(animation-duration,.6s);
  @include exp-prop(animation-iteration-count, 1);
  @include exp-prop(animation-direction,normal);
  @include exp-prop(animation-timing-function,ease-out);
  @include exp-prop(animation-delay,0);
}

/*--------------*/
@-webkit-keyframes bounce {
  0%, 40%, 60%, 80%, 100% {
    -webkit-transform: scale(1) translate(0, 0);
  }
  30% {
    -webkit-transform: scale(1.3) translate(0, -2em);
  }
  50% {
    -webkit-transform: scale(1.2) translate(0, 1.5em);
  }
  70% {
    -webkit-transform: scale(1.1) translate(0, -1em);
  }
  90% {
    -webkit-transform: scale(1) translate(0, 0.5em);
  }
}


@-moz-keyframes bounce {
  0%, 40%, 60%, 80%, 100% {
    -moz-transform: scale(1) translate(0, 0);
  }
  30% {
    -moz-transform: scale(1.3) translate(0, -2em);
  }
  50% {
    -moz-transform: scale(1.2) translate(0, 1.5em);
  }
  70% {
    -moz-transform: scale(1.1) translate(0, -1em);
  }
  90% {
    -moz-transform: scale(1) translate(0, 0.5em);
  }
}


@keyframes bounce {
  0%, 40%, 60%, 80%, 100% {
    transform: scale(1) translate(0, 0);
  }
  30% {
    transform: scale(1.3) translate(0, -2em);
  }
  50% {
    transform: scale(1.2) translate(0, 1.5em);
  }
  70% {
    transform: scale(1.1) translate(0, -1em);
  }
  90% {
    transform: scale(1) translate(0, 0.5em);
  }
}


.bounce {
  @include exp-prop(animation-name,bounce);
  @include exp-prop(animation-duration,.6s);
  @include exp-prop(animation-iteration-count, 1);
  @include exp-prop(animation-direction,normal);
  @include exp-prop(animation-timing-function,ease-out);
  @include exp-prop(animation-delay,0);
}

/*--------------*/
@-moz-keyframes bulge {
  0%, 100% {
    -moz-transform: scale(1);
    box-shadow: none;
  }
  50% {
    -moz-transform: scale(1.3);
    box-shadow: 0 0 15px yellow;
  }
}


@-webkit-keyframes bulge {
  0%, 100% {
    -webkit-transform: scale(1);
    box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.3);
    box-shadow: 0 0 15px yellow;
  }
}


@keyframes bulge {
  0%, 100% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.3);
    box-shadow: 0 0 15px yellow;
  }
}


.bulge {
  @include exp-prop(animation-name,bulge);
  @include exp-prop(animation-duration,.5s);
  @include exp-prop(animation-iteration-count, 3);
  @include exp-prop(animation-direction,alternate);
  @include exp-prop(animation-timing-function,ease-out);
  @include exp-prop(animation-delay,.2s);
}
