@import "_mixins";
@import "_variables";
/*--*/

#commentsList {
  margin: 0;
  padding: 0;
  display: block;
  li {
    padding: 10px;
    display: block;
    margin: 1% 15% 1% 3%;
    border-radius: 5px;
    box-shadow: 0 0 2px darken($base-dark,20%);
    @include lin-grad(lighten($base-light,10%), $base-light);
    p {
      float: left;
      margin: 0 0 10px 0;
      font-size: 14px;
      font-family: arial,helvetica;
      &.meta {
        float: none;
        clear: both;
        color: lighten($base-dark,40%);
        font-size: 12px;
        margin-bottom: 0px;
      }
    }
    &.byOwner {
      @include lin-grad(darken($base-alternate,22%),darken($base-alternate,42%));
      color:lighten($base-light,10%);
      margin: 1% 3% 1% 15%;
      text-shadow:0 -1px 0 darken($base-alternate,70%);
      p.meta{
        color:$base-light;
      }
    }
    &.not_visible {
      opacity: 0.4;
      box-shadow: inset 0 0 5px darken($base-dark,20%);
    }
  }
}

/*--*/

#toolbar {
  height: 31px;
  border-top: 2px solid darken($base-light,0.8%);
  border-left: 0;
  margin: 0 0 2px 0;
  width: 100%;
  font-size: 12px;
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 3;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  div {
    &.left_aligned {
      float: left;
    }
    &.right_aligned {
      float: right;
    }
  }
  a, div.toolbar_item {
    text-decoration: none;
    color: $base-dark;
    float: left;
    display: inline;
    height: 17px;
    padding: 7px;
    background-repeat: repeat-x;
    border-right: 1px solid darken($base-light,14%);
  }
  a {
    &.selected {
      @include lin-grad(darken($base-light,14%), darken($base-light,0.8%));
      color: darken($base-dark,20%);
    }
    &:hover {
      @include lin-grad(lighten($base-light,10%), #dddddd);
    }
    &.selected:hover {
      @include lin-grad(darken($base-light,14%), darken($base-light,0.8%));
    }
    span {
      float: left;
      padding-left: 3px;
    }
  }
  div.toolbar_item span {
    float: left;
    padding-left: 3px;
  }
  a img {
    float: left;
    margin-right: 4px;
  }
  button {
    margin-top: -0.3em;
  }
}

/*--*/

#tagSoup {
  display: block;
  padding: 5px 16px;
  background:$base-alternate;
  border-radius: 5px;
  box-shadow: inset 0 0 5px darken($base-dark,20%);
  &.onDrop {
    @include rad-grad((circle, darken($base-alternate,20%), darken($base-alternate,29%)));
  }
  span {
    display: inline-block;
    float: left;
    @include lin-grad(#fdfdfd, darken($base-light,0.8%));
    border-radius: 5px;
    padding: 1px 3px;
    border: 1px solid #c5b4a4;
    margin: 0 16px 16px 0;
    &:before {
      background: url("../../images/admin/icon_tags.png") no-repeat left bottom;
      float: left;
      width: 16px;
      height: 16px;
      margin: 3px 3px 0 -16px;
      content: " ";
    }
    a {
      display: inline-block;
      background: url("../../images/admin/icon_cross_small.png") no-repeat center center;
      width: 16px;
      height: 16px;
      float: right;
      margin: 0 -5px 0 3px;
    }
  }
}
