@import "_mixins";
@import "_variables";

#sideBar {
  width: 15%;
}

#thirdBar {
  &.secondpane {
    left: 15%;
    width: 25%;
  }
  div.placeholder {
    position: absolute;
    top: 43px;
    display: block;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    text-shadow: 0 -1px 0 #5d759f;
    color: #cdd4e2;
    @include exp-prop(box-sizing,border-box);
  }
}

#mainContent {
  width: 80%;
}

#innerTabs {
  left: 40%;
  width: 60%;
}

#mainContent.threepane {
  width: 60%;
  right: 0;
  height: auto;
  bottom: 0;
}

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.comp_multilineListView li.state-1 {
  border-left: 5px solid rgba(255, 0, 0, 1);
}
