@import "_mixins";
@import "_variables";
@import "_buttons";
@import "_reset";
body {
  width: 100%;
  background: $main-bg;
  font-family: $main-font;
  font-size: 62.5%;
  line-height: 1.8em;
  color: $text-color;
  margin: 0px;
  padding: 0px;
  text-shadow:0 1px 0 lighten($base-light,10%);
}
.clearit {
  overflow: hidden;
  height: 0px;
  width: 100%;
  clear: both;
}
.clearfix {
  display: inline-block;
  &:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  html[xmlns] & { height: 1px }
  * html & { height: 1px }
}
div{
  display:block;
}
button.button{
  @include button;
}
input[type=text],input[type=password],textarea{
  background-color: lighten($base-light,20%);
  border-color:lighten($base-dark,35%) lighten($base-dark,40%) lighten($base-dark,50%);
  border-style: solid;
  border-width: 1px;
  font-size:13px;
  padding:0.3em;
  text-shadow:none;
  box-shadow:0 1px 2px transparentize(darken($base-dark,20%),0.7) inset;
  border-radius:3px;
  &:active,&:focus{
    border-color: lighten($base-dark,13%);
    box-shadow:0 1px 2px transparentize(darken($base-dark,20%),0.3) inset;
    outline:none;
  }
}
.headertoolbar,.footertoolbar{
  @include lin-grad($base-light);
  padding: 7px 11px;
  font-weight:normal;
  font-size-adjust:0.52;
  font-family:$main-font;
  font-size:17px;
  box-shadow:0 1px 3px lighten($base-dark,13%);
  border:1px solid darken($base-light,14%);
  color:$base-dark;
  max-height:28px;
}
.headertoolbar{
  &.dark{
    @include lin-grad(lighten($base-dark,20%),darken($base-dark,20%));
    color:lighten($base-light,10%);
    text-shadow:0 -1px 0 darken($base-dark,20%);
    border-color:darken($base-dark,20%);
  }
  &.collapsible{
    background: url("../../images/admin/icon_hd_coll.png") no-repeat .4em .4em,-webkit-linear-gradient($base-light,darken($base-light,14%));
    background: url("../../images/admin/icon_hd_coll.png") no-repeat .4em .4em,-moz-linear-gradient($base-light,darken($base-light,14%));
    background: url("../../images/admin/icon_hd_coll.png") no-repeat .4em .4em,linear-gradient($base-light,darken($base-light,14%));
    cursor:pointer;
    padding-left:1.6em;
    &.open{
      background: url("../../images/admin/icon_hd_open.png") no-repeat .2em .4em,-webkit-linear-gradient($base-light,darken($base-light,14%));
      background: url("../../images/admin/icon_hd_open.png") no-repeat .2em .4em,-moz-linear-gradient($base-light,darken($base-light,14%));
      background: url("../../images/admin/icon_hd_open.png") no-repeat .2em .4em,linear-gradient($base-light,darken($base-light,14%));
    }
  }
  button{
    float:right;
    margin-left:0.6em;
    margin-top:-0.2em;
    margin-right:-0.3em;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: bold 14px/100% Arial, Helvetica, sans-serif;
    padding: 0.25em 0.3em 0 0.3em;
    border-radius: 5px;
    border: solid 1px lighten($base-dark,47%);
    background: $base-light;
    @include lin-grad(lighten($base-light,10%),(#f3f3f3 50%,$base-light 51%,lighten($base-light,10%) 100%));
    &:hover{
      @include lin-grad($base-light,(lighten($base-light,10%) 50%,lighten($base-light,10%) 51%,$base-light 100%));
    }
    &:active{
      box-shadow:inset 0 0 5px lighten($base-dark,27%);
    }
    &::-moz-focus-inner{
      border: 0;  /* overrides extra padding in Firefox */
      padding:0;
    }
  }
  span.close{
    position:absolute;
    cursor:pointer;
    right:-9px;
    top:-9px;
    width:18px;
    height:18px;
    background:lighten($base-light,10%) url("../../images/admin/icon_cross.png") no-repeat 1px 1px;
    border-radius:64px;
    box-shadow:0 0 5px darken($base-dark,20%);
  }
}
.footertoolbar{
  position:absolute;
  bottom:0;left:0;
  right:0;
  &.dark{
    @extend .headertoolbar.dark;
  }
}
.padded{
  padding:1em;
}
.hidden{
  display:none;
}
.q_feedback{
  display:inline-block;
  margin-left:5px;
  font-size:12px;
}
img.loader{
  display:inline-block;
  background:lighten($base-light,10%);
  border:1px solid darken($base-light,5%);
  padding:0.2em 0.3em;
  border-radius:3px;
  box-shadow:0 1px 1px transparentize(darken($base-dark,20%),0.7) inset;
  vertical-align:middle;
}
span.loader{
  @extend img.loader;
  vertical-align:baseline;
}
hr{
  margin-top:15px;
  border: none 0;
  border-top: 1px solid lighten($base-dark,47%);
  height: 1px;
}
form{
  th{
    text-align:right;
  }
  input[type=password],input[type=text],textarea,select{
    min-width:205px;
  }
  select{
    min-width:215px;
  }
}
.initPage{
  text-align:center;
  color:lighten($base-dark,20%);
  font-size:18px;
  background:url("../../images/admin/init_page.png") no-repeat left bottom;
  width:691px;
  padding-bottom:20px;
  overflow:hidden;
  margin-top:20px;
  div{
    padding:3em;
    padding-left:161px;
    background:url("../../images/admin/init_page.png") no-repeat;
  }
}
.largeLoader{
  position:relative;
  width:100%;
  height:100%;
  min-height:128px;
  min-width:128px;
  background:url("../../images/admin/largeloader.gif") no-repeat center center;
}

@import "_components";

.chink{
  width:20px;
  height:20px;
  position:absolute;
  background:darken($base-light,5%);
  margin-left:-10px;
  @include transform(rotate(45deg));
  z-index:1;
  box-shadow:0 0 5px $base-dark;
  &.lt{
    top:.6em;
  }
  &.rt{
    top:0.6em;
    right:0;
    margin-left:0;
    margin-right:-10px;
  }
}

#main{
  font-size:1.1em;
}

/*====*/
#header{
  background:darken($base-light,11%);
  height:50px;
  position:relative;
  border-bottom:1px solid lighten($base-dark,24%);
  box-shadow:0 0 3px darken($base-dark,20%);
  z-index:10;
}
#headerBar{
  height:46px;width:100%;
  @include lin-grad($base-dark,darken($base-dark,13%));
  position:absolute;
  top:0;left:0;
  text-align:right;
  color:lighten($base-light,10%);
  text-shadow:0 -1px 0 darken($base-dark,20%);
  font-size:12px;
  line-height:25px;
  a:link, a:visited{
    display:block;
    color:darken($base-light,19%);
    text-shadow:0 -1px 0 darken($base-dark,20%);
    padding:10px 20px;
    text-decoration:none;
    font-size:14px;
    font-weight:normal;
    font-family:$main-font;
  }
  ul{
    position:relative;
    list-style:none;
    margin:0;
    padding:0;
    li{
      float:left;
      display:inline;
      position: relative;
      overflow:hidden;
      &.active{
        background:darken($base-dark,13%);
        > a{
          text-shadow:0 0 10px lighten($base-light,10%);
          color:lighten($base-light,10%) !important;
        }
      }
      ul {
        position: absolute;
        right:0;
        border-radius:0 0 5px 5px;
        box-shadow: 0 5px 5px lighten($base-dark,13%);
        background:darken($base-dark,13%);
        &:before {
          content:" ";
          position: absolute;
          top:-24px;
          right:2px;
          width:0;
          height:0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid darken($base-light,19%);
        }
        li{
          display:block;
          float:none;
          text-align: left;
          padding-right:0;
          border-radius:0;
          line-height:18px;
          position:relative;
          white-space: nowrap;
          background:transparentize(lighten($base-light,10%),0.9);
          &:hover{
            background:transparentize(lighten($base-light,10%),0.8);
          }
          &:last-child{
            border-radius:0 0 5px 5px;
          }
          a:link,a:visited{
            padding:7px 20px;
          }
          ul{
            position:absolute;
            left:100%;right:auto;
            top:0;
            border-radius:5px;
            &:before {
              top:1em;
              right:auto;
              left:-14px;
              width:0;
              height:0;
              border:0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left: 6px solid darken($base-light,19%);
            }
            li{
              &:first-child{
                border-radius:5px 5px 0 0;
              }
            }
          }
        }
      }
      &:hover{
        overflow:visible;
        background:transparentize(lighten($base-light,10%),0.9);
         > a:link,> a:visited{
          color:lighten($base-light,10%);
        }
      }
    }
  }
}
#menu{
  float:right;
}
#preloader{
  position:absolute;
  top:11px;
  left:23em;
  display:none;
}
#notifications{
  float:left;
  position:relative;
  left:50%;
  top:0;
  z-index:11;
  font-size:12px;
  #notifier{
    position:relative;
    float:left;
    left:-50%;
    border-radius:0 0 5px 5px;
    box-shadow:0 2px 7px darken($base-dark,20%);
    padding:0 1em 0 25px;
    font-weight:bold;
    background:lighten($base-light,10%) url("../../images/admin/icon_info.png") no-repeat 0.3em 0;
    max-height:1000px;
    white-space:nowrap;
    overflow:hidden;
    opacity:0;
    text-transform:capitalize;
    @include transition((max-height,padding-top,padding-bottom,opacity,background-position),0.3s);
    &.error{
      color:$base-error;
      background-image:url("../../images/admin/icon_error.png");
    }
    &.success{
      color:$base-success;
      background-image:url("../../images/admin/icon_success.png");
    }
    &.showing{
      opacity:1;
      max-height:100%;
      padding:0.8em 1em 0.3em 25px;
      background-position:0.3em 0.8em;
    }
  }
}
#logoHolder{
  position:absolute;
  top:0;left:0;
  z-index:1000;
  padding:0 10px;
  height:45px;
  @include lin-grad($base-dark,darken($base-dark,13%));
  border-right:1px solid darken($base-dark,15%);
  box-shadow:1px 0 1px lighten($base-dark,13%);
  img{
    position:relative;
    top:1px;
  }
}
#moniker{
  position:absolute;
  top:0;left:80px;
  height:45px;
  color:lighten($base-light,5%);
  text-shadow:0 -1px 0 darken($base-dark,20%);
  font-size:31px;
  line-height:45px;
}
/*==*/
#body{
  position:absolute;
  top:50px;
  bottom:44px;
  left:0;
  width:100%;
  #bodyInner{
    width:100%;
    height:100%;
    position:relative;
  }
}
/*==*/
#sideBar,#thirdBar{
  width:30%;
  height:100%;
  background:$base-alternate;
  overflow:auto;
  position:relative;
  box-shadow:inset 0 0 7px lighten($base-dark,13%);
  ul.list{
    @extend .comp_listView;
  }
  ul.shortlist{
    @extend .comp_shortListView;
  }
  .headertoolbar{
    padding-left:31px;
    border-bottom:1px solid lighten($base-dark,40%);
    max-height:17px;
    overflow:hidden;
  }
  .footertoolbar{
     max-height:22px;
     overflow:hidden;
     padding-left:31px;
     z-index:2;
     border-top:1px solid lighten($base-dark,40%);
   }
   &.samelevel{
     box-shadow:none;
     border-right:1px solid lighten($base-dark,40%);
     .headertoolbar,.footertoolbar{
       box-shadow:none;
     }
   }
  #filterer{
    display:block;
    position:relative;
    #theFilter{
      width:100%;
      padding:2px 24px 2px 24px;
      font-size:12px;
      border-radius:10px;
      display:block;
      @include exp-prop(box-sizing,border-box);
      background:lighten($base-light,20%) url("../../images/admin/icon_inline_search.png") no-repeat 4px 0px;
    }
    a{
      width:16px;
      height:16px;
      position:absolute;
      right:4px;
      top:3px;
      background:url("../../images/admin/icon_trash.png") no-repeat;
      display:none;
    }
  }
  #searchCount{
    @extend .comp_searchCount;
  }
  #treeHolder{
    position:absolute;
    top:33px;
    bottom:0;
    width:100%;
    overflow:auto;
    > ul{
      margin-top:10px;
    }
  }
}
#thirdBar ul.list{
  li{
    @include lin-grad($base-light,lighten($base-light,5%));
    &.active{
      @include lin-grad($base-dark,lighten($base-dark,12%));
    }
    span.extraData{
      color:lighten($text-color,20%);
    }
  }
  &.reorderable{
    li{
      background:url("../../images/admin/drag_handle.png") no-repeat 5px 0.45em,-moz-linear-gradient($base-light,lighten($base-light,5%));
      background:url("../../images/admin/drag_handle.png") no-repeat 5px 0.45em,-webkit-linear-gradient($base-light,lighten($base-light,5%));
      background:url("../../images/admin/drag_handle.png") no-repeat 5px 0.45em,linear-gradient($base-light,lighten($base-light,5%));
      &.active{
        background:url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.45em,-moz-linear-gradient($base-dark,lighten($base-dark,12%));
        background:url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.45em,-webkit-linear-gradient($base-dark,lighten($base-dark,12%));
        background:url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.45em,linear-gradient($base-dark,lighten($base-dark,12%));
      }
    }
  }
}
/*==*/
/*==*/
#thirdBar{
  width:20%;
  background:url("../../images/admin/white_carbon.png");
  right:0;top:0;bottom:0;
  box-shadow:inset 0 0 7px lighten($base-dark,13%);
  overflow:auto;
  position:absolute;
  &.secondpane{
    right:auto;
    left:30%;
    background:lighten($base-alternate,5%);
  }
}
/*==*/
#mainContent{/*Has left sidebar*/
  position:absolute;
  width:70%;
  height:100%;
  overflow:auto;
  font-size:1.1em;
  right:0;
  &.threepane{/*Has left & right sidebars*/
    width:50%;
    float:none;
    position:absolute;
    top:0;
    right:20%;
    height:100%;
    &.lastpane{
      right:0;
    }
  }
  &.twopane{/*Has right sidebar*/
    width:80%;
    float:none;
    position:absolute;
    top:0;
    right:20%;
    height:100%;
  }
  &.onepane{/*Has NO sidebars*/
    width:100%;
    float:none;
    position:absolute;
    top:0;
    right:0;
    height:100%;
  }
  &.hastabs{
    top:34px;
  }
  h1,h2{
    border-bottom:1px solid darken($base-light,14%);
    font-weight:normal;
    font-size:1.8em;
    padding:0.3em 0;
    font-size-adjust:0.52;
    font-family:$main-font;
  }
  h2{
    font-size:1.6em;
    font-style:italic;
    font-weight:normal;
  }
  p{
    margin:1em 0;
  }
  #mainContentInner{
    position:relative;
  }
  .tab_content{
    display:none;
  }
  ul.list{
    @extend .comp_listView;
    border-radius:0.4em;
    position:relative;
    top:auto;left:auto;bottom:auto;
    li{
      border-top:1px solid #fff;
      border-bottom:1px solid #ddd;
      @include lin-grad($base-light,lighten($base-light,5%));
      &:first-child{
        border-radius:0.4em 0.4em 0 0;
      }
      &:last-child{
        border-radius:0 0 0.4em 0.4em;
      }
      &.active{
        @include lin-grad(darken($base-alternate,22%),darken($base-alternate,42%));
        text-shadow:0 -1px 0 darken($base-alternate,70%);
        color:lighten($base-light,10%);
        border-color:darken($base-alternate,10%);
      }
    }
    &.reorderable{
      li{
        background:url("../../images/admin/drag_handle.png") no-repeat 5px 0.65em,-moz-linear-gradient($base-light,lighten($base-light,5%));
        background:url("../../images/admin/drag_handle.png") no-repeat 5px 0.65em,-webkit-linear-gradient($base-light,lighten($base-light,5%));
        background:url("../../images/admin/drag_handle.png") no-repeat 5px 0.65em,linear-gradient($base-light,lighten($base-light,5%));
        &.active{
          background:url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.65em,-moz-linear-gradient(darken($base-alternate,22%),darken($base-alternate,42%));
          background:url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.65em,-webkit-linear-gradient(darken($base-alternate,22%),darken($base-alternate,42%));
          background:url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.65em,linear-gradient(darken($base-alternate,22%),darken($base-alternate,42%));
        }
      }
    }
  }
}
/*--*/
#loginBox{
  margin:0 auto;
  width:350px;
  padding:15px;
  margin-top:40px;
  background:$base-alternate;
  box-shadow:inset 0 0 3px lighten($base-dark,13%);
  border-radius:5px;
}
/*--*/
#innerTabs{
  @include lin-grad(darken($base-light,14%),desaturate(darken($base-light,35%),3%));
  position:absolute;
  left:30%;top:0;width:70%;
  ul{
    padding:0.7em 0.7em 0 0.7em;
    margin:0;
    list-style:none;
    li{
      position:relative;
      font-weight:bold;
      cursor:pointer;
      display:inline-block;
      padding:.3em .7em;margin:0;
      text-align:center;
      border-radius:5px 5px 0 0;
      border:1px solid lighten($base-dark,24%);
      border-bottom:none;
      @include lin-grad(darken($base-light,14%),darken($base-light,35%));
      text-shadow:none;
      &:hover{
        @include lin-grad($base-light,darken($base-light,35%));
      }
      &.active{
        background: $main-bg;
        border-color:lighten($base-light,2%);
        color:$text-color;
        text-shadow:0 1px 0 lighten($base-light,10%);
        cursor:default;
      }
      &.disabled{
        background:lighten($base-dark,40%);
        cursor:default;
      }
      span.count{
        color:lighten($base-light,10%);
        border-radius:64px;
        width:auto;
        overflow:hidden;
        font-weight:normal !important;
        text-shadow:none;
        font-size:10px;
        line-height:16px;
        padding:0;
        display:inline-block;
        float:left;
        margin-left:-5px;
        margin-right:5px;
        span{
          display:inline-block;
          background:red;
          padding:0 5px;
          &:first-child{
            background:$base-success;
          }
        }
      }
    }
  }
}
/*==*/
#footer{
  height:44px;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  border-top:1px solid lighten($base-light,10%);
  @include lin-grad(darken($base-light,11%),darken($base-light,0.8%));
  box-shadow:transparentize(darken($base-dark,20%),0.7) 0 -2px 5px;
  z-index:5;
}
#footerInner{
  padding:0 31px;
  padding-top:10px;
  padding-right:10px;
  line-height:14px;
  p.licensing{
    float:left;
    span{
      font-weight:bold;
      font-style:italic;
    }
  }
  p.copyright{
    float:right;
    img{
      float:right;
      margin-left:10px;
      margin-top:-2px;
    }
  }
}

#authenHolder{
  position:absolute;
  width:30%;
  left:35%;
  top:15px;
  text-align:center;
  font-weight:bold;
  font-size:1.1em;
  a:link, a:visited{
    color:lighten($base-light,10%);
    display:inline-block;
    margin-left:5px;
    background:$base-dark;
    padding:2px 5px;
    text-shadow:none;
    text-decoration:none;
    border-radius:3px;
    text-shadow:0 -1px 0 darken($base-dark,20%);
  }
  a:hover{
    background:lighten($base-dark,47%);
  }
}
/*==*/
#popupHolder{
  display:none;
  #overlay{
    z-index:10000;
    height:100%;width:100%;
    position:absolute;
    top:0;left:0;
    @include rad-grad((center center, circle cover, transparentize(darken($base-dark,20%),.7), transparentize(darken($base-dark,20%),.4) 100%));
  }
  #popupOuter{
    z-index:10001;
    background:lighten($base-light,10%);
    position:fixed;
    top:20%;
    left:20%;
    width:200px;height:200px;
    box-shadow:0 0 10px darken($base-dark,20%);
    border-radius:10px;
    padding:0.6em;
    padding-bottom:35px;

    @include transform(translateY(-500px) scale(0.1));
    @include transition(transform, 0.3s, ease-out);

    &.showing{
      @include transform(translateY(0) scale(1));
    }
  }
  #popup{
    position:relative;
    width:100%;height:100%;
    overflow:auto;
    font-size:1.1em;
  }
  #popupTitle{
    position:absolute;
    bottom:0;left:0;
    width:100%;
    height:30px;
    color:lighten($base-light,10%);
    @include lin-grad(lighten($base-dark,13%),darken($base-dark,13%));
    text-shadow:0 -1px 0 darken($base-dark,20%);
    border-radius:0 0 10px 10px;
    span{
      white-space:nowrap;
      text-overflow:ellipsis;
      overflow:hidden;
      display: block;
      font-size:16px;
      font-weight:normal;
      font-family:$main-font;
      padding: 0.4em 2em 0.6em 0.6em;
      text-align:center;
    }
    a{
      position:absolute;
      right:0.6em;
      top:0.6em;
      width:18px;
      height:18px;
      background:lighten($base-light,10%) url("../../images/admin/icon_cross.png") no-repeat 1px 1px;
      border-radius:64px;
      box-shadow:0 0 5px darken($base-dark,20%);
    }
  }
}
/*====TREE====*/
/* TREE LAYOUT */
.tree ul { margin:0 0 0 5px; padding:0 0 0 0; list-style-type:none; }
.tree li { display:block; min-height:18px; line-height:18px; padding:0 0 0 15px; margin:0 0 0 0; /* Background fix */ clear:both; _height:18px; #height:auto; }
.tree li ul { display:none; }
.tree li a, .tree li span { display:inline-block;line-height:16px;height:16px;color:black;white-space:nowrap;text-decoration:none;padding:1px 4px 1px 1px;margin:0; }
.tree li a:focus { outline: none; }
.tree li a input, .tree li span input { margin:0;padding:0 0;display:inline-block;height:12px !important;border:1px solid white;background:white;font-size:10px;font-family:Verdana; }
.tree li a input:not([class="xxx"]), .tree li span input:not([class="xxx"]) { padding:1px 0; }
/* FOR DOTS */
.tree .ltr li.last { float:left; }
.tree .rtl li.last { float:right; #float:none; _float:right; }
.tree > ul li.last { overflow:visible; }
/* OPEN OR CLOSE */
.tree li.open ul { display:block; }
.tree li.closed ul { display:none !important; }
/* FOR DRAGGING */
#jstree-dragged { position:absolute; top:-10px; left:-10px; margin:0; padding:0; }
#jstree-dragged .rtl { _width:20px; #width:200px; margin:0; padding:0;}
#jstree-dragged ul ul ul { display:none; }

/* RTL modification */
.tree .rtl, .tree .rtl ul { margin:0 5px 0 0; }
.tree .rtl li { padding:0 15px 0 0; }
.tree .rtl li a, .tree .rtl li span { padding:1px 1px 1px 4px; }

/* CONTEXT MENU */
.tree-context { display:none; position:absolute; list-style-type:none; margin:0; padding:0; left:-2000px; top:-2000px; }
.tree-context .separator { display:none; }
.tree-context a { display:block; margin:0; padding:0; }

/** FIREFOX2 fix **/
.tree .ltr li a, x:-moz-any-link { display:inline; float:left; }
.tree .rtl li a, x:-moz-any-link { display:inline; float:right; }
.tree li ul, x:-moz-any-link { clear:both; }
/** FIREFOX3 restore **/
.tree .ltr li a, .tree .rtl li a, x:-moz-any-link, x:default { display:inline-block; float:none; }
.tree li ul, x:-moz-any-link, x:default { clear:none; }
/** IE7 Restore **/
.tree .ltr li a, .tree .rtl li a { #display:inline-block; #float:none; }
.tree li ul { #clear:none; }

.tree li { _width:1px; }
.tree li li { overflow:hidden; #overflow:visible; _overflow:visible; }

.tree > .ltr > li { display:table; }
.tree > .rtl > li { display:table; }


/* EXPLORER 6 and 7 fix for 2px whitespace */
.tree .ltr li.last { #margin-top: expression( (this.previousSibling && /open/.test(this.previousSibling.className) ) ? "-2px" : "0"); _margin-top: expression( (this.previousSibling && /open/.test(this.previousSibling.className) ) ? "-2px" : "0"); }
.tree .rtl li.last { _margin-top: expression( (this.previousSibling && /open/.test(this.previousSibling.className) ) ? "-2px" : "0"); }

/* OPERA SCROLLBAR ISSUE */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	head~body .tree > ul > li.last > ul { margin-bottom:36px; }
	.tree li li { overflow:visible; }
}

/*
FIREFOX FIX
@-moz-document url-prefix() {}
*/
/* LOCKED */
.tree .locked li a { color:gray; }
/* DOTS */
.tree{
  ul{
    background-position:6px 1px;
    background-repeat:repeat-y;
    background-image:url("../../images/admin/tree/dot.gif");
  }
  li{
    background-position:7px 8px;
    background-repeat:no-repeat;
    background-image:url("../../images/admin/tree/li.gif");
    &.last{
      background-position:5px top;
      background-repeat:no-repeat;
      background-image:url("../../images/admin/tree/lastli.gif");
    }
  }
  /* DOTS - RIGHT TO LEFT */
  .rtl{
    &,& ul{
      background-position:right 1px;
    }
    li{
      background-position:right 8px;
      &.last{
        background-image:url("../../images/admin/tree/lastli_rtl.gif");
        background-position:right top;
      }
    }
  }
}

/* NO DOTS */
.tree .no_dots, .tree .no_dots ul { background:transparent; }
.tree .no_dots li.leaf { background-image:none; background-color:transparent; }
/* OPEN or CLOSED */
.tree li.open { background:url("../../images/admin/fminus.gif") 4px 6px no-repeat; }
.tree li.closed, #jstree-dragged.tree li li.open { background:url("../../images/admin/tree/fplus.gif") 5px 5px no-repeat; }

/* RIGHT TO LEFT */
.tree .rtl li { margin-right:1px; }
.tree .rtl li.last { margin-right:0; padding-right:16px; }
.tree .rtl li.open { background:url("../../images/admin/tree/fminus_rtl.gif") right 6px no-repeat; margin-right:0; padding-right:16px; }
.tree .rtl li.closed, #jstree-dragged.tree .rtl li li.open { background:url("../../images/admin/tree/fplus_rtl.gif") right 4px no-repeat; margin-right:0; padding-right:16px; }

/* DEFAULT, HOVER, CLICKED, LOADING STATES */
.tree li a, .tree li span { background-color:transparent; background-repeat:no-repeat; background-position:4px 1px; padding:1px 4px 1px 23px !important; background-image:url("../../images/admin/tree/f.png"); border-radius:2px; }
.tree li a:hover, .tree li a.hover { background-color: darken($base-alternate,10%); border:1px solid transparent; padding:0px 3px 0px 22px !important; background-position:3px 0px; text-shadow:none; }
.tree li a.clicked, .tree li a.clicked:hover, .tree li span.clicked { background-color: darken($base-alternate,32%); border:1px solid transparent; padding:0px 3px 0px 22px !important; background-position:3px 0px; color:lighten($base-light,10%);text-shadow:0 -1px 0 saturate(darken($base-alternate,55%),49%);  }
.tree li span.clicked { padding:0px 3px 0px 20px; }
.tree li a.loading { background-image:url("../../images/admin/tree/throbber.gif"); }

/* DEFAULT, HOVER, CLICKED, LOADING STATES - RIGHT TO LEFT */
.tree .rtl li a, .tree .rtl li span { padding:1px 23px 1px 4px; background-position:right 1px; margin-right:1px; }
.tree .rtl li a:hover, .tree .rtl li a.hover { padding:0px 23px 0px 3px; background-position:right 0px; margin-right:0px; }
.tree .rtl li a.clicked, .tree .rtl li a.clicked:hover, .tree .rtl li span.clicked { padding:0px 23px 0px 3px; background-position:right 0px;  margin-right:0px; }
.tree .rtl li span.clicked { padding:0px 21px 0px 3px; }

/* CONTEXT MENU */
.tree-context { width:160px; background:#fefefe url("../../images/admin/tree/context.gif") 22px 0 repeat-y; border:1px solid silver; position:absolute;font-size:12px;
  border-radius:5px;
  box-shadow:0 3px 5px #000;}
.tree-context a, .tree-context a.disabled:hover { display:block; text-decoration:none; color:black; background-repeat: no-repeat; background-position:2px center; padding:0.2em 0 0.2em 25px !important; background-color:transparent; border:1px solid #fefefe; border-width:0 1px; margin:0; }
.tree-context a:hover { background-color:#e7f4f9;
  padding:0.2em 0 0.2em 25px !important; margin:0; }
.tree-context a.disabled, .tree-context a.disabled:hover { color:silver; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); zoom:1; }
.tree-context .separator { background:lighten($base-light,10%);border-top:1px solid #e3e3e3;font-size:1px;height:1px;line-height:1px;margin:0 2px 0 24px;min-height:1px;display:block; }