@import "_mixins";
@import "_variables";

#sideBar {
  width: 25%;
}

#thirdBar {
  width: 15%;
}

#mainContent {
  width: 75%;
}

#innerTabs {
  left: 25%;
  width: 60%;
}

#mainContent.threepane {
  width: 60%;
  right: 15%;
  height: auto;
  bottom: 0;
}

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#previewArea, #editArea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 31px;
}

#treeHolder ul li.onDrop>a:first-of-type, #productTreeHolder ul li.onDrop>a:first-of-type {
  background-color: $base-dark;
  color: lighten($base-light,10%);
  text-shadow: 0 -1px 0 black;
}

#editorToolbar, #EditableArea_parent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

#editorToolbar {
  z-index: 2;
}

#EditableArea_parent {
  bottom: 0;
}

#editorToolbar .mceExternalToolbar {
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px darken($base-dark,20%);
  @include lin-grad(darken($base-light,0.8%), darken($base-light,14%));
}

#EditableArea_ifr, #previewIframe {
  position: absolute;
  top: 52px;
  right: 0;
  left: 0;
  bottom: 40px;
  z-index: 1;
}

#autoSaveInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 0 10px darken($base-dark,20%);
  height: 97px;
  width: 446px;
  background: #FFFB00;
  padding: 3px 15px;
  margin-top: -97px;
  margin-left: -223px;

  @include transition((transform,opacity),0.3s,ease-out);

  p {
    text-shadow: 0 1px 0 #FFFD8F;
    font-weight: bold;
  }
  &.hide {
    opacity: 0;
    @include transform(scale(0.1));
  }
}

/*Orphanage*/

#orphanage_link {
  position: absolute;
  @include lin-grad(darken($base-light,14%), darken($base-light,0.8%));
  color: darken($base-dark,20%);
  padding: 5px 7px;
  border-radius: 64px;
  box-shadow: inset 0 0 3px darken($base-dark,20%);
  font-size: 12px;
  line-height: 12px;
  right: 1.1em;
  top: .5em;
  text-shadow: 0 1px 0 lighten($base-light,10%);
  font-weight: normal;
  cursor: pointer;
  @include exp-prop(user-select,none);
  &.active {
    background: darken($base-alternate,32%);
    color: lighten($base-light,10%);
    text-shadow: 0 -1px 0 saturate(darken($base-alternate,55%),49%);
  }
}

/*End Orphanage*/
/*--VERSIONS--*/

#versionsCount {
  position: absolute;
  background: darken($base-alternate,32%);
  color: lighten($base-light,10%);
  padding: 5px;
  border-radius: 64px;
  box-shadow: inset 0 0 3px darken($base-dark,20%);
  font-size: 12px;
  line-height: 12px;
  right: 1.1em;
  top: .5em;
  text-shadow: 0 -1px 0 saturate(darken($base-alternate,55%),49%);
}

#versionPanel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    @include lin-grad(#fdfdfd, darken($base-light,0.8%));
    border-radius: 3px;
    padding: .5em .3em;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 3px darken($base-dark,20%);

    @include transition(transform,0.3s);

    &.active {
      @include lin-grad(#525252, $base-dark);
      color: lighten($base-light,10%);
      text-shadow: 0 -1px 0 black;

      @include transform(scale(1.04));
    }
    input {
      float: right;
      margin-left: 2px;
      margin-top: -0.1em;

      @include transition(margin-top,0.3s);
    }
    div {
      &.summary {
        margin-left: 2em;
        max-height: 100px;
        overflow: hidden;
        font-size: 10px;
        line-height: 13px;
      }
      &.details {
        position: relative;
        z-index: 1;
        max-height: 0px;
        overflow: hidden;

        @include transition(max-height,0.3s);

        span {
          margin-left: 2.5em;
          display: block;
        }
      }
      &.name {
        position: absolute;
        width: auto;
        background: #525252;
        top: 0.3em;
        left: 0.3em;
        display: block;
        border-radius: 3px;
        box-shadow: inset 0 0 2px darken($base-dark,20%);
        text-shadow: 0 -1px 0 black;
        white-space: nowrap;
        padding: 0px 3px;
        font-size: 10px;
        height: 18px;
        overflow: hidden;
        color: lighten($base-light,10%);
        text-align: center;
        span {
          font-weight: normal;
          overflow: hidden;
          display: inline-block;
          &.shrink {
            max-width: 0px;
          }
        }
      }
    }
    &.active {
      z-index: 7;
      div {
        &.summary {
          max-height: 0px;
        }
        &.details {
          max-height: 200px;
        }
      }
      input {
        margin-top: 1.7em;
      }
      div.name {
        width: 5em;
        left: 2.1em;
        top: auto;
        bottom: 0.5em;
        @include lin-grad(#eaefb5,#e1e9a0);
        color: $base-dark;
        font-weight: bold;
        text-shadow: none;
        box-shadow: none;

        @include transform(rotate(-90deg));
        @include transform-origin(0 100%);

        span.shrink {
          max-width: 50px;
        }
      }
    }
  }
}

#versionsCompare {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  @include lin-grad(darken($base-light,0.8%), darken($base-light,14%));
  text-align: center;
  padding: .3em 0;
  z-index: 2;
}

/*DIFF View*/

#previewArea {
  display: none;
  div.edit_page_content {
    height: 38px;
    text-align: center;
    padding-top: 15px;
    position: absolute;
    left: 0;
    right: 0;
    @include lin-grad(darken($base-light,0.8%), darken($base-light,14%));
    box-shadow: 0 0 5px darken($base-dark,20%);
    z-index: 2;
    font-size: 14px;
  }
}

#diffFooter {
  height: 30px;
  text-align: center;
  font-weight: normal;
}

#previewArea div.edit_page_content {
  span.versn {
    border-radius: 3px;
    box-shadow: inset 0 0 2px darken($base-dark,20%);
    text-shadow: 0 -1px 0 black;
    white-space: nowrap;
    padding: 3px 7px;
    @include lin-grad(#eaefb5,#e1e9a0);
    color: $base-dark;
    text-shadow: 0px 1px 0px lighten($base-light,10%);
    width: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 1px;
  }
  button {
    &.left {
      border-radius: 10px 0 0 10px;
    }
    &.right {
      border-radius: 0 10px 10px 0;
    }
  }
}

/*--END VERSIONS--*/
