@import "_mixins";
@import "_variables";

#sideBar {
  width: 20%;
}

#thirdBar {
  &.secondpane {
    left: 20%;
    width: 25%;
  }
  div.placeholder {
    position: absolute;
    top: 43px;
    display: block;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    text-shadow: 0 -1px 0 #5d759f;
    color: #cdd4e2;
    @include exp-prop(box-sizing,border-box);
  }
}

#mainContent {
  width: 75%;
}

#innerTabs {
  left: 40%;
  width: 60%;
}

#mainContent.threepane {
  width: 55%;
  right: 0;
  height: auto;
  bottom: 0;
}

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.comp_multilineListView li.state-1 {
  border-left: 5px solid rgba(255, 0, 0, 1);
}

img.adder,img.deleter{
  cursor:pointer;
}
input[type=text].isOther,select.hasOther{
  display:block;
}
input[type=text].isOther{
  min-width:20px;
  width:90px;
  font-size:0.8em !important;
  display:block;
  display:none;
}
select.hasOther{
  min-width:40px;
}