@import "_mixins";
@import "_variables";

#widgetsHolder {
  display: block;
}

#widgetsMain {
  float: left;
  width: 58%;
  padding: 10px;
  min-height: 400px;
}

#widgetsRight {
  float: right;
  width: 38%;
  padding: 10px;
  min-height: 400px;
}
#widgetsRight,#widgetsMain{
  &.onDrop {
    @include rad-grad((circle, darken($base-alternate,20%), darken($base-alternate,29%)));
  }
}

.dashbox, .placeholder {
  border: 1px solid darken($base-light,14%);
  border-top: none;
  background: lighten($base-light,10%);
  display: inline-block;
  border-radius: 5px;
  margin: 1%;
  float: left;
  vertical-align: top;
}

.dashbox {
  width: 98%;
  @include transition(width,0.3s);
  &.ui-sortable-helper{
     @include transition(none,0s);
  }
}

.placeholder {
  background: lighten($base-alternate,5%);
  border: 1px dashed darken($base-dark,2%);
  min-height:332px;
}

.dashbox {
  .headertoolbar {
    position: relative;
    cursor: move;
    a {
      &:link, &:visited {
        width: 21px;
        height: 21px;
        position: absolute;
        right: 5px;
        background: url("../../images/admin/dash_widget_control.png") no-repeat -42px -28px;
      }
      &.minimise {
        right: 26px;
        background-position: -21px -28px;
      }
      &.options {
        right: 47px;
        background-position: 0px -28px;
      }
      &.close:hover {
        background-position: -42px 2px;
      }
      &.minimise:hover {
        background-position: -21px 2px;
      }
      &.options:hover {
        background-position: 0px 2px;
      }
    }
    ul {
      position: absolute;
      font: normal 11px / 18px Arial, Verdana, Helvetica;
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      background: lighten($base-light,10%);
      box-shadow: 0 0 5px lighten($base-dark,13%);
      border-radius: 0 0 3px 3px;
      right: 54px;
      top: 2.9em;
      z-index: 100;

      @include transform(scale(0));

      @include transform-origin(100% 0);

      @include transition((transform,opacity),0.1s);

      &.showing {
         @include transform(scale(1));
        opacity: 1;
      }
      li {
        cursor: pointer;
        padding: 3px 7px;
        font-weight: bold;
        &:hover {
          background: lighten($base-alternate,4%);
        }
        &:last-child{
          border-radius: 0 0 3px 3px;
        }
      }
    }
  }
  .content {
    padding: 10px;
    padding-bottom: 0px;
    height: 290px;
    max-height: 1000px;
    overflow: auto;
    box-shadow: inset 0 0 3px lighten($base-dark,13%);
    background:$base-alternate;

    @include transition((max-height,padding),0.3s);

    iframe {
      width: 100%;
      height: 280px;
      border: none;
      iframe {
        overflow: hidden;
      }
    }
  }
  &.two_thirds{
    width:64%;
  }
  &.half {
    width: 47.5%;
  }
  &.third {
    width: 31%;
  }
  &.minimised {
    .content {
      max-height: 0px;
      overflow: hidden;
      padding: 0;
    }
    .headertoolbar a.minimise {
      background-position: -21px 2px !important;
    }
  }
}