#diffParent span {
  &.diff-tag-html {
    font-family: "Andale Mono",monospace;
    font-size: 80%;
  }
  &.diff-tag-removed {
    font-size: 100%;
    text-decoration: line-through;
    background-color: #fdc6c6;
  }
  &.diff-tag-added {
    font-size: 100%;
    background-color: #cfc;
  }
  &.diff-html-added {
    font-size: 100%;
    background-color: #cfc;
    cursor: pointer;
  }
  &.diff-html-removed {
    font-size: 100%;
    text-decoration: line-through;
    background-color: #fdc6c6;
    cursor: pointer;
  }
  &.diff-html-changed {
    position: relative;
    background-color: #c6c6fd;
    cursor: pointer;
  }
  &.diff-html-selected {
    background-color: #F80;
    cursor: pointer;
    img {
      border: 2px solid #F80;
    }
  }
  &.diff-html-added img {
    border: 2px solid #cfc;
  }
  &.diff-html-removed img {
    border: 2px solid #fdc6c6;
  }
  &.diff-html-changed {
    img {
      border: 2px dotted #009;
    }
    span.tip {
      display: none;
    }
    &:hover span.tip {
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      width: 15em;
      text-align: left;
      z-index: 100;
      padding: 3px 7px 4px 6px;
      border: 1px solid #336;
      background-color: #f7f7ee;
      font: normal 9px / 12px Syntax, Verdana, Helvetica, Arial;
      color: #000;
    }
  }
  &.tip span.changelist {
    padding-left: 0;
    span {
      display: block;
    }
  }
}
