@import "_mixins";
@import "_variables";

#sideBar {
  width: 25%;
}

#thirdBar {
  width: 25%;
}

#mainContent {
  width: 75%;
}

#innerTabs {
  left: 25%;
  width: 60%;
}

#mainContent.threepane {
  width: 50%;
  right: 25%;
  height: auto;
  bottom: 0;
}

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

