@import "_mixins";
@import "_variables";
/*==*/

#thirdBar {
  bottom: 155px; }

#mainContentInner {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  background: $base-alternate;
  &.onDrop {
    @include rad-grad((circle, darken($base-alternate,20%), darken($base-alternate,29%)));
  }
}

#downloads {
  top: 33px;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
  overflow: auto;
}

#downloadInner {
  padding: 0.5% 1%;
}

/*--*/

div {
  &.download {
    width: 88px;
    min-height: 90px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    @include lin-grad(#fdfdfd, darken($base-light,0.8%));
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 1px 3px lighten($base-dark,13%);
    position: relative;
    cursor: pointer;
    overflow: hidden;

    @include exp-prop(user-select,none);

    @include transition((transform,display,width,height,margin,padding,opacity,background),0.25s);

    input {
      margin-top: 25%;
      float: left;
      @include transition(all,0.25s);
    }
    span {
      &.icon img {
        float: right;
        height: 64px;
        @include transition(all,0.25s);
      }
      &.name {
        display: block;
        clear: both;
        text-align: center;
        font-size: 10px;
        overflow: hidden;
        height: 14px;
        line-height: 14px;
        @include transition(all,0.25s);
      }
      &.filename {
        clear: both;
        display: block;
        text-align: center;
        font-size: 9px;
        overflow: hidden;
        height: 12px;
        line-height: 12px;
        color: lighten($base-dark,20%);
        @include transition(all,0.25s);
      }
      &.uploadedOn {
        display: none;
      }
    }
  }
  &.not_visible {
    background: darken($base-light,0.8%);
    box-shadow: inset 0 0 5px lighten($base-dark,13%);
  }
}

/*-*/

.smallView div.download {
  width: 100px;
  min-height: 40px;
  _height: 40px;
  padding: 3px;
  border-radius: 3px;
  margin: 2px;
  input {
    margin-top: 5%;
    float: left;
  }
  span {
    &.icon img {
      float: left;
      height: 24px;
    }
    &.name {
      clear: right;
      float: right;
      display: inline;
      width: 55px;
      height: 28px;
      overflow: hidden;
      text-align: left;
      font-size: 11px;
    }
    &.filename {
      text-align: center;
    }
  }
}

/*-*/
/*-*/

.listView div.download {
  width: 99%;
  min-height: 0;
  height: 20px;
  margin: 0;
  box-shadow: none;
  border-bottom: 1px solid darken($base-light,14%);
  input {
    margin-top: 0.5%;
    float: left;
  }
  span {
    &.icon img {
      float: left;
      height: 24px;
    }
    &.name {
      clear: none;
      float: left;
      display: inline;
      text-align: left;
      padding-left: 10px;
      height: 28px;
      overflow: hidden;
      width: 300px;
      line-height: 12px;
    }
    &.filename {
      clear: none;
      float: left;
      text-align: right;
      font-size: 10px;
      overflow: hidden;
      height: 28px;
      line-height: 12px;
      color: lighten($base-dark,20%);
      width: 190px;
    }
    &.uploadedOn {
      display: inline;
      clear: none;
      float: right;
      text-align: right;
      font-size: 10px;
      overflow: hidden;
      height: 28px;
      line-height: 12px;
      color: lighten($base-dark,20%);
      width: 90px;
    }
  }
}

div {
  &.download.ui-selected {
    @include lin-grad(#525252, $base-dark);
    span {
      color: lighten($base-light,10%) !important;
      text-shadow: 0 -1px 0 black;
    }
  }
  &.ui-selected.not_visible {
    @include lin-grad(lighten($base-dark,40%), #777777);
    box-shadow: inset 0 0 5px $base-dark;
  }
  &.download.deleted {
    @include transition(all,0.5s);

    @include transform(translateY(-100%));

    opacity: 0;
    background: red;
    z-index: 2700;
  }
}

/*-*/

#trashCan {
  z-index: 1;
  width: 20%;
  right: 0;
  bottom: 0;
  height: 155px;
  position: absolute;
  border: 1px solid lighten($base-dark,40%);
  text-align: center;

  @include exp-prop(box-sizing,border-box);

  @include rad-grad((circle, lighten($base-light,10%), #aaaaaa));
  img {
    padding: 5px 0px;
  }
  span {
    display: block;
    padding-top: 5px;
    &.headertoolbar {
      text-align: left;
      padding-top: .4em;
    }
  }
  &.onDrop {
    @include rad-grad((circle, darken($base-alternate,20%), darken($base-alternate,29%)));
  }
}

#downloadEditor th {
  text-align: left;
}

/* -- */

div.download.pn {
  text-align: center;
  span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.bar_holder {
      height: 10px;
      border: 1px solid #536d7a;
      margin: 3px;
      position: absolute;
      bottom: 10px;
      width: 80px;
    }
    &.bar {
      @include lin-grad(#b0cde5, (#6cc2e2 15%, #0e62a8 73%, #6cc2e2 100%));
      height: 10px;
      width: 0%;
      @include transition(width,0.2s,ease-out);
    }
  }
}

.listView div.download.pn span {
  float: left;
  width: 24%;
  &.bar_holder {
    position: relative;
    bottom: auto;
    width: auto;
  }
}

.smallView div.download.pn span.bar_holder {
  position: relative;
  bottom: auto;
  width: auto;
}

.listView div.download.pn span {
  &.bar_holder {
    float: right;
    width: 75%;
  }
  &.bar {
    float: none;
    width: 0;
  }
}

/*--*/

.drag_count{
  margin: -8px;
  font-size: 14px;
  line-height: 16px;
  background: #ff0023;
  color: lighten($base-light,10%);
  padding: 1px 3px;
  border-radius: 64px;
  box-shadow: 0px 1px 3px darken($base-dark,20%);
  text-shadow: 0 -1px 0 red;
}

/*==*/

div.ui-selectable-helper {
  position: absolute;
  border: 1px dotted $base-dark;
  background: rgba(0, 0, 255, 0.1);
}
