@import "_mixins";
@import "_variables";

#sideBar {
  width: 25%;
}

#thirdBar {
  width: 15%;
}

#mainContent {
  width: 75%;
}

#innerTabs {
  left: 25%;
  width: 60%;
}

#mainContent.threepane {
  width: 60%;
  right: 15%;
  height: auto;
  bottom: 0;
}

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#previewArea, #editArea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 31px;
}

#editorToolbar, #EditableArea_parent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

#editorToolbar {
  z-index: 2;
}

#EditableArea_parent {
  bottom: 0;
}

#editorToolbar .mceExternalToolbar {
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px darken($base-dark,20%);
  @include lin-grad(darken($base-light,0.8%), darken($base-light,14%));
}

#EditableArea_ifr, #previewIframe {
  position: absolute;
  top: 52px;
  right: 0;
  left: 0;
  bottom: 40px;
  z-index: 1;
}

#autoSaveInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 0 10px darken($base-dark,20%);
  height: 97px;
  width: 446px;
  background: #FFFB00;
  padding: 3px 15px;
  margin-top: -97px;
  margin-left: -223px;
  @include transition((transform,opacity),0.3s,ease-out);
  p {
    text-shadow: 0 1px 0 #FFFD8F;
    font-weight: bold;
  }
  &.hide {
    opacity: 0;
    @include transform(scale(0.1));
  }
}
