@import "_mixins";
@import "_variables";
/*==*/

#thirdBar {
  bottom: 155px; }

#mainContentInner {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  background: $base-alternate;
  &.onDrop {
    @include rad-grad((circle, darken($base-alternate,20%), darken($base-alternate,29%)));
  }
}

#downloads {
  top: 33px;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
  overflow: auto;
  z-index:4;
}

#downloadInner {
  padding:1%;
}

/*--*/

div {
  &.download {
    @include _image_tiles();
    margin:10px 15px;
    &.ui-selected{
      border-color:darken($base-alternate,50%);
      box-shadow:0 0 30px darken($base-alternate,30%);
      &:before,&:after{
        box-shadow:none;
      }
    }
  }
}


/*-*/

#trashCan {
  z-index: 1;
  width: 20%;
  right: 0;
  bottom: 0;
  height: 155px;
  position: absolute;
  border: 1px solid lighten($base-dark,40%);
  text-align: center;

  @include exp-prop(box-sizing,border-box);

  @include rad-grad((circle, lighten($base-light,10%), #aaaaaa));
  img {
    padding: 5px 0px;
  }
  span {
    display: block;
    padding-top: 5px;
    &.headertoolbar {
      text-align: left;
      padding-top: .4em;
    }
  }
  &.onDrop {
    @include rad-grad((circle, darken($base-alternate,20%), darken($base-alternate,29%)));
  }
}

#downloadEditor th {
  text-align: left;
}

/* -- */

/*--*/

div.download.drghelper {
  opacity: 0.7;
  max-width: 76.5%;
}

#multifileDragHelper {
  opacity: 1 !important;
  text-align: center;
  background: url("../../images/admin/files.png") no-repeat left top;
  width: 130px !important;
  height: 130px !important;
  span.count {
    float: left;
    margin: 95px 0 0 75px;
    font-size: 14px;
    line-height: 16px;
    background: #ff0023;
    color: lighten($base-light,10%);
    padding: 1px 3px;
    border-radius: 64px;
    box-shadow: 0px 1px 3px darken($base-dark,20%);
    text-shadow: 0 -1px 0 red;
  }
}

/*==*/

div.ui-selectable-helper {
  position: absolute;
  border: 1px dotted $base-dark;
  background: rgba(0, 0, 255, 0.1);
  z-index:5;
}
