@import "_mixins";
@import "_variables";

#sideBar {
  width: 17%;
}

#thirdBar {
  &.secondpane{
    left:17%;
    width:23%;
  }
  div.placeholder{
    position:absolute;
    top:43px;
    display:block;
    padding:10px;
    width:100%;
    text-align:center;
    font-weight:600;
    font-size:32px;
    text-shadow:0 -1px 0 darken($base-alternate,40%);
    color:darken($base-alternate,5%);
    @include exp-prop(box-sizing,border-box);
  }
}

#mainContent {
  width: 80%;
}

#innerTabs {
  left: 40%;
  width: 60%;
}

#mainContent.threepane {
  width: 60%;
  right: 15%;
  height: auto;
  bottom: 0;
}

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#sideBar ul li b.state{
  width: 10px;
  height: 0.9em;
  display:inline-block;
  vertical-align:baseline;
  margin: 0;
  &.state-1{
    background:transparentize(red,0.3);
  }
  &.state-2{
    background:transparentize(green,0.4);
  }
  &.state-3{
    background:transparentize(#ff00ff,0.7);
  }
  &.state-4{
    background:transparentize(blue,0.7);
  }
  &.state-5{
    background:transparentize(yellow,0.7);
  }
}
.ordered_items{
  td.totals{
    text-align:right;
    padding:0;
  }
  &>tbody>tr:nth-child(2n){
    > td:not(.totals){
      background:lighten($base-alternate,9%);
    }
  }
}

