@import "_mixins";
@import "_variables";

#sideBar {
  width: 20%;
}

#thirdBar {
  &.secondpane{
    left:20%;
    width:25%;
  }
  div.placeholder{
    position:absolute;
    top:43px;
    display:block;
    padding:10px;
    width:100%;
    text-align:center;
    font-weight:600;
    font-size:32px;
    text-shadow:0 -1px 0 darken($base-alternate,40%);
    color:darken($base-alternate,5%);
    @include exp-prop(box-sizing,border-box);
  }
}

#mainContent {
  width: 80%;
}

#innerTabs {
  left: 45%;
  width: 55%;
}

#mainContent.threepane {
  width: 55%;
  right: 15%;
  height: auto;
  bottom: 0;
}

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#editArea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 31px;
}

#editorToolbar, #EditableArea_parent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

#editorToolbar {
  z-index: 2;
}

#EditableArea_parent {
  bottom: 0;
}

#editorToolbar .mceExternalToolbar {
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px darken($base-dark,20%);
  @include lin-grad(darken($base-light,0.8%), darken($base-light,14%));
}

#EditableArea_ifr{
  position: absolute;
  top: 52px;
  right: 0;
  left: 0;
  bottom: 40px;
  z-index: 1;
}

#treeHolder ul li.onDrop>a:first-of-type, #productTreeHolder ul li.onDrop>a:first-of-type {
  background-color: $base-dark;
  color: lighten($base-light,10%);
  text-shadow: 0 -1px 0 black;
}

/*Orphanage*/

#orphanage_link {
  position: absolute;
  @include lin-grad(darken($base-light,14%), darken($base-light,0.8%));
  color: darken($base-dark,20%);
  padding: 5px 7px;
  border-radius: 64px;
  box-shadow: inset 0 0 3px darken($base-dark,20%);
  font-size: 12px;
  line-height: 12px;
  right: 1.1em;
  top: .5em;
  text-shadow: 0 1px 0 lighten($base-light,10%);
  font-weight: normal;
  cursor: pointer;
  @include exp-prop(user-select,none);
  &.active {
    background: darken($base-alternate,32%);
    color: lighten($base-light,10%);
    text-shadow: 0 -1px 0 saturate(darken($base-alternate,55%),49%);
  }
}
#orphanage{
  left:20%;
}

/*End Orphanage*/