@import "_mixins";
@import "_variables";

#sideBar {
  width: 25%;
}

#thirdBar {
  width: 15%;
}

#mainContent {
  width: 75%;
}

#innerTabs {
  left: 25%;
  width: 60%;
}

#mainContent.threepane {
  width: 60%;
  right: 15%;
  height: auto;
  bottom: 0;
}

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#previewArea, #editArea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 31px;
}

#editorToolbar, #EditableArea_parent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

#editorToolbar {
  z-index: 2;
}

#EditableArea_parent {
  bottom: 0;
}

#editorToolbar .mceExternalToolbar {
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px darken($base-dark,20%);
  @include lin-grad(darken($base-light,0.8%), darken($base-light,14%));
}

#EditableArea_ifr, #previewIframe {
  position: absolute;
  top: 52px;
  right: 0;
  left: 0;
  bottom: 40px;
  z-index: 1;
}


// ***********
// ***********
// mixing

@mixin border-bottom-radius($arguments){
  -webkit-border-bottom-right-radius: $arguments;
  -webkit-border-bottom-left-radius: $arguments;
  -moz-border-radius-bottomright: $arguments;
  -moz-border-radius-bottomleft: $arguments;
  -o-border-bottom-left-radius: $arguments;
  -o-border-bottom-left-radius: $arguments;
  border-bottom-right-radius: $arguments;
  border-bottom-left-radius: $arguments;
  @include behavior();
}
@mixin border-top-radius($arguments){
  -webkit-border-top-right-radius: $arguments;
  -webkit-border-top-left-radius: $arguments;
  -moz-border-radius-topright: $arguments;
  -moz-border-radius-topleft: $arguments;
  -o-border-top-left-radius: $arguments;
  -o-border-top-left-radius: $arguments;
  border-top-right-radius: $arguments;
  border-top-left-radius: $arguments;
  @include behavior();
}

// ******
// ******
// template css 

.balance-amount {
    background: rgb(206,220,251); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(left, #CEDCFB 0%, #FFFFFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#CEDCFB), color-stop(100%,white)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #CEDCFB 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #CEDCFB 0%,#FFFFFF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #CEDCFB 0%,#FFFFFF 100%); /* IE10+ */
    background: linear-gradient(to right, #CEDCFB 0%,#FFFFFF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEDCFB', endColorstr='#FFFFFF',GradientType=1 ); /* IE6-8 */

    @include border-radius(4px);
    color: #0B2661;
    font-size: 16px;
    padding: 10px;
}
.balance-amount-error {
    background: #E31607; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(left, #E31607 0%, #FFFFFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#E31607), color-stop(100%,white)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #E31607 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #E31607 0%,#FFFFFF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #E31607 0%,#FFFFFF 100%); /* IE10+ */
    background: linear-gradient(to right, #E31607 0%,#FFFFFF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CEDCFB', endColorstr='#FFFFFF',GradientType=1 ); /* IE6-8 */
    
    @include border-radius(4px);
    color: #fff;
    font-size: 16px;
    padding: 10px;
 }
 
 label {font-weight: bold;}
 
.sms-rate-form,
.message-form {
  width: 65%;
  margin: 0 auto;
  p {
    display: block;
    
    label {
      width: 160px;
      display: inline-block;
      *display: inline;
      font-weight: bold;
      text-align: right;
      vertical-align: top;
      margin-right: 0 !important;
      span {
        margin-right: 5px;        
      }
    }
    
    input[type="password"], 
    input[type="text"], 
    textarea, 
    select {
      min-width: 15%;
      width: 460px;
      vertical-align: top;
    }
    .note {
      display: block;
      text-align: right;  
      font-size: 10px;
      margin: 0 25px 0 142px;
    }
  
  }
  
  
}

.history-form {
  label {
    display: inline-block;
    *display: inline;
    font-weight: bold;
    vertical-align: top;
  }
  
  input {
    color: #2A4682;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    min-width: 80px !important;
    width:  80px;
  }
}

.table-style {
  @include border-radius(5px);
  box-shadow: 0 0 10px #999999;
  width: 100%;
  .heading {
    background: #ccc;
    @include border-top-radius(5px);
    padding: 8px;    
    font-weight: bold;
    span {
      display: inline-block;
      *display: inline;
      min-width: 127px;  
      width: 16%;
      vertical-align: middle;
      &:nth-child(5) {
        width: 34%;     
      }
    }
  }
  .item {
    background: #FBFBFB;
    padding: 8px;    
    font-weight: normal;
    &:nth-child(2n+1) {
      background: #F0F0F0;
    }
    span {
      display: inline-block;
      *display: inline;
      min-width: 127px;      
      width: 16%;
      vertical-align: middle;
      &:nth-child(5) {
        width: 34%;     
      }
      
    }
  }
  .grand-total {
    padding: 8px;  
    background: #ccc;
    @include border-bottom-radius(5px);
    font: { weight: bold; size: 16px; }
    
    span {
      display: inline-block;
      *display: inline;
      min-width: 40%;
      text-align: left; 
      &:first-child {
        width: 47% !important;      
      }
    }
   }
  
}

.rate-table {
  width: 60% !important;
  .heading {
    span {
      width: 49% !important;
      &:nth-child(2) {
        text-align: right;     
      }
    }
  }
  .item {
    span {
      width: 49% !important;
      &:nth-child(2) {
        text-align: right;     
      }
    }
  }
  
 }

.divider-5 {
  display: block;
  margin : 10px 0;
}


// character count
.charactercounter {
  font: {
    size: 16px;
    weight: bold;
  }
  color: #999;
  display: block;
  margin-right: 25px;
  text-align: right;
}
.charactercounter-warning { color: #600; }	
.charactercounter-exceeded { color: #e00; }	