@import "_mixins";
@import "_variables";
/*==*/

#thirdBar div.permissionSection {
  margin: 0;
  padding: 0px;
  padding-bottom: 5px;
  display: block;
  span {
    display: block;
    &.section {
      margin-bottom: 10px;
      input {
        float: right;
        margin: 2px;
      }
    }
  }
  label.subsection {
    margin-left: 10px;
    display: block;
  }
}

/*==*/
