@import "_mixins";
@import "_variables";


body {
  background: none;
}

#widgetMain {
  font-size: 1.1em;
}

.chart {
  display: block;
  height: 280px;
  overflow: hidden;
}

table {
  th {
    text-align: left; }
  &.data {
    border-collapse: collapse;
    td, th {
      border-bottom: 1px solid #aaa;
    }
  }
  &.log {
    font-size: 14px;
    td {
      padding: 5px 0;
      padding-left: 26px;
      border-bottom: 1px dashed #aaa;
      background-position: 5px 5px;
      background-repeat: no-repeat;
      abbr {
        border-bottom: 1px solid darken($base-light,0.8%);
      }
      &.c {
        background-image: url("../../images/admin/icon_add.png");
      }
      &.m {
        background-image: url("../../images/admin/icon_edit.png");
      }
      &.d {
        background-image: url("../../images/admin/icon_cross.png");
      }
    }
  }
}
