body{
	font-size: 13px;
}

#page-content .side-panel .mycart .modal_content h6{
	background:none;
}
.modal_content .price{
	color: #e00000;
    display: inline;
    left: 220px;
    position: absolute;
    
}
.modal_content h3{
	margin-top:0px;
}

h5.category_title{
	cursor: pointer;
    font-size: 14px;
    font-weight: normal!important;
    padding-bottom: 10px;
    padding-left: 30px;
    position: relative;
    text-transform: capitalize;
}

.owl-carousel .owl-item{
display: table; 
text-align: center;
}

#page-content .page-content .news-events-blog .blog-list:first-child{
	margin-top:0px;
}

.total span{
	margin-right:80px;
}
.total span:last-child{
	margin-right:0px;
}

.editLinkCart{
	position:absolute;
	right:0px;
	color:#e00000;
}
.editLinkCart i{
	cursor: pointer;
}
.cartPrice{
	color:#e00000;
}

.page-content .news-events-blog .blog-list p{
	margin-top:5px;
}
.news-events-blog .call-to-action-section{
	height:41px;
}

.news-events-blog .call-to-action-section .css-table-cell .icon i{
	color:#fff;
	font-size: 45px;
}

.css-table-cell .cartPrice{
	font-size: 30px;
}

.checkoutPrice{
	position: absolute;
    right: 200px;
    top: 10px;
}
.checkoutTotal{
    position: absolute;
    right: 0;
    top: 10px;
}

.checkoutQty{
    position: absolute;
    right: 400px;
    top: 10px;
}

.page-content .contact-us .send-message input {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding: 5px 5px 5px 10px;
    width: 100%;
}

.page-content .contact-us .send-message  textarea {
	width: 100%;
	min-height: 160px;
	resize: none;
	border-radius: 3px;
	border: 1px solid #ccc;
	outline: none;
	padding: 10px 15px;
	margin-bottom: 10px;
}

.sticky{
	position: fixed;
	width: 263px;
	top:0px;
	z-index:1;
}

.button {
  background: none;
  color: #e00000;
  border: 1px solid #e00000;
  border-radius: 3px;
  padding: 5px 15px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.button .fa { padding-right: 3px; }

.button:hover {
  color: #fff;
  background: #e00000;
}

.autocomplete-suggestion { border: 1px solid #B7B7B7; background: #F9F9F9; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #e00000; color:#FFFFFF;}
.autocomplete-suggestion strong { font-weight: bold; color: #3399FF; }

.datepicker.dropdown-menu{
	visibility:visible;
	opacity:1;
}

.owl-wrapper{
	font-size: 13px;
	line-height: 16px;
}

#main-wrapper .all-menu-details .details h6, .page-content .news-events-blog .blog-list h5{
	font-size: 16px;
}

.for-list{
	font-size: 12px;
}
#main-wrapper .all-menu-details .qty-cart h6{
	margin-left:14px;
	float: left;
	font-size: 14px;
}
#main-wrapper .all-menu-details .qty-cart form.default-form input{
	margin-top:8px;
}

#main-wrapper .all-menu-details .price-option h4{
	font-size: 16px;
	padding: 15px 0px;
}
@media (min-width: 560px) {
	#main-wrapper .all-menu-details .item-list .all-details .visible-option{
		height: 94px;
	}
}

@media (max-width: 550px) {
	#main-wrapper .all-menu-details .dropdown-option .dropdown-details .ingrd{
		clear:both;
	}
	#main-wrapper .all-menu-details .dropdown-option .dropdown-details label .price{
		left: 215px;
	}
	#main-wrapper .all-menu-details .details .share-this{
		right: 0px;
	}
	
	#main-wrapper .all-menu-details .details h6{
		display: inline-block;
		width: 250px;
	}
	
	.call-to-action-section .text h4{
		font-size: 12px;
	}
	.css-table-cell .cartPrice{
		font-size: 17px;
	}
	
}
@media (max-width: 1280px) {
	#page-content .news-events-blog .call-to-action-section .text > .css-table-cell{
		display: table-cell;
		padding:0px;
	}
}

#thumbnail-slide, #thumbnail-slide #thumb-slide-section .item, #thumbnail-slide #thumb-slide, .owl-theme .owl-controls .owl-buttons div{
	height:60px;
}

#main-wrapper .all-menu-details .dropdown-option .dropdown-details h6{
	font-size: 13px;
}
.page-content .news-events-blog .blog-list{
	padding: 15px;
}

.call-to-action-section .text h4{
	font-size: 17px;
	padding: 0px;
}
#main-wrapper .my-check-right ul li{
	font-size: 14px;
}

#main-wrapper .all-menu-details .details .share-this > li > a{
	font-size: 14px;
}
.bootstrap-datetimepicker-widget.dropdown-menu ul{
	padding:0px;
}
