#sideBar {
  width: 17%; }

#thirdBar.secondpane {
  left: 17%;
  width: 23%; }
#thirdBar div.placeholder {
  position: absolute;
  top: 43px;
  display: block;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  text-shadow: 0 -1px 0 #5d759f;
  color: #cdd4e2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

#mainContent {
  width: 80%; }

#innerTabs {
  left: 40%;
  width: 60%; }

#mainContent.threepane {
  width: 60%;
  right: 15%;
  height: auto;
  bottom: 0; }

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

#sideBar ul li b.state {
  width: 10px;
  height: 0.9em;
  display: inline-block;
  vertical-align: baseline;
  margin: 0; }
#sideBar ul li b.state.state-1 {
  background: rgba(255, 0, 0, 0.7); }
#sideBar ul li b.state.state-2 {
  background: rgba(0, 128, 0, 0.6); }
#sideBar ul li b.state.state-3 {
  background: rgba(255, 0, 255, 0.3); }
#sideBar ul li b.state.state-4 {
  background: rgba(0, 0, 255, 0.3); }
#sideBar ul li b.state.state-5 {
  background: rgba(255, 255, 0, 0.3); }

.ordered_items td.totals {
  text-align: right;
  padding: 0; }
.ordered_items > tbody > tr:nth-child(2n) > td:not(.totals) {
  background: #fafbfc; }
