#sideBar {
  width: 20%; }

#thirdBar.secondpane {
  left: 20%;
  width: 25%; }
#thirdBar div.placeholder {
  position: absolute;
  top: 43px;
  display: block;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  text-shadow: 0 -1px 0 #5d759f;
  color: #cdd4e2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

#mainContent {
  width: 80%; }

#innerTabs {
  left: 45%;
  width: 55%; }

#mainContent.threepane {
  width: 55%;
  right: 15%;
  height: auto;
  bottom: 0; }

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

#editArea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 31px; }

#editorToolbar, #EditableArea_parent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0; }

#editorToolbar {
  z-index: 2; }

#EditableArea_parent {
  bottom: 0; }

#editorToolbar .mceExternalToolbar {
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px black;
  background: #ededed;
  background: -moz-linear-gradient(#ededed, #cbcbcb);
  background: -webkit-linear-gradient(#ededed, #cbcbcb);
  background: -ms-linear-gradient(#ededed, #cbcbcb);
  background: -o-linear-gradient(#ededed, #cbcbcb);
  background: linear-gradient(#ededed, #cbcbcb); }

#EditableArea_ifr {
  position: absolute;
  top: 52px;
  right: 0;
  left: 0;
  bottom: 40px;
  z-index: 1; }

#treeHolder ul li.onDrop > a:first-of-type, #productTreeHolder ul li.onDrop > a:first-of-type {
  background-color: #333333;
  color: white;
  text-shadow: 0 -1px 0 black; }

/*Orphanage*/
#orphanage_link {
  position: absolute;
  background: #cbcbcb;
  background: -moz-linear-gradient(#cbcbcb, #ededed);
  background: -webkit-linear-gradient(#cbcbcb, #ededed);
  background: -ms-linear-gradient(#cbcbcb, #ededed);
  background: -o-linear-gradient(#cbcbcb, #ededed);
  background: linear-gradient(#cbcbcb, #ededed);
  color: black;
  padding: 5px 7px;
  border-radius: 64px;
  box-shadow: inset 0 0 3px black;
  font-size: 12px;
  line-height: 12px;
  right: 1.1em;
  top: .5em;
  text-shadow: 0 1px 0 white;
  font-weight: normal;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
#orphanage_link.active {
  background: #768aaf;
  color: white;
  text-shadow: 0 -1px 0 #164599; }

#orphanage {
  left: 20%; }

/*End Orphanage*/
