@-webkit-keyframes shake {
  0%, 40%, 60%, 80%, 100% {
    -webkit-transform: translate(0, 0); }

  30% {
    -webkit-transform: translate(-2em, 0); }

  50% {
    -webkit-transform: translate(1.5em, 0); }

  70% {
    -webkit-transform: translate(-1em, 0); }

  90% {
    -webkit-transform: translate(0.5em, 0); } }

@-moz-keyframes shake {
  0%, 40%, 60%, 80%, 100% {
    -moz-transform: translate(0, 0); }

  30% {
    -moz-transform: translate(-2em, 0); }

  50% {
    -moz-transform: translate(1.5em, 0); }

  70% {
    -moz-transform: translate(-1em, 0); }

  90% {
    -moz-transform: translate(0.5em, 0); } }

@keyframes shake {
  0%, 40%, 60%, 80%, 100% {
    transform: translate(0, 0); }

  30% {
    transform: translate(-2em, 0); }

  50% {
    transform: translate(1.5em, 0); }

  70% {
    transform: translate(-1em, 0); }

  90% {
    transform: translate(0.5em, 0); } }

.shake {
  -moz-animation-name: shake;
  -webkit-animation-name: shake;
  -ms-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
  -moz-animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  -ms-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  -ms-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0; }

/*--------------*/
@-webkit-keyframes bounce {
  0%, 40%, 60%, 80%, 100% {
    -webkit-transform: scale(1) translate(0, 0); }

  30% {
    -webkit-transform: scale(1.3) translate(0, -2em); }

  50% {
    -webkit-transform: scale(1.2) translate(0, 1.5em); }

  70% {
    -webkit-transform: scale(1.1) translate(0, -1em); }

  90% {
    -webkit-transform: scale(1) translate(0, 0.5em); } }

@-moz-keyframes bounce {
  0%, 40%, 60%, 80%, 100% {
    -moz-transform: scale(1) translate(0, 0); }

  30% {
    -moz-transform: scale(1.3) translate(0, -2em); }

  50% {
    -moz-transform: scale(1.2) translate(0, 1.5em); }

  70% {
    -moz-transform: scale(1.1) translate(0, -1em); }

  90% {
    -moz-transform: scale(1) translate(0, 0.5em); } }

@keyframes bounce {
  0%, 40%, 60%, 80%, 100% {
    transform: scale(1) translate(0, 0); }

  30% {
    transform: scale(1.3) translate(0, -2em); }

  50% {
    transform: scale(1.2) translate(0, 1.5em); }

  70% {
    transform: scale(1.1) translate(0, -1em); }

  90% {
    transform: scale(1) translate(0, 0.5em); } }

.bounce {
  -moz-animation-name: bounce;
  -webkit-animation-name: bounce;
  -ms-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
  -moz-animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  -ms-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  -ms-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  -ms-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0; }

/*--------------*/
@-moz-keyframes bulge {
  0%, 100% {
    -moz-transform: scale(1);
    box-shadow: none; }

  50% {
    -moz-transform: scale(1.3);
    box-shadow: 0 0 15px yellow; } }

@-webkit-keyframes bulge {
  0%, 100% {
    -webkit-transform: scale(1);
    box-shadow: none; }

  50% {
    -webkit-transform: scale(1.3);
    box-shadow: 0 0 15px yellow; } }

@keyframes bulge {
  0%, 100% {
    transform: scale(1);
    box-shadow: none; }

  50% {
    transform: scale(1.3);
    box-shadow: 0 0 15px yellow; } }

.bulge {
  -moz-animation-name: bulge;
  -webkit-animation-name: bulge;
  -ms-animation-name: bulge;
  -o-animation-name: bulge;
  animation-name: bulge;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -moz-animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  -ms-animation-iteration-count: 3;
  -o-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s; }
