/*--*/
#commentsList {
  margin: 0;
  padding: 0;
  display: block; }
#commentsList li {
  padding: 10px;
  display: block;
  margin: 1% 15% 1% 3%;
  border-radius: 5px;
  box-shadow: 0 0 2px black;
  background: white;
  background: -moz-linear-gradient(white, #efefef);
  background: -webkit-linear-gradient(white, #efefef);
  background: -ms-linear-gradient(white, #efefef);
  background: -o-linear-gradient(white, #efefef);
  background: linear-gradient(white, #efefef); }
#commentsList li p {
  float: left;
  margin: 0 0 10px 0;
  font-size: 14px;
  font-family: arial,helvetica; }
#commentsList li p.meta {
  float: none;
  clear: both;
  color: #999999;
  font-size: 12px;
  margin-bottom: 0px; }
#commentsList li.byOwner {
  background: #96a6c1;
  background: -moz-linear-gradient(#96a6c1, #5a7098);
  background: -webkit-linear-gradient(#96a6c1, #5a7098);
  background: -ms-linear-gradient(#96a6c1, #5a7098);
  background: -o-linear-gradient(#96a6c1, #5a7098);
  background: linear-gradient(#96a6c1, #5a7098);
  color: white;
  margin: 1% 3% 1% 15%;
  text-shadow: 0 -1px 0 #252e3e; }
#commentsList li.byOwner p.meta {
  color: #efefef; }
#commentsList li.not_visible {
  opacity: 0.4;
  box-shadow: inset 0 0 5px black; }

/*--*/
#toolbar {
  height: 31px;
  border-top: 2px solid #ededed;
  border-left: 0;
  margin: 0 0 2px 0;
  width: 100%;
  font-size: 12px;
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 3;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold; }
#toolbar div.left_aligned {
  float: left; }
#toolbar div.right_aligned {
  float: right; }
#toolbar a, #toolbar div.toolbar_item {
  text-decoration: none;
  color: #333333;
  float: left;
  display: inline;
  height: 17px;
  padding: 7px;
  background-repeat: repeat-x;
  border-right: 1px solid #cbcbcb; }
#toolbar a.selected {
  background: #cbcbcb;
  background: -moz-linear-gradient(#cbcbcb, #ededed);
  background: -webkit-linear-gradient(#cbcbcb, #ededed);
  background: -ms-linear-gradient(#cbcbcb, #ededed);
  background: -o-linear-gradient(#cbcbcb, #ededed);
  background: linear-gradient(#cbcbcb, #ededed);
  color: black; }
#toolbar a:hover {
  background: white;
  background: -moz-linear-gradient(white, #dddddd);
  background: -webkit-linear-gradient(white, #dddddd);
  background: -ms-linear-gradient(white, #dddddd);
  background: -o-linear-gradient(white, #dddddd);
  background: linear-gradient(white, #dddddd); }
#toolbar a.selected:hover {
  background: #cbcbcb;
  background: -moz-linear-gradient(#cbcbcb, #ededed);
  background: -webkit-linear-gradient(#cbcbcb, #ededed);
  background: -ms-linear-gradient(#cbcbcb, #ededed);
  background: -o-linear-gradient(#cbcbcb, #ededed);
  background: linear-gradient(#cbcbcb, #ededed); }
#toolbar a span {
  float: left;
  padding-left: 3px; }
#toolbar div.toolbar_item span {
  float: left;
  padding-left: 3px; }
#toolbar a img {
  float: left;
  margin-right: 4px; }
#toolbar button {
  margin-top: -0.3em; }

/*--*/
#tagSoup {
  display: block;
  padding: 5px 16px;
  background: #dde2eb;
  border-radius: 5px;
  box-shadow: inset 0 0 5px black; }
#tagSoup.onDrop {
  background: -moz-radial-gradient(circle, #9dabc5, #8093b4);
  background: -webkit-radial-gradient(circle, #9dabc5, #8093b4);
  background: -ms-radial-gradient(circle, #9dabc5, #8093b4);
  background: -o-radial-gradient(circle, #9dabc5, #8093b4);
  background: radial-gradient(circle, #9dabc5, #8093b4); }
#tagSoup span {
  display: inline-block;
  float: left;
  background: #fdfdfd;
  background: -moz-linear-gradient(#fdfdfd, #ededed);
  background: -webkit-linear-gradient(#fdfdfd, #ededed);
  background: -ms-linear-gradient(#fdfdfd, #ededed);
  background: -o-linear-gradient(#fdfdfd, #ededed);
  background: linear-gradient(#fdfdfd, #ededed);
  border-radius: 5px;
  padding: 1px 3px;
  border: 1px solid #c5b4a4;
  margin: 0 16px 16px 0; }
#tagSoup span:before {
  background: url("../../images/admin/icon_tags.png") no-repeat left bottom;
  float: left;
  width: 16px;
  height: 16px;
  margin: 3px 3px 0 -16px;
  content: " "; }
#tagSoup span a {
  display: inline-block;
  background: url("../../images/admin/icon_cross_small.png") no-repeat center center;
  width: 16px;
  height: 16px;
  float: right;
  margin: 0 -5px 0 3px; }
