#sidebar ul.nofooter.shortlist{
  bottom:0;
}
#sidebar ul.shortlist{
  list-style:none;
  margin:0;
  overflow:auto;
  padding:0;
  position:absolute;
  top:33px;
  width:100%;
  margin-top:0px !important;
}
#sidebar ul.shortlist li{
  display: block;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  color:#333;
  text-shadow:none;
  margin:0 !important;
/*  border-top: 1px solid #dde2eb;*/
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; 
}
#sidebar ul.shortlist li span{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  padding: 0.2em 0 0.2em 31px;
  margin-right: 1em; 
}
#sidebar ul.shortlist li span b {
  color: #fff; 
}
#sidebar ul.shortlist li.active{
  
  background: #22878e;
/*  background: -moz-linear-gradient(#bdc7d8, #768aaf);
  background: -webkit-linear-gradient(#bdc7d8, #768aaf);
  background: -ms-linear-gradient(#bdc7d8, #768aaf);
  background: -o-linear-gradient(#bdc7d8, #768aaf);
  background: linear-gradient(#bdc7d8, #768aaf);
  border-top: 1px solid #9fb0d3;*/
  text-shadow: 0 -1px 0 #8a9bba;
  color: white;
  
  
}
#sidebar ul.shortlist li span.count{
  font-size: 0.9em;
  line-height: 1.6em;
  display: inline-block;
  position: absolute;
  right: 0.5em;
  top: 0.2em;
  margin: 0;
  padding: 0 0.7em;
  font-weight: bold;
  border-radius: 1em;
  color: #fff;
  text-shadow: 0 -1px 0 #8a9bba;
  background: #96a6c1; 
}
  
#sidebar ul.shortlist li.active span.count {
  background: white;
  color: #768aaf;
  text-shadow: 0 1px 0 white; 
}


#sidebar ul.shortlist li ul{
  margin:0;
  padding:0;
}

.headertoolbar{
  background: #efefef;
  background: -moz-linear-gradient(#efefef, #cdcdcd);
  background: -webkit-linear-gradient(#efefef, #cdcdcd);
  background: -ms-linear-gradient(#efefef, #cdcdcd);
  background: -o-linear-gradient(#efefef, #cdcdcd);
  background: linear-gradient(#efefef, #cdcdcd);
  box-shadow: none;
  border-bottom: 1px solid #999999;
  max-height: 17px;
  overflow: hidden;
  padding-left: 31px;
}








#sidebar {
  width: 15%; }

#thirdBar.secondpane {
  left: 15%;
  width: 25%; }
#thirdBar div.placeholder {
  position: absolute;
  top: 43px;
  display: block;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  text-shadow: 0 -1px 0 #5d759f;
  color: #cdd4e2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

#main-content {
  width: 80%; }

#innerTabs {
  left: 40%;
  width: 60%; }

#main-content.threepane {
  width: 60%;
  right: 0;
  height: auto;
  bottom: 0; }

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.comp_multilineListView li.state-1 {
  border-left: 5px solid red; }
