/*
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit; }

body {
  width: 100%;
  background: #eceeef url("../../images/admin/handmadepaper.png");
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 62.5%;
  line-height: 1.8em;
  color: #2f3e46;
  margin: 0px;
  padding: 0px;
  text-shadow: 0 1px 0 white; }

.clearit {
  overflow: hidden;
  height: 0px;
  width: 100%;
  clear: both; }

.clearfix {
  display: inline-block; }
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }
html[xmlns] .clearfix {
  height: 1px; }
* html .clearfix {
  height: 1px; }

div {
  display: block; }
*/
button.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size-adjust: 0.52;
  font: bold 14px/28px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  padding: 0 0.6em;
  border-radius: .3em;
  color: #101010;
  border: 1px solid #838383;
  background: #efefef;
  background: -moz-linear-gradient(#efefef, #b4b4b4);
  background: -webkit-linear-gradient(#efefef, #b4b4b4);
  background: -ms-linear-gradient(#efefef, #b4b4b4);
  background: -o-linear-gradient(#efefef, #b4b4b4);
  background: linear-gradient(#efefef, #b4b4b4);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 0 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 #f4f4f4; }
button.button::-moz-focus-inner {
  border: 0;
  /* overrides extra padding in Firefox */
  padding: 0; }
button.button:hover {
  text-decoration: none;
  background: #fcfcfc;
  background: -moz-linear-gradient(#fcfcfc, #c1c1c1);
  background: -webkit-linear-gradient(#fcfcfc, #c1c1c1);
  background: -ms-linear-gradient(#fcfcfc, #c1c1c1);
  background: -o-linear-gradient(#fcfcfc, #c1c1c1);
  background: linear-gradient(#fcfcfc, #c1c1c1); }
button.button:focus {
  outline: 0;
  background: #f4f4f4;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 0 5px rgba(0, 0, 0, 0.3); }
button.button:before {
  background: #434343;
  background: -moz-linear-gradient(#434343, #030303);
  background: -webkit-linear-gradient(#434343, #030303);
  background: -ms-linear-gradient(#434343, #030303);
  background: -o-linear-gradient(#434343, #030303);
  background: linear-gradient(#434343, #030303);
  color: white;
  float: left;
  width: 1em;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0 0.3em 0 -0.5em;
  padding: 0 .2em;
  border-radius: .25em 0 0 .25em;
  text-shadow: 0 -1px 0 black; }
button.button:active {
  box-shadow: 0 0 4px 2px #5d5d5d inset;
  position: relative;
  top: 1px; }
button.button:disabled, button.button:disabled:hover, button.button:disabled:active {
  border: solid 1px #efefef;
  background: #fcfcfc;
  background: -moz-linear-gradient(#fcfcfc, #efefef);
  background: -webkit-linear-gradient(#fcfcfc, #efefef);
  background: -ms-linear-gradient(#fcfcfc, #efefef);
  background: -o-linear-gradient(#fcfcfc, #efefef);
  background: linear-gradient(#fcfcfc, #efefef);
  color: #c9c9c9;
  text-shadow: 0 1px 0 white;
  box-shadow: none;
  top: 0px; }
button.button:disabled:before {
  background: #d5d5d5;
  border-left: 1px solid #efefef;
  color: #c9c9c9;
  text-shadow: 0 1px 0 white; }
button.button.important {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size-adjust: 0.52;
  font: bold 14px/28px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  padding: 0 0.6em;
  border-radius: .3em;
  color: #141922;
  border: 1px solid #7085ab;
  background: #dde2eb;
  background: -moz-linear-gradient(#dde2eb, #93a3c0);
  background: -webkit-linear-gradient(#dde2eb, #93a3c0);
  background: -ms-linear-gradient(#dde2eb, #93a3c0);
  background: -o-linear-gradient(#dde2eb, #93a3c0);
  background: linear-gradient(#dde2eb, #93a3c0);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 0 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 #e3e7ef; }
button.button.important:hover {
  text-decoration: none;
  background: #edf0f4;
  background: -moz-linear-gradient(#edf0f4, #a3b1c9);
  background: -webkit-linear-gradient(#edf0f4, #a3b1c9);
  background: -ms-linear-gradient(#edf0f4, #a3b1c9);
  background: -o-linear-gradient(#edf0f4, #a3b1c9);
  background: linear-gradient(#edf0f4, #a3b1c9); }
button.button.important:focus {
  outline: 0;
  background: #e3e7ef;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 0 5px rgba(0, 0, 0, 0.3); }
button.button.important:before {
  background: #3a4862;
  background: -moz-linear-gradient(#3a4862, #0b0d12);
  background: -webkit-linear-gradient(#3a4862, #0b0d12);
  background: -ms-linear-gradient(#3a4862, #0b0d12);
  background: -o-linear-gradient(#3a4862, #0b0d12);
  background: linear-gradient(#3a4862, #0b0d12);
  color: white;
  float: left;
  width: 1em;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0 0.3em 0 -0.5em;
  padding: 0 .2em;
  border-radius: .25em 0 0 .25em;
  text-shadow: 0 -1px 0 black; }
button.button.important:active {
  box-shadow: 0 0 4px 2px #4d6082 inset;
  position: relative;
  top: 1px; }
button.button.important:disabled, button.button.important:disabled:hover, button.button.important:disabled:active {
  border: solid 1px #dde2eb;
  background: #edf0f4;
  background: -moz-linear-gradient(#edf0f4, #dde2eb);
  background: -webkit-linear-gradient(#edf0f4, #dde2eb);
  background: -ms-linear-gradient(#edf0f4, #dde2eb);
  background: -o-linear-gradient(#edf0f4, #dde2eb);
  background: linear-gradient(#edf0f4, #dde2eb);
  color: #adb9cf;
  text-shadow: 0 1px 0 #fdfdfe;
  box-shadow: none;
  top: 0px; }
button.button.important:disabled:before {
  background: #bdc7d8;
  border-left: 1px solid #dde2eb;
  color: #adb9cf;
  text-shadow: 0 1px 0 #fdfdfe; }
button.button.secondary {
  font-size: 12px;
  border-radius: 10px; }
button.button.secondary:before {
  border-radius: 10px 0 0 10px; }
button.button.add:before {
  content: "+"; }
button.button.save:before {
  content: "\2714"; }
button.button.reset:before {
  content: "\21b6"; }
button.button.edit:before {
  content: "\270f"; }
button.button.compare:before {
  content: "\2637"; }
button.button.forward:before {
  content: "\279d"; }
button.button.delete:before {
  content: "\2718"; }

input[type=text], input[type=password], textarea {
  background-color: white;
  border-color: #8c8c8c #999999 #b3b3b3;
  border-style: solid;
  border-width: 1px;
  font-size: 13px;
  padding: 0.3em;
  text-shadow: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  border-radius: 3px; }
input[type=text]:active, input[type=text]:focus, input[type=password]:active, input[type=password]:focus, textarea:active, textarea:focus {
  border-color: #545454;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7) inset;
  outline: none; }

.headertoolbar, .footertoolbar {
  /*
  background: #efefef;
  background: -moz-linear-gradient(#efefef, #cdcdcd);
  background: -webkit-linear-gradient(#efefef, #cdcdcd);
  background: -ms-linear-gradient(#efefef, #cdcdcd);
  background: -o-linear-gradient(#efefef, #cdcdcd);
  background: linear-gradient(#efefef, #cdcdcd);
  */
  padding: 7px 11px;
  font-weight: normal;
  font-size-adjust: 0.52;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 17px;
  /*box-shadow: 0 1px 3px #545454;
  border: 1px solid #cbcbcb;*/
  color: #333333;
  max-height: 28px; 
}
#thirdBar .headertoolbar{
  background: #efefef;
  background: -moz-linear-gradient(#efefef, #cdcdcd);
  background: -webkit-linear-gradient(#efefef, #cdcdcd);
  background: -ms-linear-gradient(#efefef, #cdcdcd);
  background: -o-linear-gradient(#efefef, #cdcdcd);
  background: linear-gradient(#efefef, #cdcdcd);
  box-shadow: 0 1px 3px #545454;
  border: 1px solid #cbcbcb;
}

.headertoolbar.dark, .footertoolbar.dark {
  /*
  background: #666666;
  background: -moz-linear-gradient(#666666, black);
  background: -webkit-linear-gradient(#666666, black);
  background: -ms-linear-gradient(#666666, black);
  background: -o-linear-gradient(#666666, black);
  background: linear-gradient(#666666, black);
  */
  background: #666666;
  background: -moz-linear-gradient(#666666, #333333);
  background: -webkit-linear-gradient(#666666, #333333);
  background: -ms-linear-gradient(#666666, #333333);
  background: -o-linear-gradient(#666666, #333333);
  background: linear-gradient(#666666, #333333); 
  color: white;
  text-shadow: 0 -1px 0 black;
  border-color: black; }

.headertoolbar.collapsible {
  background: url("../../images/admin/icon_hd_coll.png") no-repeat 0.4em 0.4em, -webkit-linear-gradient(#efefef, #cbcbcb);
  background: url("../../images/admin/icon_hd_coll.png") no-repeat 0.4em 0.4em, -moz-linear-gradient(#efefef, #cbcbcb);
  background: url("../../images/admin/icon_hd_coll.png") no-repeat 0.4em 0.4em, linear-gradient(#efefef, #cbcbcb);
  cursor: pointer;
  padding-left: 1.6em; }
.headertoolbar.collapsible.open {
  background: url("../../images/admin/icon_hd_open.png") no-repeat 0.2em 0.4em, -webkit-linear-gradient(#efefef, #cbcbcb);
  background: url("../../images/admin/icon_hd_open.png") no-repeat 0.2em 0.4em, -moz-linear-gradient(#efefef, #cbcbcb);
  background: url("../../images/admin/icon_hd_open.png") no-repeat 0.2em 0.4em, linear-gradient(#efefef, #cbcbcb); }
.headertoolbar button {
  float: right;
  margin-left: 0.6em;
  margin-top: 0.1em;
  margin-right: -0.3em;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: bold 14px/100% Arial, Helvetica, sans-serif;
  padding: 0.25em 0.3em 0 0.3em;
  border-radius: 5px;
  border: solid 1px #ababab;
  background: #efefef;
  background: white;
  background: -moz-linear-gradient(white, #f3f3f3 50%, #efefef 51%, white 100%);
  background: -webkit-linear-gradient(white, #f3f3f3 50%, #efefef 51%, white 100%);
  background: -ms-linear-gradient(white, #f3f3f3 50%, #efefef 51%, white 100%);
  background: -o-linear-gradient(white, #f3f3f3 50%, #efefef 51%, white 100%);
  background: linear-gradient(white, #f3f3f3 50%, #efefef 51%, white 100%); }
.headertoolbar button:hover {
  background: #efefef;
  background: -moz-linear-gradient(#efefef, white 50%, white 51%, #efefef 100%);
  background: -webkit-linear-gradient(#efefef, white 50%, white 51%, #efefef 100%);
  background: -ms-linear-gradient(#efefef, white 50%, white 51%, #efefef 100%);
  background: -o-linear-gradient(#efefef, white 50%, white 51%, #efefef 100%);
  background: linear-gradient(#efefef, white 50%, white 51%, #efefef 100%); }
.headertoolbar button:active {
  box-shadow: inset 0 0 5px #787878; }
.headertoolbar button::-moz-focus-inner {
  border: 0;
  /* overrides extra padding in Firefox */
  padding: 0; }
.headertoolbar span.close {
  position: absolute;
  cursor: pointer;
  right: -9px;
  top: -9px;
  width: 18px;
  height: 18px;
  background: white url("../../images/admin/icon_cross.png") no-repeat 1px 1px;
  border-radius: 64px;
  box-shadow: 0 0 5px black; }

.footertoolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.padded {
  padding: 1em; }

.hidden {
  display: none; }

.q_feedback {
  display: inline-block;
  margin-left: 5px;
  font-size: 12px; }

img.loader, span.loader {
  display: inline-block;
  background: white;
  border: 1px solid #e2e2e2;
  padding: 0.2em 0.3em;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
  vertical-align: middle; }

span.loader {
  vertical-align: baseline; }
/*
hr {
  margin-top: 15px;
  border: none 0;
  border-top: 1px solid #ababab;
  height: 1px; }

form th {
  text-align: right; }
form input[type=password], form input[type=text], form textarea, form select {
  min-width: 205px; }
form select {
  min-width: 215px; }
*/
.initPage {
  text-align: center;
  color: #666666;
  font-size: 18px;
  background: url("../../images/admin/init_page.png") no-repeat left bottom;
  width: 691px;
  padding-bottom: 20px;
  overflow: hidden;
  margin-top: 20px; }
.initPage div {
  padding: 3em;
  padding-left: 161px;
  background: url("../../images/admin/init_page.png") no-repeat; }

.largeLoader {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 128px;
  min-width: 128px;
  background: url("../../images/admin/largeloader.gif") no-repeat center center; }

.comp_searchCount, .comp_toolbar .numItems, #sidebar #searchCount, #thirdBar #searchCount {
  background: url("../../images/admin/side-bar-list-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  border-radius: 64px 64px 64px 64px;
  box-shadow: 0 0 3px #000000 inset;
  color: white;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  padding: 5px 10px;
  position: absolute;
  top: 6px;
  right: 40px;
  text-shadow: 0 -1px 0 #164599;
  display: none;
}

.comp_floatingList {
  position: absolute;
  left: 25%;
  top: 75px;
  background: white;
  height: 90%;
  width: 20em;
  box-shadow: 0 0 15px black;
  border-radius: 5px;
  font-size: 12px;
  display: none;
  opacity: 0;
  z-index: 100;
  background: url("../../images/admin/white_carbon.png");
  -moz-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1);
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
.comp_floatingList.showing {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1; }
.comp_floatingList ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 80%;
  overflow: auto; }
.comp_floatingList ul li {
  display: block;
  padding: .3em;
  cursor: move;
  width: 19.3em;
  background: #fdfdfd;
  background: -moz-linear-gradient(#fdfdfd, #ededed);
  background: -webkit-linear-gradient(#fdfdfd, #ededed);
  background: -ms-linear-gradient(#fdfdfd, #ededed);
  background: -o-linear-gradient(#fdfdfd, #ededed);
  background: linear-gradient(#fdfdfd, #ededed);
  border: 1px solid #cbcbcb;
  border-top: none;
  box-shadow: 0 1px 3px #545454; }
.comp_floatingList ul li span.name {
  padding-left: 20px;
  background: url("../../images/admin/drag_handle.png") no-repeat center left; }
.comp_floatingList .headertoolbar {
  padding-left: 0.3em;
  padding-right: 0.3em;
  z-index: 2;
  position: relative; }
.comp_floatingList.from_right {
  left: auto;
  right: 20%;
  -moz-transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0; }
.comp_floatingList.from_right .headertoolbar span {
  float: right; }

.comp_toolbar {
  height: 31px;
  border-top: 2px solid #ededed;
  border-left: 0;
  margin: 0 0 2px 0;
  width: 100%;
  font-size: 12px;
  padding: 0;
  overflow: hidden;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold; }
.comp_toolbar div.left_aligned {
  float: left; }
.comp_toolbar div.right_aligned {
  float: right; }
.comp_toolbar a, .comp_toolbar div.toolbar_item {
  text-decoration: none;
  color: #333333;
  float: left;
  display: inline;
  height: 17px;
  padding: 7px;
  background-repeat: repeat-x;
  border-right: 1px solid #cbcbcb; }
.comp_toolbar a.selected {
  background: #cbcbcb;
  background: -moz-linear-gradient(#cbcbcb, #ededed);
  background: -webkit-linear-gradient(#cbcbcb, #ededed);
  background: -ms-linear-gradient(#cbcbcb, #ededed);
  background: -o-linear-gradient(#cbcbcb, #ededed);
  background: linear-gradient(#cbcbcb, #ededed);
  color: black; }
.comp_toolbar a:hover {
  background: white;
  background: -moz-linear-gradient(white, #dddddd);
  background: -webkit-linear-gradient(white, #dddddd);
  background: -ms-linear-gradient(white, #dddddd);
  background: -o-linear-gradient(white, #dddddd);
  background: linear-gradient(white, #dddddd); }
.comp_toolbar a.selected:hover {
  background: #cbcbcb;
  background: -moz-linear-gradient(#cbcbcb, #ededed);
  background: -webkit-linear-gradient(#cbcbcb, #ededed);
  background: -ms-linear-gradient(#cbcbcb, #ededed);
  background: -o-linear-gradient(#cbcbcb, #ededed);
  background: linear-gradient(#cbcbcb, #ededed); }
.comp_toolbar a span {
  float: left;
  padding-left: 3px; }
.comp_toolbar div.toolbar_item span {
  float: left;
  padding-left: 3px; }
.comp_toolbar a img {
  float: left;
  margin-right: 4px; }
.comp_toolbar img.show_er {
  position: absolute;
  top: 8px;
  right: 8px;
  display: none;
  cursor: pointer; }
.comp_toolbar input {
  font-size: 11px;
  height: 14px;
  width: 120px;
  position: relative;
  top: -3px; }
.comp_toolbar button {
  margin-top: -0.3em; }
.comp_toolbar .numItems {
  display: inline-block;
  position: relative;
  top: -3px;
  right: auto;
  left: auto; }
.comp_toolbar .numItems span {
  float: none !important; }

.comp_listView, #sideBar ul.list, #thirdBar ul.list, #mainContent ul.list, ul.dishlist {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 33px;
  bottom: 36px;
  width: 100%;
  overflow: auto; }
.comp_listView.nofooter, #sideBar ul.nofooter.list, #thirdBar ul.nofooter.list, #mainContent ul.nofooter.list {
  bottom: 0px; }
.comp_listView li, #sideBar ul.list li, #thirdBar ul.list li, #mainContent ul.list li, ul.dishlist li {
  display: block;
  background: #fcfcfc;
  background: -moz-linear-gradient(#fcfcfc, #efefef);
  background: -webkit-linear-gradient(#fcfcfc, #efefef);
  background: -ms-linear-gradient(#fcfcfc, #efefef);
  background: -o-linear-gradient(#fcfcfc, #efefef);
  background: linear-gradient(#fcfcfc, #efefef);
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #cbcbcb;
  border-left: none;
  border-top: none;
  cursor: pointer;
  box-shadow: 0 1px 3px #545454;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
.comp_listView li.deleted, #sideBar ul.list li.deleted, #thirdBar ul.list li.deleted, #mainContent ul.list li.deleted, ul.dishlist li.deleted {
  -moz-transform: translateX(-105%);
  -webkit-transform: translateX(-105%);
  -ms-transform: translateX(-105%);
  -o-transform: translateX(-105%);
  transform: translateX(-105%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
.comp_listView li.active, #sideBar ul.list li.active, #thirdBar ul.list li.active, #mainContent ul.list li.active, ul.dishlist li.active {
  background: #525252;
  background: -moz-linear-gradient(#525252, #333333);
  background: -webkit-linear-gradient(#525252, #333333);
  background: -ms-linear-gradient(#525252, #333333);
  background: -o-linear-gradient(#525252, #333333);
  background: linear-gradient(#525252, #333333);
  text-shadow: 0 -1px 0 black;
  color: white;
  border-color: #212121; }
.comp_listView li span, #sideBar ul.list li span, #thirdBar ul.list li span, #mainContent ul.list li span, ul.dishlist li span{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  padding: 0.4em 0 0.4em 31px;
  margin-right: 55px; }
.comp_listView li span img, #sideBar ul.list li span img, #thirdBar ul.list li span img, #mainContent ul.list li span img, ul.dishlist li span img {
  float: left;
  margin-right: 5px; }
.comp_listView li input, #sideBar ul.list li input, #thirdBar ul.list li input, #mainContent ul.list li input, .comp_listView li img.action, #sideBar ul.list li img.action, #thirdBar ul.list li img.action, #mainContent ul.list li img.action, .comp_listView li span.extraData, #sideBar ul.list li span.extraData, #thirdBar ul.list li span.extraData, #mainContent ul.list li span.extraData, ul.dishlist li span.extraData {
  position: relative;
  float: right;
  top: -22px;
  margin-right: 1em;
  cursor: pointer;
  padding: 0; }
.comp_listView.reorderable li, #sideBar ul.reorderable.list li, #thirdBar ul.reorderable.list li, #mainContent ul.reorderable.list li, ul.dishlist li {
  background: url("../../images/admin/drag_handle.png") no-repeat 5px 0.45em, -moz-linear-gradient(#fcfcfc, #efefef);
  background: url("../../images/admin/drag_handle.png") no-repeat 5px 0.45em, -webkit-linear-gradient(#fcfcfc, #efefef);
  background: url("../../images/admin/drag_handle.png") no-repeat 5px 0.45em, linear-gradient(#fcfcfc, #efefef); }
.comp_listView.reorderable li.active, #sideBar ul.reorderable.list li.active, #thirdBar ul.reorderable.list li.active, #mainContent ul.reorderable.list li.active, ul.dishlist li.active {
  background: url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.45em, -moz-linear-gradient(#525252, #333333);
  background: url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.45em, -webkit-linear-gradient(#525252, #333333);
  background: url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.45em, linear-gradient(#525252, #333333); }

.comp_shortListView, #sideBar ul.shortlist, #thirdBar ul.shortlist {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 33px;
  bottom: 36px;
  width: 100%;
  overflow: auto; }
.comp_shortListView.nofooter, #sideBar ul.nofooter.shortlist, #thirdBar ul.nofooter.shortlist {
  bottom: 0px; }
.comp_shortListView li, #sideBar ul.shortlist li, #thirdBar ul.shortlist li {
  display: block;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  border-top: 1px solid #dde2eb;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
.comp_shortListView li.deleted, #sideBar ul.shortlist li.deleted, #thirdBar ul.shortlist li.deleted {
  -moz-transform: translateX(-105%);
  -webkit-transform: translateX(-105%);
  -ms-transform: translateX(-105%);
  -o-transform: translateX(-105%);
  transform: translateX(-105%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
.comp_shortListView li span, #sideBar ul.shortlist li span, #thirdBar ul.shortlist li span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  padding: 0.2em 0 0.2em 31px;
  margin-right: 1em; }
.comp_shortListView li span.count, #sideBar ul.shortlist li span.count, #thirdBar ul.shortlist li span.count {
  font-size: 0.9em;
  line-height: 1.6em;
  display: inline-block;
  position: absolute;
  right: 0.5em;
  top: 0.2em;
  margin: 0;
  padding: 0 0.7em;
  font-weight: bold;
  border-radius: 1em;
  color: #fff;
  text-shadow: 0 -1px 0 #8a9bba;
  background: #96a6c1; }
.comp_shortListView li span b, #sideBar ul.shortlist li span b, #thirdBar ul.shortlist li span b {
  color: #768aaf; }
.comp_shortListView li.active, #sideBar ul.shortlist li.active, #thirdBar ul.shortlist li.active {
  background: #bdc7d8;
  background: -moz-linear-gradient(#bdc7d8, #768aaf);
  background: -webkit-linear-gradient(#bdc7d8, #768aaf);
  background: -ms-linear-gradient(#bdc7d8, #768aaf);
  background: -o-linear-gradient(#bdc7d8, #768aaf);
  background: linear-gradient(#bdc7d8, #768aaf);
  text-shadow: 0 -1px 0 #8a9bba;
  color: white;
  border-top: 1px solid #9fb0d3; }
.comp_shortListView li.active span.count, #sideBar ul.shortlist li.active span.count, #thirdBar ul.shortlist li.active span.count {
  background: white;
  color: #768aaf;
  text-shadow: 0 1px 0 white; }
.comp_shortListView li input[type=text], #sideBar ul.shortlist li input[type=text], #thirdBar ul.shortlist li input[type=text] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

.comp_multilineListView {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 33px;
  bottom: 36px;
  width: 100%;
  overflow: auto; }
.comp_multilineListView.nofooter {
  bottom: 0px; }
.comp_multilineListView li {
  display: block;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  border-top: 1px dotted #cbcbcb;
  border-left: 5px solid transparent;
  padding: 0.5em 1em;
  box-shadow: 0 1px 3px #545454;
  background: #fcfcfc;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
.comp_multilineListView li span {
  display: inline-block;
  width: 49%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.comp_multilineListView li span:nth-child(2n) {
  text-align: right;
  color: #a3a3a3; }
.comp_multilineListView li span:nth-child(n+3) {
  font-size: 0.8em; }
.comp_multilineListView li span:nth-child(2) {
  color: #6f6f6f; }
.comp_multilineListView li.deleted {
  -moz-transform: translateX(-105%);
  -webkit-transform: translateX(-105%);
  -ms-transform: translateX(-105%);
  -o-transform: translateX(-105%);
  transform: translateX(-105%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
.comp_multilineListView li:nth-child(2n+1) {
  background: #e6eefc; }
.comp_multilineListView li.active {
  background: #5f91e9;
  background: -moz-linear-gradient(#5f91e9, #1d5fd5);
  background: -webkit-linear-gradient(#5f91e9, #1d5fd5);
  background: -ms-linear-gradient(#5f91e9, #1d5fd5);
  background: -o-linear-gradient(#5f91e9, #1d5fd5);
  background: linear-gradient(#5f91e9, #1d5fd5);
  text-shadow: 0 -1px 0 #5d759f;
  color: white;
  border-top: 1px solid #9fb0d3; }
.comp_multilineListView li.active span:nth-child(2n) {
  color: #dde2eb; }
.comp_multilineListView li.state-1 {
  border-left: 5px solid rgba(255, 0, 0, 0.3); }
.comp_multilineListView li.state-2 {
  border-left: 5px solid rgba(0, 128, 0, 0.3); }
.comp_multilineListView li.state-3 {
  border-left: 5px solid rgba(255, 0, 255, 0.3); }
.comp_multilineListView li.state-4 {
  border-left: 5px solid rgba(0, 0, 255, 0.3); }
.comp_multilineListView li.state-5 {
  border-left: 5px solid rgba(255, 255, 0, 0.3); }

.Zebra_DatePicker {
  box-shadow: 0 0 10px #000; }

.Zebra_DatePicker * {
  margin: 0;
  padding: 0;
  color: #000; }

.Zebra_DatePicker {
  position: absolute;
  background: #333;
  border: 3px solid #333;
  border-radius: 4px;
  border-radius: 4px;
  display: none;
  z-index: 10009;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 13px; }

/* = GLOBALS
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker table {
  border-collapse: collapse;
  border-spacing: 0; }

.Zebra_DatePicker td, .Zebra_DatePicker th {
  text-align: center;
  padding: 5px 0; }

.Zebra_DatePicker td {
  cursor: pointer; }

.Zebra_DatePicker .dp_daypicker, .Zebra_DatePicker .dp_monthpicker, .Zebra_DatePicker .dp_yearpicker {
  margin-top: 3px; }

.Zebra_DatePicker .dp_daypicker td, .Zebra_DatePicker .dp_daypicker th, .Zebra_DatePicker .dp_monthpicker td, .Zebra_DatePicker .dp_yearpicker td {
  background: #E8E8E8;
  width: 30px;
  border: 1px solid #7BACD2; }

/* = HEADER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_header td {
  color: #bfbfbf;
  text-shadow: 0 -1px 0 black; }

.Zebra_DatePicker .dp_header .dp_previous, .Zebra_DatePicker .dp_header .dp_next {
  width: 30px; }

.Zebra_DatePicker .dp_header .dp_caption {
  font-weight: bold; }

.Zebra_DatePicker .dp_header .dp_hover {
  background: rgba(255, 255, 255, 0.1);
  color: #FFF; }

.Zebra_DatePicker .dp_header .dp_blocked {
  color: #888;
  cursor: default; }

/* = DATEPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_daypicker th {
  background: #1d5fd5;
  background: #5f91e9;
  background: -moz-linear-gradient(#5f91e9, #1d5fd5);
  background: -webkit-linear-gradient(#5f91e9, #1d5fd5);
  background: -ms-linear-gradient(#5f91e9, #1d5fd5);
  background: -o-linear-gradient(#5f91e9, #1d5fd5);
  background: linear-gradient(#5f91e9, #1d5fd5);
  color: #fff;
  text-shadow: 0 -1px 0 black; }

.Zebra_DatePicker td.dp_not_in_month {
  background: #F3F3F3;
  color: #CDCDCD;
  cursor: default; }

.Zebra_DatePicker td.dp_weekend {
  background: #D8D8D8; }

.Zebra_DatePicker td.dp_weekend_disabled {
  color: #CCC;
  cursor: default; }

.Zebra_DatePicker td.dp_selected {
  background: #5A4B4B;
  color: #FFF !important; }

.Zebra_DatePicker td.dp_week_number {
  background: #FFCC33;
  color: #555;
  cursor: text;
  font-style: italic; }

/* = MONTHPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_monthpicker td {
  width: 33%; }

/* = YEARPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_yearpicker td {
  width: 33%; }

/* = FOOTER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_footer {
  width: 100%;
  margin-top: 3px;
  text-shadow: 0 -1px 0 black; }

.Zebra_DatePicker .dp_footer td {
  color: #bfbfbf;
  padding: 2px;
  font-weight: bold; }

.Zebra_DatePicker .dp_footer .dp_hover {
  background: rgba(255, 255, 255, 0.1);
  color: #FFF; }

/* = SOME MORE GLOBALS (MUST BE LAST IN ORDER TO OVERWRITE PREVIOUS PROPERTIES)
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker td.dp_current {
  color: #C40000; }

.Zebra_DatePicker td.dp_disabled {
  background: #F3F3F3;
  color: #CDCDCD;
  cursor: default; }

.Zebra_DatePicker td.dp_hover {
  background: #5f91e9;
  color: #FFF; }

/* = ICON
----------------------------------------------------------------------------------------------------------------------*/
button.Zebra_DatePicker_Icon {
  width: 16px;
  height: 16px;
  background: url("../../images/admin/calendar.png") no-repeat left top;
  text-indent: -9000px;
  border: none;
  cursor: pointer;
  margin: 0 0 0 5px;
  padding: 0;
  line-height: 0; }

button.Zebra_DatePicker_Icon_Inside {
  position: relative;
  margin: 1px 3px 0 0; }

/* Chrome & Safari need some extra spacing... */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  button.Zebra_DatePicker_Icon_Inside {
    margin: 0 5px 0 0; } }
.chink {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #e2e2e2;
  margin-left: -10px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
  box-shadow: 0 0 5px #333333; }
.chink.lt {
  top: .6em; }
.chink.rt {
  top: 0.6em;
  right: 0;
  margin-left: 0;
  margin-right: -10px; }

#main {
  font-size: 1.1em; }

/*====*/
/*
#header {
  background: #d3d3d3;
  height: 50px;
  position: relative;
  border-bottom: 1px solid #707070;
  box-shadow: 0 0 3px black;
  z-index: 4; }
  */

#headerBar {
  height: 46px;
  /*width: 100%;*/
  /*
  background: #868686;
  background: -moz-linear-gradient(#868686, #121212);
  background: -webkit-linear-gradient(#868686, #121212);
  background: -ms-linear-gradient(#868686, #121212);
  background: -o-linear-gradient(#868686, #121212);
  background: linear-gradient(#868686, #121212);
  */
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  color: white;
  text-shadow: 0 -1px 0 black;
  line-height: 25px;
  z-index:222;
  }
#headerBar a:link, #headerBar a:visited {
  display: block;
  color: #bfbfbf;
  text-shadow: 0 -1px 0 black;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }
  /*
#headerBar ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }
#headerBar ul li {
  float: left;
  display: inline;
  position: relative;
  overflow: hidden; }
#headerBar ul li.active {
  background: #121212; }
#headerBar ul li.active > a {
  text-shadow: 0 0 10px white;
  color: white !important; }
#headerBar ul li ul {
  position: absolute;
  right: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 5px #545454;
  background: #121212; }
#headerBar ul li ul:before {
  content: " ";
  position: absolute;
  top: -24px;
  right: 2px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #bfbfbf; }
#headerBar ul li ul li {
  display: block;
  float: none;
  text-align: left;
  padding-right: 0;
  border-radius: 0;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.1); }
#headerBar ul li ul li:hover {
  background: rgba(255, 255, 255, 0.2); }
#headerBar ul li ul li:last-child {
  border-radius: 0 0 5px 5px; }
#headerBar ul li ul li a:link, #headerBar ul li ul li a:visited {
  padding: 7px 20px; }
#headerBar ul li ul li ul {
  position: absolute;
  left: 100%;
  right: auto;
  top: 0;
  border-radius: 5px; }
#headerBar ul li ul li ul:before {
  top: 1em;
  right: auto;
  left: -14px;
  width: 0;
  height: 0;
  border: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #bfbfbf; }
#headerBar ul li ul li ul li:first-child {
  border-radius: 5px 5px 0 0; }
#headerBar ul li:hover {
  overflow: visible;
  background: rgba(255, 255, 255, 0.1); }
#headerBar ul li:hover > a:link, #headerBar ul li:hover > a:visited {
  color: white; }

#menu {
  float: right; }
*/
#preloader {
  position: absolute;
  top: 15px;
  /*left: 22em;*/
  left: 19em;
  display: none; }

#notifications {
  float: left;
  /*position: relative;*/
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 5;
  font-size: 12px; }
#notifications #notifier {
  position: relative;
  float: left;
  left: -50%;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 7px black;
  padding: 0 1em 0 25px;
  font-weight: bold;
  background: white url("../../images/admin/icon_info.png") no-repeat 0.3em 0;
  max-height: 1000px;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  text-transform: capitalize;
  -webkit-transition-property: max-height, padding-top, padding-bottom, opacity, background-position;
  -moz-transition-property: max-height, padding-top, padding-bottom, opacity, background-position;
  -ms-transition-property: max-height, padding-top, padding-bottom, opacity, background-position;
  -o-transition-property: max-height, padding-top, padding-bottom, opacity, background-position;
  transition-property: max-height, padding-top, padding-bottom, opacity, background-position;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
#notifications #notifier.error {
  color: #860303;
  background-image: url("../../images/admin/icon_error.png"); }
#notifications #notifier.success {
  color: #006b3e;
  background-image: url("../../images/admin/icon_success.png"); }
#notifications #notifier.showing {
  opacity: 1;
  max-height: 100%;
  padding: 0.8em 1em 0.3em 25px;
  background-position: 0.3em 0.8em; }

#logoHolder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0 10px;
  height: 45px;
  background: #333333;
  background: -moz-linear-gradient(#333333, #121212);
  background: -webkit-linear-gradient(#333333, #121212);
  background: -ms-linear-gradient(#333333, #121212);
  background: -o-linear-gradient(#333333, #121212);
  background: linear-gradient(#333333, #121212);
  border-right: 1px solid #0d0d0d;
  box-shadow: 1px 0 1px #545454; }
#logoHolder img {
  position: relative;
  top: 1px; }



/*==*/
#body {
  position: absolute;
  top: 50px;
  bottom: 44px;
  left: 0;
  width: 100%; }
#body #bodyInner {
  width: 100%;
  height: 100%;
  position: relative; }

/*==*/
#sidebar{
  width: 30%;
  height: 100%;
  overflow: auto;
  position: relative;
  }

#sideBar, #thirdBar {
  width: 30%;
  height: 100%;
  background: #dde2eb;
  overflow: auto;
  position: relative;
  box-shadow: inset 0 0 7px #545454; }
#sideBar .headertoolbar, #thirdBar .headertoolbar {
  padding-left: 31px;
  border-bottom: 1px solid #999999;
  max-height: 17px;
  overflow: hidden; }
#sidebar .footertoolbar, #thirdBar .footertoolbar {
  /*max-height: 22px;*/
  max-height: 32px;
  overflow: hidden;
  padding-left: 31px;
  z-index: 2;
  border-top: 1px solid #999999; 
}
#sidebar.samelevel, #thirdBar.samelevel {
  box-shadow: none;
  border-right: 1px solid #999999; }
#sideBar.samelevel .headertoolbar, #sideBar.samelevel .footertoolbar, #thirdBar.samelevel .headertoolbar, #thirdBar.samelevel .footertoolbar {
  box-shadow: none; }
#sidebar #filterer, #thirdBar #filterer {
  display: block;
  position: relative; }
#sidebar #filterer #theFilter, #thirdBar #filterer #theFilter {
  width: 100%;
  padding: 2px 24px 2px 24px;
  font-size: 12px;
  border-radius: 10px !important;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: white url("../../images/admin/icon_inline_search.png") no-repeat 4px 0px; }
#sidebar #filterer a, #thirdBar #filterer a {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 4px;
  top: 3px;
  background: url("../../images/admin/icon_trash.png") no-repeat;
  display: none; }
#sidebar #treeHolder, #thirdBar #treeHolder {
  position: absolute;
  top: 33px;
  bottom: 0;
  width: 100%;
  overflow: auto; }
#sideBar #treeHolder > ul, #thirdBar #treeHolder > ul {
  margin-top: 10px; }

#thirdBar ul.list li {
  background: #efefef;
  background: -moz-linear-gradient(#efefef, #fcfcfc);
  background: -webkit-linear-gradient(#efefef, #fcfcfc);
  background: -ms-linear-gradient(#efefef, #fcfcfc);
  background: -o-linear-gradient(#efefef, #fcfcfc);
  background: linear-gradient(#efefef, #fcfcfc); }
#thirdBar ul.list li.active {
  background: #333333;
  background: -moz-linear-gradient(#333333, #525252);
  background: -webkit-linear-gradient(#333333, #525252);
  background: -ms-linear-gradient(#333333, #525252);
  background: -o-linear-gradient(#333333, #525252);
  background: linear-gradient(#333333, #525252); }
#thirdBar ul.list li span.extraData {
  color: #587483; }
#thirdBar ul.list.reorderable li {
  background: url("../../images/admin/drag_handle.png") no-repeat 5px 0.45em, -moz-linear-gradient(#efefef, #fcfcfc);
  background: url("../../images/admin/drag_handle.png") no-repeat 5px 0.45em, -webkit-linear-gradient(#efefef, #fcfcfc);
  background: url("../../images/admin/drag_handle.png") no-repeat 5px 0.45em, linear-gradient(#efefef, #fcfcfc); }
#thirdBar ul.list.reorderable li.active {
  background: url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.45em, -moz-linear-gradient(#333333, #525252);
  background: url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.45em, -webkit-linear-gradient(#333333, #525252);
  background: url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.45em, linear-gradient(#333333, #525252); }

/*==*/
/*==*/
#thirdBar {
  width: 20%;
  background: url("../../images/admin/white_carbon.png");
  right: 0;
  top:0;
  bottom: 0;
  box-shadow: inset 0 0 7px #545454;
  overflow: auto;
  position: absolute; }
#thirdBar.secondpane {
  right: auto;
  left: 30%;
  background: #edf0f4; }

/*==*/
#main-content {
  /*Has left sidebar*/
  position: absolute;
  width: 70%;
  height: 100%;
  overflow: auto;
  right: 0; }
#main-content.threepane {
  /*Has left & right sidebars*/
  width: 50%;
  float: none;
  position: absolute;
  top: 0;
  right: 20%;
  height: 100%; }
#main-content.threepane.lastpane {
  right: 0; }
#main-content.twopane {
  /*Has right sidebar*/
  width: 80%;
  float: none;
  position: absolute;
  top: 0;
  right: 20%;
  height: 100%; }
#main-content.onepane {
  /*Has NO sidebars*/
  width: 100%;
  float: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%; }
#main-content.hastabs {
  top: 34px; }
#main-content h1, #main-content h2 {
  border-bottom: 1px solid #cbcbcb;
  font-weight: normal;
  font-size: 1.8em;
  padding: 0.3em 0;
  font-size-adjust: 0.52;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }
#main-content h2 {
  font-size: 1.6em;
  font-style: italic;
  font-weight: normal; }
#main-content p {
  margin: 1em 0; }
#main-content #main-contentInner {
  position: relative; }
#main-content .tab_content {
  display: none; }
#main-content ul.list {
  border-radius: 0.4em;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto; }
#main-content ul.list li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  background: #efefef;
  background: -moz-linear-gradient(#efefef, #fcfcfc);
  background: -webkit-linear-gradient(#efefef, #fcfcfc);
  background: -ms-linear-gradient(#efefef, #fcfcfc);
  background: -o-linear-gradient(#efefef, #fcfcfc);
  background: linear-gradient(#efefef, #fcfcfc); }
#main-content ul.list li:first-child {
  border-radius: 0.4em 0.4em 0 0; }
#main-content ul.list li:last-child {
  border-radius: 0 0 0.4em 0.4em; }
#main-content ul.list li.active {
  background: #96a6c1;
  background: -moz-linear-gradient(#96a6c1, #5a7098);
  background: -webkit-linear-gradient(#96a6c1, #5a7098);
  background: -ms-linear-gradient(#96a6c1, #5a7098);
  background: -o-linear-gradient(#96a6c1, #5a7098);
  background: linear-gradient(#96a6c1, #5a7098);
  text-shadow: 0 -1px 0 #252e3e;
  color: white;
  border-color: #bdc7d8; }
#main-content ul.list.reorderable li {
  background: url("../../images/admin/drag_handle.png") no-repeat 5px 0.65em, -moz-linear-gradient(#efefef, #fcfcfc);
  background: url("../../images/admin/drag_handle.png") no-repeat 5px 0.65em, -webkit-linear-gradient(#efefef, #fcfcfc);
  background: url("../../images/admin/drag_handle.png") no-repeat 5px 0.65em, linear-gradient(#efefef, #fcfcfc); }
#main-content ul.list.reorderable li.active {
  background: url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.65em, -moz-linear-gradient(#96a6c1, #5a7098);
  background: url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.65em, -webkit-linear-gradient(#96a6c1, #5a7098);
  background: url("../../images/admin/drag_handle_active.png") no-repeat 5px 0.65em, linear-gradient(#96a6c1, #5a7098); }

/*--*/
#loginBox {
  margin: 0 auto;
  width: 350px;
  padding: 15px;
  margin-top: 40px;
  background: #dde2eb;
  box-shadow: inset 0 0 3px #545454;
  border-radius: 5px; }

/*--*/
#innerTabs {
  background: #cbcbcb;
  background: -moz-linear-gradient(#cbcbcb, #969696);
  background: -webkit-linear-gradient(#cbcbcb, #969696);
  background: -ms-linear-gradient(#cbcbcb, #969696);
  background: -o-linear-gradient(#cbcbcb, #969696);
  background: linear-gradient(#cbcbcb, #969696);
  position: absolute;
  left: 30%;
  top: 0;
  width: 70%; }
#innerTabs ul {
  padding: 0.7em 0.7em 0 0.7em;
  margin: 0;
  list-style: none; }
#innerTabs ul li {
  position: relative;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding: .3em .7em;
  margin: 0;
  text-align: center;
  border-radius: 5px 5px 0 0;
  border: 1px solid #707070;
  border-bottom: none;
  background: #cbcbcb;
  background: -moz-linear-gradient(#cbcbcb, #969696);
  background: -webkit-linear-gradient(#cbcbcb, #969696);
  background: -ms-linear-gradient(#cbcbcb, #969696);
  background: -o-linear-gradient(#cbcbcb, #969696);
  background: linear-gradient(#cbcbcb, #969696);
  text-shadow: none; }
#innerTabs ul li:hover {
  background: #efefef;
  background: -moz-linear-gradient(#efefef, #969696);
  background: -webkit-linear-gradient(#efefef, #969696);
  background: -ms-linear-gradient(#efefef, #969696);
  background: -o-linear-gradient(#efefef, #969696);
  background: linear-gradient(#efefef, #969696); }
#innerTabs ul li.active {
  background: #eceeef url("../../images/admin/handmadepaper.png");
  border-color: #f4f4f4;
  color: #2f3e46;
  text-shadow: 0 1px 0 white;
  cursor: default; }
#innerTabs ul li.disabled {
  background: #999999;
  cursor: default; }
#innerTabs ul li span.count {
  color: white;
  border-radius: 64px;
  width: auto;
  overflow: hidden;
  font-weight: normal !important;
  text-shadow: none;
  font-size: 10px;
  line-height: 16px;
  padding: 0;
  display: inline-block;
  float: left;
  margin-left: -5px;
  margin-right: 5px; }
#innerTabs ul li span.count span {
  display: inline-block;
  background: red;
  padding: 0 5px; }
#innerTabs ul li span.count span:first-child {
  background: #006b3e; }

/*==*/
/*
#footer {
  height: 44px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid white;
  background: #d3d3d3;
  background: -moz-linear-gradient(#d3d3d3, #ededed);
  background: -webkit-linear-gradient(#d3d3d3, #ededed);
  background: -ms-linear-gradient(#d3d3d3, #ededed);
  background: -o-linear-gradient(#d3d3d3, #ededed);
  background: linear-gradient(#d3d3d3, #ededed);
  box-shadow: rgba(0, 0, 0, 0.3) 0 -2px 5px;
  z-index: 5; }

#footerInner {
  padding: 0 31px;
  padding-top: 10px;
  padding-right: 10px;
  line-height: 14px; }
#footerInner p.licensing {
  float: left; }
#footerInner p.licensing span {
  font-weight: bold;
  font-style: italic; }
#footerInner p.copyright {
  float: right; }
#footerInner p.copyright img {
  float: right;
  margin-left: 10px;
  margin-top: -2px; }

#authenHolder {
  position: absolute;
  width: 30%;
  left: 35%;
  top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em; }
#authenHolder a:link, #authenHolder a:visited {
  color: white;
  display: inline-block;
  margin-left: 5px;
  background: #333333;
  padding: 2px 5px;
  text-shadow: none;
  text-decoration: none;
  border-radius: 3px;
  text-shadow: 0 -1px 0 black; }
#authenHolder a:hover {
  background: #ababab; }
*/
/*==*/
#popupHolder {
  display: none; }
#popupHolder #overlay {
  z-index: 10000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-radial-gradient(center center, circle cover, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6) 100%);
  background: -webkit-radial-gradient(center center, circle cover, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6) 100%);
  background: -ms-radial-gradient(center center, circle cover, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6) 100%);
  background: -o-radial-gradient(center center, circle cover, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6) 100%);
  background: radial-gradient(center center, circle cover, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6) 100%); }
#popupHolder #popupOuter {
  z-index: 10001;
  background: white;
  position: fixed;
  top: 20%;
  left: 20%;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  padding: 0.6em;
  padding-bottom: 35px;
  -moz-transform: translateY(-500px) scale(0.1);
  -webkit-transform: translateY(-500px) scale(0.1);
  -ms-transform: translateY(-500px) scale(0.1);
  -o-transform: translateY(-500px) scale(0.1);
  transform: translateY(-500px) scale(0.1);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
#popupHolder #popupOuter.showing {
  -moz-transform: translateY(0) scale(1);
  -webkit-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  -o-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1); }
#popupHolder #popup {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 11px;
  color:#2F3E46;}
#popupHolder #popupTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  color: white;
  background: #868686;
  background: -moz-linear-gradient(#868686, #121212);
  background: -webkit-linear-gradient(#868686, #121212);
  background: -ms-linear-gradient(#868686, #121212);
  background: -o-linear-gradient(#868686, #121212);
  background: linear-gradient(#868686, #121212);
  text-shadow: 0 -1px 0 black;
  border-radius: 0 0 10px 10px; }
#popupHolder #popupTitle span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  font-size: 16px;
  font-weight: normal;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  padding: 0.4em 2em 0.6em 0.6em;
  text-align: center; }
#popupHolder #popupTitle a {
  position: absolute;
  right: 0.6em;
  top: 0.6em;
  width: 18px;
  height: 18px;
  background: white url("../../images/admin/icon_cross.png") no-repeat 1px 1px;
  border-radius: 64px;
  box-shadow: 0 0 5px black; }

/*====TREE====*/
/* TREE LAYOUT */
.tree ul {
  margin: 0 0 0 5px;
  padding: 0 0 0 0;
  list-style-type: none; }

.tree li {
  display: block;
  min-height: 18px;
  line-height: 18px;
  padding: 0 0 0 15px;
  margin: 0 0 0 0;
  /* Background fix */
  clear: both;
  _height: 18px;
  #height: auto; }

.tree li ul {
  display: none; }

.tree li a, .tree li span {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  color: black;
  white-space: nowrap;
  text-decoration: none;
  padding: 1px 4px 1px 1px;
  margin: 0; }

.tree li a:focus {
  outline: none; }

.tree li a input, .tree li span input {
  margin: 0;
  padding: 0 0;
  display: inline-block;
  height: 12px !important;
  border: 1px solid white;
  background: white;
  font-size: 10px;
  font-family: Verdana; }

.tree li a input:not([class="xxx"]), .tree li span input:not([class="xxx"]) {
  padding: 1px 0; }

/* FOR DOTS */
.tree .ltr li.last {
  float: left; }

.tree .rtl li.last {
  float: right;
  #float: none;
  _float: right; }

.tree > ul li.last {
  overflow: visible; }

/* OPEN OR CLOSE */
.tree li.open ul {
  display: block; }

.tree li.closed ul {
  display: none !important; }

/* FOR DRAGGING */
#jstree-dragged {
  position: absolute;
  top: -10px;
  left: -10px;
  margin: 0;
  padding: 0; }

#jstree-dragged .rtl {
  _width: 20px;
  #width: 200px;
  margin: 0;
  padding: 0; }

#jstree-dragged ul ul ul {
  display: none; }

/* RTL modification */
.tree .rtl, .tree .rtl ul {
  margin: 0 5px 0 0; }

.tree .rtl li {
  padding: 0 15px 0 0; }

.tree .rtl li a, .tree .rtl li span {
  padding: 1px 1px 1px 4px; }

/* CONTEXT MENU */
.tree-context {
  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: -2000px;
  top: -2000px; }

.tree-context .separator {
  display: none; }

.tree-context a {
  display: block;
  margin: 0;
  padding: 0; }

/** FIREFOX2 fix **/
.tree .ltr li a, x:-moz-any-link {
  display: inline;
  float: left; }

.tree .rtl li a, x:-moz-any-link {
  display: inline;
  float: right; }

.tree li ul, x:-moz-any-link {
  clear: both; }

/** FIREFOX3 restore **/
.tree .ltr li a, .tree .rtl li a, x:-moz-any-link, x:default {
  display: inline-block;
  float: none; }

.tree li ul, x:-moz-any-link, x:default {
  clear: none; }

/** IE7 Restore **/
.tree .ltr li a, .tree .rtl li a {
  #display: inline-block;
  #float: none; }

.tree li ul {
  #clear: none; }

.tree li {
  _width: 1px; }

.tree li li {
  overflow: hidden;
  #overflow: visible;
  _overflow: visible; }

.tree > .ltr > li {
  display: table; }

.tree > .rtl > li {
  display: table; }

/* EXPLORER 6 and 7 fix for 2px whitespace */
.tree .ltr li.last {
  #margin-top: expression((this.previousSibling && /open/.test(this.previousSibling.className) ) ? "-2px" : "0");
  _margin-top: expression((this.previousSibling && /open/.test(this.previousSibling.className) ) ? "-2px" : "0"); }

.tree .rtl li.last {
  _margin-top: expression((this.previousSibling && /open/.test(this.previousSibling.className) ) ? "-2px" : "0"); }

/* OPERA SCROLLBAR ISSUE */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
  head ~ body .tree > ul > li.last > ul {
    margin-bottom: 36px; }

  .tree li li {
    overflow: visible; } }
/*
FIREFOX FIX
@-moz-document url-prefix() {}
*/
/* LOCKED */
.tree .locked li a {
  color: gray; }

/* DOTS */
.tree {
  /* DOTS - RIGHT TO LEFT */ }
.tree ul {
  background-position: 6px 1px;
  background-repeat: repeat-y;
  background-image: url("../../images/admin/tree/dot.gif"); }
.tree li {
  background-position: 7px 8px;
  background-repeat: no-repeat;
  background-image: url("../../images/admin/tree/li.gif"); }
.tree li.last {
  background-position: 5px top;
  background-repeat: no-repeat;
  background-image: url("../../images/admin/tree/lastli.gif"); }
.tree .rtl, .tree .rtl ul {
  background-position: right 1px; }
.tree .rtl li {
  background-position: right 8px; }
.tree .rtl li.last {
  background-image: url("../../images/admin/tree/lastli_rtl.gif");
  background-position: right top; }

/* NO DOTS */
.tree .no_dots, .tree .no_dots ul {
  background: transparent; }

.tree .no_dots li.leaf {
  background-image: none;
  background-color: transparent; }

/* OPEN or CLOSED */
.tree li.open {
  background: url("../../images/admin/fminus.gif") 4px 6px no-repeat; }

.tree li.closed, #jstree-dragged.tree li li.open {
  background: url("../../images/admin/tree/fplus.gif") 5px 5px no-repeat; }

/* RIGHT TO LEFT */
.tree .rtl li {
  margin-right: 1px; }

.tree .rtl li.last {
  margin-right: 0;
  padding-right: 16px; }

.tree .rtl li.open {
  background: url("../../images/admin/tree/fminus_rtl.gif") right 6px no-repeat;
  margin-right: 0;
  padding-right: 16px; }

.tree .rtl li.closed, #jstree-dragged.tree .rtl li li.open {
  background: url("../../images/admin/tree/fplus_rtl.gif") right 4px no-repeat;
  margin-right: 0;
  padding-right: 16px; }

/* DEFAULT, HOVER, CLICKED, LOADING STATES */
.tree li a, .tree li span {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 4px 1px;
  padding: 1px 4px 1px 23px !important;
  background-image: url("../../images/admin/tree/f.png");
  border-radius: 2px; }

.tree li a:hover, .tree li a.hover {
  background-color: #3FE2E2;
  border: 1px solid transparent;
  padding: 0px 3px 0px 22px !important;
  background-position: 3px 0px;
  text-shadow: none; }

.tree li a.clicked, .tree li a.clicked:hover, .tree li span.clicked {
  background-color: #3FE2E2;
  border: 1px solid transparent;
  padding: 0px 3px 0px 22px !important;
  background-position: 3px 0px;
  color: white;
  text-shadow: 0 -1px 0 #164599; }

.tree li span.clicked {
  padding: 0px 3px 0px 20px; }

.tree li a.loading {
  background-image: url("../../images/admin/tree/throbber.gif"); }

/* DEFAULT, HOVER, CLICKED, LOADING STATES - RIGHT TO LEFT */
.tree .rtl li a, .tree .rtl li span {
  padding: 1px 23px 1px 4px;
  background-position: right 1px;
  margin-right: 1px; }

.tree .rtl li a:hover, .tree .rtl li a.hover {
  padding: 0px 23px 0px 3px;
  background-position: right 0px;
  margin-right: 0px; }

.tree .rtl li a.clicked, .tree .rtl li a.clicked:hover, .tree .rtl li span.clicked {
  padding: 0px 23px 0px 3px;
  background-position: right 0px;
  margin-right: 0px; }

.tree .rtl li span.clicked {
  padding: 0px 21px 0px 3px; }

/* CONTEXT MENU */
.tree-context {
  width: 160px;
  background: #fefefe url("../../images/admin/tree/context.gif") 22px 0 repeat-y;
  border: 1px solid silver;
  position: absolute;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0 3px 5px #000; }

.tree-context a, .tree-context a.disabled:hover {
  display: block;
  text-decoration: none;
  color: black;
  background-repeat: no-repeat;
  background-position: 2px center;
  padding: 0.2em 0 0.2em 25px !important;
  background-color: transparent;
  border: 1px solid #fefefe;
  border-width: 0 1px;
  margin: 0; }

.tree-context a:hover {
  background-color: #e7f4f9;
  padding: 0.2em 0 0.2em 25px !important;
  margin: 0; }

.tree-context a.disabled, .tree-context a.disabled:hover {
  color: silver;
  opacity: 0.5;
  -ms-filter: 'alpha(opacity=50)';
  filter: alpha(opacity=50);
  zoom: 1; }

.tree-context .separator {
  background: white;
  border-top: 1px solid #e3e3e3;
  font-size: 1px;
  height: 1px;
  line-height: 1px;
  margin: 0 2px 0 24px;
  min-height: 1px;
  display: block; }
  
.tabs{
  height:100px;
  overflow:scroll;
}
.tabs label{
  display:block;
  text-align:left;
}
