#sidebar ul.list li input, #sidebar ul.list li img.action, #sidebar ul.list li span.extraData{
  float:left;
}

#sidebar #treeHolder{
  top:123px;
}
#sidebar ul{
  margin-top:0 !important;
}
.tree li a, .tree li span{
  color:#555 !important;
  margin-top:2px;
  vertical-align:top;
}
.tree li ul li span.clicked input[type=text]{
  height:20px;
  box-shadow:0 !important;
  box-shadow:none !important;
}

.comp_floatingList .headertoolbar, .footertoolbar {
  background: #efefef;
  background: -moz-linear-gradient(#efefef, #cdcdcd);
  background: -webkit-linear-gradient(#efefef, #cdcdcd);
  background: -ms-linear-gradient(#efefef, #cdcdcd);
  background: -o-linear-gradient(#efefef, #cdcdcd);
  background: linear-gradient(#efefef, #cdcdcd);
  box-shadow: 0 1px 3px #545454;
  border: 1px solid #cbcbcb;
}
.close, .close:hover, .close:focus{
  opacity:1 !important;
}

#infoPanel p{
  color: #2f3e46;
  font-size: 11px;
}

.headertoolbar button{
  margin-right: 0px;
}

#sidebar {
  width: 22%; }

#thirdBar {
  width: 15%; }

#main-content {
  width: 78%; }

#innerTabs {
  left: 22%;
  width: 63%; }

#main-content.threepane {
  width: 63%;
  right: 15%;
  height: auto;
  bottom: 0; }

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

#previewArea, #editArea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 31px; }

#treeHolder ul li.onDrop > a:first-of-type, #productTreeHolder ul li.onDrop > a:first-of-type {
  background-color: #333333;
  color: white;
  text-shadow: 0 -1px 0 black; }

#editorToolbar, #EditableArea_parent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0; }

#editorToolbar {
  z-index: 2; }

#EditableArea_parent {
  bottom: 0; }

#editorToolbar .mceExternalToolbar {
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px black;
  background: #ededed;
  background: -moz-linear-gradient(#ededed, #cbcbcb);
  background: -webkit-linear-gradient(#ededed, #cbcbcb);
  background: -ms-linear-gradient(#ededed, #cbcbcb);
  background: -o-linear-gradient(#ededed, #cbcbcb);
  background: linear-gradient(#ededed, #cbcbcb); }

#EditableArea_ifr, #previewIframe {
  position: absolute;
  top: 52px;
  right: 0;
  left: 0;
  bottom: 40px;
  z-index: 1; }

#autoSaveInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  height: 97px;
  width: 446px;
  background: #FFFB00;
  padding: 3px 15px;
  margin-top: -97px;
  margin-left: -223px;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
#autoSaveInfo p {
  text-shadow: 0 1px 0 #FFFD8F !important;
  font-weight: bold  !important;
  color:#000; 
  margin: 1em 0;
  font-size: 12px !important;}
#autoSaveInfo.hide {
  opacity: 0;
  -moz-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1); }


/*Orphanage*/
#orphanage_link {
  position: absolute;
  background: #cbcbcb;
  background: -moz-linear-gradient(#cbcbcb, #ededed);
  background: -webkit-linear-gradient(#cbcbcb, #ededed);
  background: -ms-linear-gradient(#cbcbcb, #ededed);
  background: -o-linear-gradient(#cbcbcb, #ededed);
  background: linear-gradient(#cbcbcb, #ededed);
  color: black;
  padding: 5px 7px;
  border-radius: 64px;
  box-shadow: inset 0 0 3px black;
  font-size: 12px;
  line-height: 12px;
  right: 1.1em;
  top: .5em;
  text-shadow: 0 1px 0 white;
  font-weight: normal;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
#orphanage_link.active {
  background: #768aaf;
  color: white;
  text-shadow: 0 -1px 0 #164599; }

/*End Orphanage*/
/*--VERSIONS--*/
#versionsCount {
  position: absolute;
  background: #768aaf;
  color: white;
  padding: 5px;
  border-radius: 64px;
  box-shadow: inset 0 0 3px black;
  font-size: 12px;
  line-height: 12px;
  right: 1.1em;
  top: .5em;
  text-shadow: 0 -1px 0 #164599; }

#versionPanel ul {
  margin: 0;
  padding: 0;
  list-style: none; }
#versionPanel ul li {
  background: #fdfdfd;
  background: -moz-linear-gradient(#fdfdfd, #ededed);
  background: -webkit-linear-gradient(#fdfdfd, #ededed);
  background: -ms-linear-gradient(#fdfdfd, #ededed);
  background: -o-linear-gradient(#fdfdfd, #ededed);
  background: linear-gradient(#fdfdfd, #ededed);
  border-radius: 3px;
  padding: .5em .3em;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 3px black;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
#versionPanel ul li.active {
  background: #525252;
  background: -moz-linear-gradient(#525252, #333333);
  background: -webkit-linear-gradient(#525252, #333333);
  background: -ms-linear-gradient(#525252, #333333);
  background: -o-linear-gradient(#525252, #333333);
  background: linear-gradient(#525252, #333333);
  color: white;
  text-shadow: 0 -1px 0 black;
  -moz-transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04); }
#versionPanel ul li input {
  float: right;
  margin-left: 2px;
  margin-top: -0.1em;
  -webkit-transition-property: margin-top;
  -moz-transition-property: margin-top;
  -ms-transition-property: margin-top;
  -o-transition-property: margin-top;
  transition-property: margin-top;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
#versionPanel ul li div.summary {
  margin-left: 2em;
  max-height: 100px;
  overflow: hidden;
  font-size: 10px;
  line-height: 13px; }
#versionPanel ul li div.details {
  position: relative;
  z-index: 1;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition-property: max-height;
  -moz-transition-property: max-height;
  -ms-transition-property: max-height;
  -o-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
#versionPanel ul li div.details span {
  margin-left: 2.5em;
  display: block; }
#versionPanel ul li div.name {
  position: absolute;
  width: auto;
  background: #525252;
  top: 0.3em;
  left: 0.3em;
  display: block;
  border-radius: 3px;
  box-shadow: inset 0 0 2px black;
  text-shadow: 0 -1px 0 black;
  white-space: nowrap;
  padding: 0px 3px;
  font-size: 10px;
  height: 18px;
  overflow: hidden;
  color: white;
  text-align: center; }
#versionPanel ul li div.name span {
  font-weight: normal;
  overflow: hidden;
  display: inline-block; }
#versionPanel ul li div.name span.shrink {
  max-width: 0px; }
#versionPanel ul li.active {
  z-index: 7; }
#versionPanel ul li.active div.summary {
  max-height: 0px; }
#versionPanel ul li.active div.details {
  max-height: 200px; }
#versionPanel ul li.active input {
  margin-top: 1.7em; }
#versionPanel ul li.active div.name {
  width: 5em;
  left: 2.1em;
  top: auto;
  bottom: 0.5em;
  background: #eaefb5;
  background: -moz-linear-gradient(#eaefb5, #e1e9a0);
  background: -webkit-linear-gradient(#eaefb5, #e1e9a0);
  background: -ms-linear-gradient(#eaefb5, #e1e9a0);
  background: -o-linear-gradient(#eaefb5, #e1e9a0);
  background: linear-gradient(#eaefb5, #e1e9a0);
  color: #333333;
  font-weight: bold;
  text-shadow: none;
  box-shadow: none;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%; }
#versionPanel ul li.active div.name span.shrink {
  max-width: 50px; }

#versionsCompare {
  position: absolute;
  bottom: 8px;
  width: 100%;
  overflow: hidden;
  background: #ededed;
  background: -moz-linear-gradient(#ededed, #cbcbcb);
  background: -webkit-linear-gradient(#ededed, #cbcbcb);
  background: -ms-linear-gradient(#ededed, #cbcbcb);
  background: -o-linear-gradient(#ededed, #cbcbcb);
  background: linear-gradient(#ededed, #cbcbcb);
  text-align: center;
  padding: .6em 0;
  z-index: 2; }

/*DIFF View*/
#previewArea {
  display: none; }
#previewArea div.edit_page_content {
  height: 38px;
  text-align: center;
  padding-top: 15px;
  position: absolute;
  left: 0;
  right: 0;
  background: #ededed;
  background: -moz-linear-gradient(#ededed, #cbcbcb);
  background: -webkit-linear-gradient(#ededed, #cbcbcb);
  background: -ms-linear-gradient(#ededed, #cbcbcb);
  background: -o-linear-gradient(#ededed, #cbcbcb);
  background: linear-gradient(#ededed, #cbcbcb);
  box-shadow: 0 0 5px black;
  z-index: 2;
  font-size: 14px; }

#diffFooter {
  height: 30px;
  text-align: center;
  font-weight: normal; }

#previewArea div.edit_page_content span.versn {
  border-radius: 3px;
  box-shadow: inset 0 0 2px black;
  text-shadow: 0 -1px 0 black;
  white-space: nowrap;
  padding: 3px 7px;
  background: #eaefb5;
  background: -moz-linear-gradient(#eaefb5, #e1e9a0);
  background: -webkit-linear-gradient(#eaefb5, #e1e9a0);
  background: -ms-linear-gradient(#eaefb5, #e1e9a0);
  background: -o-linear-gradient(#eaefb5, #e1e9a0);
  background: linear-gradient(#eaefb5, #e1e9a0);
  color: #333333;
  text-shadow: 0px 1px 0px white;
  width: 100px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 1px; }
#previewArea div.edit_page_content button.left {
  border-radius: 10px 0 0 10px; }
#previewArea div.edit_page_content button.right {
  border-radius: 0 10px 10px 0; }

/*--END VERSIONS--*/
