.headertoolbar, .footertoolbar{
  background: linear-gradient(#EFEFEF, #CDCDCD) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #CBCBCB;
  box-shadow: 0 1px 3px #545454;

}
.close{
  opacity: 1 !important;
}
.comp_floatingList ul li{
  margin-bottom: 0px !important;
}
#widgetsHolder {
  display: block; }

#widgetsMain {
  float: left;
  width: 58%;
  padding: 10px;
  min-height: 400px; }

#widgetsRight {
  float: right;
  width: 38%;
  padding: 10px;
  min-height: 400px; }

#widgetsRight.onDrop, #widgetsMain.onDrop {
  background: -moz-radial-gradient(circle, #9dabc5, #8093b4);
  background: -webkit-radial-gradient(circle, #9dabc5, #8093b4);
  background: -ms-radial-gradient(circle, #9dabc5, #8093b4);
  background: -o-radial-gradient(circle, #9dabc5, #8093b4);
  background: radial-gradient(circle, #9dabc5, #8093b4); }

.dashbox, .placeholder {
  border: 1px solid #cbcbcb;
  border-top: none;
  background: white;
  display: inline-block;
  border-radius: 5px;
  margin: 1%;
  float: left;
  vertical-align: top; }

.dashbox {
  width: 98%;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -ms-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
.dashbox.ui-sortable-helper {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }

.placeholder {
  background: #edf0f4;
  border: 1px dashed #2e2e2e;
  min-height: 332px; }

.dashbox .headertoolbar {
  position: relative;
  cursor: move; }
.dashbox .headertoolbar a:link, .dashbox .headertoolbar a:visited {
  width: 21px;
  height: 21px;
  position: absolute;
  right: 5px;
  background: url("../../images/admin/dash_widget_control.png") no-repeat -42px -28px; }
.dashbox .headertoolbar a.minimise {
  right: 26px;
  background-position: -21px -28px; }
.dashbox .headertoolbar a.options {
  right: 47px;
  background-position: 0px -28px; }
.dashbox .headertoolbar a.close:hover {
  background-position: -42px 2px; }
.dashbox .headertoolbar a.minimise:hover {
  background-position: -21px 2px; }
.dashbox .headertoolbar a.options:hover {
  background-position: 0px 2px; }
.dashbox .headertoolbar ul {
  position: absolute;
  font: normal 11px/18px Arial, Verdana, Helvetica;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  background: white;
  box-shadow: 0 0 5px #545454;
  border-radius: 0 0 3px 3px;
  right: 54px;
  top: 2.9em;
  z-index: 100;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -moz-transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
.dashbox .headertoolbar ul.showing {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1; }
.dashbox .headertoolbar ul li {
  cursor: pointer;
  padding: 3px 7px;
  font-weight: bold; }
.dashbox .headertoolbar ul li:hover {
  background: #eaedf3; }
.dashbox .headertoolbar ul li:last-child {
  border-radius: 0 0 3px 3px; }
.dashbox .content {
  padding: 10px;
  padding-bottom: 0px;
  height: 290px;
  max-height: 1000px;
  overflow: auto;
  box-shadow: inset 0 0 3px #545454;
  background: #dde2eb;
  -webkit-transition-property: max-height, padding;
  -moz-transition-property: max-height, padding;
  -ms-transition-property: max-height, padding;
  -o-transition-property: max-height, padding;
  transition-property: max-height, padding;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
.dashbox .content iframe {
  width: 100%;
  height: 280px;
  border: none; }
.dashbox .content iframe iframe {
  overflow: hidden; }
.dashbox.two_thirds {
  width: 64%; }
.dashbox.half {
  width: 47.5%; }
.dashbox.third {
  width: 31%; }
.dashbox.minimised .content {
  max-height: 0px;
  overflow: hidden;
  padding: 0; }
.dashbox.minimised .headertoolbar a.minimise {
  background-position: -21px 2px !important; }
