#sidebar {
  width: 20%; }

  #thirdBar {
  width: 20%; }

  #main-content {
  width: 80%; }

  #main-content.threepane {
  width: 60%;
  right: 20%;
  height: auto;
  bottom: 0; }

  /*==*/
#thirdBar div.permissionSection {
  margin-top:10px;
  margin: 0;
  padding: 0px;
  padding-bottom: 5px;
  display: block; }
#thirdBar div.permissionSection span {
  display: block; }
#thirdBar div.permissionSection span.section {
  margin-bottom: 10px; }
#thirdBar div.permissionSection span.section input {
  float: right;
  margin: 2px; }
#thirdBar div.permissionSection label.subsection {
  margin-left: 10px;
  display: block; }



.footertoolbar {
  box-shadow: 0 1px 3px #545454;
  border: 1px solid #cbcbcb;
  padding: 7px 11px;
}
.add_shadow{
  box-shadow: 0 1px 3px #545454 !important;
  border: 1px solid #cbcbcb !important;
}

table.table tr{
	cursor:pointer;
}

/*==*/
