#sidebar {
  width: 25%; 
}
#sidebar ul{
  margin-top:14px;
}
#sidebar > ul {
  bottom:0 !important;
}
#sidebar > ul > li{
  background:#F9F9F9 !important;
  line-height:20px !important;
  padding:0.5em 1em !important;
  font-size: 14px;
}

.comp_multilineListView li{
  box-shadow:none !important;
}
#sidebar > ul > li:nth-child(2n+1){
  background:#e6eefc !important;
}

#sidebar > ul > li.active{
  background: #5f91e9 !important;
  background: -moz-linear-gradient(#5f91e9, #1d5fd5) !important;
  background: -webkit-linear-gradient(#5f91e9, #1d5fd5) !important;
  background: -ms-linear-gradient(#5f91e9, #1d5fd5) !important;
  background: -o-linear-gradient(#5f91e9, #1d5fd5) !important;
  background: linear-gradient(#5f91e9, #1d5fd5) !important;
  text-shadow: none !important;
  color: white !important;
  border-top: none !important;
  font-size: 14px;
}
#sidebar > ul > li.active span:nth-child(2n) {
  color: #dde2eb !important; }
#sidebar > ul > li.state-1 {
  border-left: 5px solid rgba(255, 0, 0, 0.3) !important; }
#sidebar > ul > li.state-2 {
  border-left: 5px solid rgba(0, 128, 0, 0.3) !important;}
#sidebar > ul > li.state-3 {
  border-left: 5px solid rgba(255, 0, 255, 0.3) !important; }
#sidebar > ul > li.state-4 {
  border-left: 5px solid rgba(0, 0, 255, 0.3) !important; }
#sidebar > ul > li.state-5 {
  border-left: 5px solid rgba(255, 255, 0, 0.3) !important; }
  
  

#thirdBar {
  width: 15%; }

#main-content {
  width: 75%; }

#innerTabs {
  left: 25%;
  width: 60%; }

#mainContent.threepane {
  width: 60%;
  right: 15%;
  height: auto;
  bottom: 0; }

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
