#sidebar {
  width: 23%; }

#thirdBar {
  width: 23%; }

#main-content {
  width: 77%; }

#innerTabs {
  left: 25%;
  width: 60%; }

#main-content.threepane {
  width: 54%;
  right: 23%;
  height: auto;
  bottom: 0; }

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.headertoolbar#dishToolbar{
  background: #efefef;
  background: -moz-linear-gradient(#efefef, #cdcdcd);
  background: -webkit-linear-gradient(#efefef, #cdcdcd);
  background: -ms-linear-gradient(#efefef, #cdcdcd);
  background: -o-linear-gradient(#efefef, #cdcdcd);
  background: linear-gradient(#efefef, #cdcdcd);
  box-shadow: 0 1px 3px #545454;
  border: 1px solid #cbcbcb;
}

ul.dishlist li span{
  display: inline-block !important; }
