/*==*/
#thirdBar {
  bottom: 155px; }

#mainContentInner {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  background: #dde2eb; }
#mainContentInner.onDrop {
  background: -moz-radial-gradient(circle, #9dabc5, #8093b4);
  background: -webkit-radial-gradient(circle, #9dabc5, #8093b4);
  background: -ms-radial-gradient(circle, #9dabc5, #8093b4);
  background: -o-radial-gradient(circle, #9dabc5, #8093b4);
  background: radial-gradient(circle, #9dabc5, #8093b4); }

#downloads {
  top: 33px;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
  overflow: auto; }

#downloadInner {
  padding: 0.5% 1%; }

/*--*/
div.download {
  width: 88px;
  min-height: 90px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  background: #fdfdfd;
  background: -moz-linear-gradient(#fdfdfd, #ededed);
  background: -webkit-linear-gradient(#fdfdfd, #ededed);
  background: -ms-linear-gradient(#fdfdfd, #ededed);
  background: -o-linear-gradient(#fdfdfd, #ededed);
  background: linear-gradient(#fdfdfd, #ededed);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 1px 3px #545454;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition-property: -webkit-transform, display, width, height, margin, padding, opacity, background;
  -moz-transition-property: -moz-transform, display, width, height, margin, padding, opacity, background;
  -ms-transition-property: -ms-transform, display, width, height, margin, padding, opacity, background;
  -o-transition-property: -o-transform, display, width, height, margin, padding, opacity, background;
  transition-property: transform, display, width, height, margin, padding, opacity, background;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
div.download input {
  margin-top: 25%;
  float: left;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
div.download span.icon img {
  float: right;
  height: 64px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
div.download span.name {
  display: block;
  clear: both;
  text-align: center;
  font-size: 10px;
  overflow: hidden;
  height: 14px;
  line-height: 14px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
div.download span.filename {
  clear: both;
  display: block;
  text-align: center;
  font-size: 9px;
  overflow: hidden;
  height: 12px;
  line-height: 12px;
  color: #666666;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
div.download span.uploadedOn {
  display: none; }
div.not_visible {
  background: #ededed;
  box-shadow: inset 0 0 5px #545454; }

/*-*/
.smallView div.download {
  width: 100px;
  min-height: 40px;
  _height: 40px;
  padding: 3px;
  border-radius: 3px;
  margin: 2px; }
.smallView div.download input {
  margin-top: 5%;
  float: left; }
.smallView div.download span.icon img {
  float: left;
  height: 24px; }
.smallView div.download span.name {
  clear: right;
  float: right;
  display: inline;
  width: 55px;
  height: 28px;
  overflow: hidden;
  text-align: left;
  font-size: 11px; }
.smallView div.download span.filename {
  text-align: center; }

/*-*/
/*-*/
.listView div.download {
  width: 99%;
  min-height: 0;
  height: 20px;
  margin: 0;
  box-shadow: none;
  border-bottom: 1px solid #cbcbcb; }
.listView div.download input {
  margin-top: 0.5%;
  float: left; }
.listView div.download span.icon img {
  float: left;
  height: 24px; }
.listView div.download span.name {
  clear: none;
  float: left;
  display: inline;
  text-align: left;
  padding-left: 10px;
  height: 28px;
  overflow: hidden;
  width: 300px;
  line-height: 12px; }
.listView div.download span.filename {
  clear: none;
  float: left;
  text-align: right;
  font-size: 10px;
  overflow: hidden;
  height: 28px;
  line-height: 12px;
  color: #666666;
  width: 190px; }
.listView div.download span.uploadedOn {
  display: inline;
  clear: none;
  float: right;
  text-align: right;
  font-size: 10px;
  overflow: hidden;
  height: 28px;
  line-height: 12px;
  color: #666666;
  width: 90px; }

div.download.ui-selected {
  background: #525252;
  background: -moz-linear-gradient(#525252, #333333);
  background: -webkit-linear-gradient(#525252, #333333);
  background: -ms-linear-gradient(#525252, #333333);
  background: -o-linear-gradient(#525252, #333333);
  background: linear-gradient(#525252, #333333); }
div.download.ui-selected span {
  color: white !important;
  text-shadow: 0 -1px 0 black; }
div.ui-selected.not_visible {
  background: #999999;
  background: -moz-linear-gradient(#999999, #777777);
  background: -webkit-linear-gradient(#999999, #777777);
  background: -ms-linear-gradient(#999999, #777777);
  background: -o-linear-gradient(#999999, #777777);
  background: linear-gradient(#999999, #777777);
  box-shadow: inset 0 0 5px #333333; }
div.download.deleted {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
  background: red;
  z-index: 2700; }

/*-*/
#trashCan {
  z-index: 1;
  width: 20%;
  right: 0;
  bottom: 0;
  height: 155px;
  position: absolute;
  border: 1px solid #999999;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: -moz-radial-gradient(circle, white, #aaaaaa);
  background: -webkit-radial-gradient(circle, white, #aaaaaa);
  background: -ms-radial-gradient(circle, white, #aaaaaa);
  background: -o-radial-gradient(circle, white, #aaaaaa);
  background: radial-gradient(circle, white, #aaaaaa); }
#trashCan img {
  padding: 5px 0px; }
#trashCan span {
  display: block;
  padding-top: 5px; }
#trashCan span.headertoolbar {
  text-align: left;
  padding-top: .4em; }
#trashCan.onDrop {
  background: -moz-radial-gradient(circle, #9dabc5, #8093b4);
  background: -webkit-radial-gradient(circle, #9dabc5, #8093b4);
  background: -ms-radial-gradient(circle, #9dabc5, #8093b4);
  background: -o-radial-gradient(circle, #9dabc5, #8093b4);
  background: radial-gradient(circle, #9dabc5, #8093b4); }

#downloadEditor th {
  text-align: left; }

/* -- */
div.download.pn {
  text-align: center; }
div.download.pn span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
div.download.pn span.bar_holder {
  height: 10px;
  border: 1px solid #536d7a;
  margin: 3px;
  position: absolute;
  bottom: 10px;
  width: 80px; }
div.download.pn span.bar {
  background: #b0cde5;
  background: -moz-linear-gradient(#b0cde5, #6cc2e2 15%, #0e62a8 73%, #6cc2e2 100%);
  background: -webkit-linear-gradient(#b0cde5, #6cc2e2 15%, #0e62a8 73%, #6cc2e2 100%);
  background: -ms-linear-gradient(#b0cde5, #6cc2e2 15%, #0e62a8 73%, #6cc2e2 100%);
  background: -o-linear-gradient(#b0cde5, #6cc2e2 15%, #0e62a8 73%, #6cc2e2 100%);
  background: linear-gradient(#b0cde5, #6cc2e2 15%, #0e62a8 73%, #6cc2e2 100%);
  height: 10px;
  width: 0%;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -ms-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }

.listView div.download.pn span {
  float: left;
  width: 24%; }
.listView div.download.pn span.bar_holder {
  position: relative;
  bottom: auto;
  width: auto; }

.smallView div.download.pn span.bar_holder {
  position: relative;
  bottom: auto;
  width: auto; }

.listView div.download.pn span.bar_holder {
  float: right;
  width: 75%; }
.listView div.download.pn span.bar {
  float: none;
  width: 0; }

/*--*/
.drag_count {
  margin: -8px;
  font-size: 14px;
  line-height: 16px;
  background: #ff0023;
  color: white;
  padding: 1px 3px;
  border-radius: 64px;
  box-shadow: 0px 1px 3px black;
  text-shadow: 0 -1px 0 red; }

/*==*/
div.ui-selectable-helper {
  position: absolute;
  border: 1px dotted #333333;
  background: rgba(0, 0, 255, 0.1); }
