/* 
CSS for 'order' menu starts here 

*/
.product-info {
width: 55%;
float: left;
}

.addon-info {
width: 20%;
float: left;
}

.ingredient-info {
width: 25%;
float: left;
}

.clearDiv {
clear: both;
}
p.sub-title {
text-align: center;
font-size: 16px;
color: #10C9FF !important;
letter-spacing: 2px;
line-height: 0px;
}

table.fixed {
width: 100%;
}
table.fixed td {overflow: auto; text-align: center; }
table.fixed td:nth-of-type(1) {width:12%;}
table.fixed td:nth-of-type(2) {width:40%;}
table.fixed td:nth-of-type(3) {width:15%;}
table.fixed td:nth-of-type(4) {width:23%;}
table.fixed td:nth-of-type(4) {width:10%;}

.ingredient-info td {
text-align: center;
}

table.order_details th,table.customer_details th{
padding-right: 30px;
}
#sidebar > ul {
	top:180px !important;
}
.headertoolbar, .footertoolbar {
	max-height: none !important;
}
#sidebar ul.list li a span.nameBtn {
	width: auto !important;
overflow:visible !important;
}
/*.tab ul li {
list-style-type: none;
display: inline-block;
padding-right: 15px;
font-size: 18px;
color: #000;
}*/
/*.tab{
background: linear-gradient(#CBCBCB, #969696) repeat scroll 0% 0% transparent;
padding: 10px 0px 6px 0px;
}*/
div#innerTabs2_content,div#innerTabs3_content {
display: none;
}
#innerTabs {
display: none;
}


#sidebarHeading {
    top: 0px !important;
}
.headertoolbar ul li input {
width: 130px;
}
.headertoolbar ul li button {
left: 10px;
padding: 8px 20px;
border-radius: 30px;
color: #666;
font-size: 16px;
letter-spacing: 1px;
}

.initPage {
    margin-top: 55px !important;
}
.headertoolbar ul li{
	list-style-type: none;
}

div#dContent {
margin-top: 35px;
}
li#status {
pointer-events: none;
}
input#daterange {
width: 150px !important;
}
select#order_type {
width: 186px;
}
button#filterBtn {
left: 10px;
padding: 8px 20px;
border-radius: 30px;
color: #666;
font-size: 16px;
letter-spacing: 1px;
margin: 0px 315px;
}
div#sidebarHeading {
padding: 10px;
}
li#order_404 p {
text-align: center;
font-size: 18px;
font-weight: normal;
}
/* 
CSS for 'order' menu end here 

*/