.page_radio input{
  margin:3px 4px 0px 0px; 
  vertical-align:top;
}
.footertoolbar {
  background: #efefef;
  background: -moz-linear-gradient(#efefef, #cdcdcd);
  background: -webkit-linear-gradient(#efefef, #cdcdcd);
  background: -ms-linear-gradient(#efefef, #cdcdcd);
  background: -o-linear-gradient(#efefef, #cdcdcd);
  background: linear-gradient(#efefef, #cdcdcd);
  box-shadow: 0 1px 3px #545454;
  border: 1px solid #cbcbcb;
}

#infoPanel p{
  color: #2f3e46;
  font-size: 11px;
}

.headertoolbar button{
  margin-right: 0px;
}
.addPageBtn{
  margin-top: 0px;
}
#sidebar {
  width: 20%; }

#thirdBar {
  width: 15%; }

#main-content {
  width: 80%; }

#innerTabs {
  left: 20%;
  width: 65%; }

#main-content.threepane {
  width: 65%;
  right: 15%;
  height:auto;
  bottom: 0; }

#main-contentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

#previewArea, #editArea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 31px; }

#editorToolbar, #EditableArea_parent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0; }

#editorToolbar {
  z-index: 2; }

#EditableArea_parent {
  bottom: 0; }

#editorToolbar .mceExternalToolbar {
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px black;
  background: #ededed;
  background: -moz-linear-gradient(#ededed, #cbcbcb);
  background: -webkit-linear-gradient(#ededed, #cbcbcb);
  background: -ms-linear-gradient(#ededed, #cbcbcb);
  background: -o-linear-gradient(#ededed, #cbcbcb);
  background: linear-gradient(#ededed, #cbcbcb); }

#EditableArea_ifr, #previewIframe {
  position: absolute;
  top: 52px;
  right: 0;
  left: 0;
  bottom: 40px;
  z-index: 1; }

#autoSaveInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  height: 97px;
  width: 446px;
  background: #FFFB00;
  padding: 3px 15px;
  margin-top: -97px;
  margin-left: -223px;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
#autoSaveInfo p {
  text-shadow: 0 1px 0 #FFFD8F !important;
  font-weight: bold  !important;
  color:#000; 
  margin: 1em 0;
  font-size: 12px !important;}
#autoSaveInfo.hide {
  opacity: 0;
  -moz-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1); }
.red{
	color:#ffff00;
}