#bodyInner {
  overflow: hidden !important; }

#sideBar {
  width: 25%; }

#thirdBar {
  width: 15%; }

#mainContent {
  width: 75%; }

#innerTabs {
  left: 25%;
  width: 60%; }

#mainContent.threepane {
  width: 60%;
  right: 15%;
  height: auto;
  bottom: 0; }

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

#previewArea, #editArea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 31px; }

#editorToolbar, #EditableArea_parent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0; }

#editorToolbar {
  z-index: 2; }

#EditableArea_parent {
  bottom: 0; }

#editorToolbar .mceExternalToolbar {
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px black;
  background: #ededed;
  background: -moz-linear-gradient(#ededed, #cbcbcb);
  background: -webkit-linear-gradient(#ededed, #cbcbcb);
  background: -ms-linear-gradient(#ededed, #cbcbcb);
  background: -o-linear-gradient(#ededed, #cbcbcb);
  background: linear-gradient(#ededed, #cbcbcb); }

#EditableArea_ifr, #previewIframe {
  position: absolute;
  top: 52px;
  right: 0;
  left: 0;
  bottom: 40px;
  z-index: 1; }

#autoSaveInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  height: 97px;
  width: 446px;
  background: #FFFB00;
  padding: 3px 15px;
  margin-top: -97px;
  margin-left: -223px;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
#autoSaveInfo p {
  text-shadow: 0 1px 0 #FFFD8F;
  font-weight: bold; }
#autoSaveInfo.hide {
  opacity: 0;
  -moz-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1); }
