/*==*/
.headertoolbar{
  background: #efefef;
  background: -moz-linear-gradient(#efefef, #cdcdcd);
  background: -webkit-linear-gradient(#efefef, #cdcdcd);
  background: -ms-linear-gradient(#efefef, #cdcdcd);
  background: -o-linear-gradient(#efefef, #cdcdcd);
  background: linear-gradient(#efefef, #cdcdcd);
  box-shadow: 0 1px 3px #545454;
  border: 1px solid #cbcbcb;
}
#thirdBar {
  bottom: 155px; }

#mainContentInner {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  background: #dde2eb; }
#mainContentInner.onDrop {
  background: -moz-radial-gradient(circle, #9dabc5, #8093b4);
  background: -webkit-radial-gradient(circle, #9dabc5, #8093b4);
  background: -ms-radial-gradient(circle, #9dabc5, #8093b4);
  background: -o-radial-gradient(circle, #9dabc5, #8093b4);
  background: radial-gradient(circle, #9dabc5, #8093b4); }

#downloads {
  top: 33px;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
  overflow: auto;
  z-index: 4; }

#downloadInner {
  padding: 1%; }

/*--*/
div.download {
  display: inline-block;
  position: relative;
  float: left;
  height: 100px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
  width: 140px;
  background: #efefef;
  margin: 0 15px;
  text-align: center;
  line-height: 1.4em;
  cursor: move;
  border: 2px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: -webkit-transform, opacity, background, width, margin;
  -moz-transition-property: -moz-transform, opacity, background, width, margin;
  -ms-transition-property: -ms-transform, opacity, background, width, margin;
  -o-transition-property: -o-transform, opacity, background, width, margin;
  transition-property: transform, opacity, background, width, margin;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  margin: 10px 15px; }
div.download:before, div.download:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px/10px; }
div.download:after {
  right: 10px;
  left: auto;
  -moz-transform: skew(8deg) rotate(3deg);
  -webkit-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg); }
div.download.adder {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  background: #efefef url("../../images/admin/icon_add.png") no-repeat center 40%;
  padding-top: 55px;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 2px #777777 inset;
  color: #999; }
div.download.adder.onDrop {
  background: -moz-radial-gradient(circle, #9dabc5, #8093b4);
  background: -webkit-radial-gradient(circle, #9dabc5, #8093b4);
  background: -ms-radial-gradient(circle, #9dabc5, #8093b4);
  background: -o-radial-gradient(circle, #9dabc5, #8093b4);
  background: radial-gradient(circle, #9dabc5, #8093b4);
  color: #333; }
div.download.deleted {
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  margin: 0;
  background: red;
  z-index: -1;
  width: 0; }
div.download span.activator {
  position: absolute;
  top: -1px;
  left: -17px;
  background: #efefef;
  border-radius: 3px 0 0 3px;
  z-index: -1;
  padding: 2px 2px 1px 1px;
  line-height: 0;
  box-shadow: 0 0 2px #333333; }
div.download span.activator input {
  margin: 0;
  line-height: 0; }
div.download span.caption {
  height: 14px;
  line-height: 0;
  background: rgba(51, 51, 51, 0.7);
  position: absolute;
  bottom: 10px;
  left: -7px;
  right: -7px;
  display: block;
  box-shadow: 0 2px 5px #333333;
  border-radius: 2px 2px 0 0;
  padding: 0 5px; }
div.download span.caption:before, div.download span.caption:after {
  content: " ";
  border-top: 5px solid #000;
  position: absolute;
  bottom: -5px; }
div.download span.caption:before {
  border-left: 5px solid transparent;
  left: 0; }
div.download span.caption:after {
  border-right: 5px solid transparent;
  right: 0; }
div.download span.caption input {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -moz-transition-timing-function: default;
  -webkit-transition-timing-function: default;
  -ms-transition-timing-function: default;
  -o-transition-timing-function: default;
  transition-timing-function: default;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  border: none !important;
  background: transparent;
  color: #efefef;
  padding: 0;
  margin: 0;
  margin-top:-4px;
  box-shadow: none !important;
  font-size: 11px;
  line-height: 14px;
  display: block;
  max-width: auto;
  border-radius: 0;
  width: 99%;
  text-align: center; }
div.download span.caption input:-moz-placeholder {
  color: #888; }
div.download span.caption input::-webkit-input-placeholder {
  color: #888; }
div.download a.delete {
  position: absolute;
  right: -9px;
  top: -9px;
  width: 18px;
  height: 18px;
  background: white url("../../images/admin/icon_cross.png") no-repeat 1px 1px;
  border-radius: 64px;
  box-shadow: 0 0 5px black;
  cursor: pointer; }
div.download a.delete:hover {
  background-color: #d5d5d5; }
div.download div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 2px #777 inset;
  background: #efefef; }
div.download div span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
div.download div span.filename {
  font-weight: bold;
  margin-top: 50px; }
div.download div span.bar_holder {
  height: 10px;
  border: 1px solid #536d7a;
  margin: 3px;
  position: absolute;
  bottom: 10px;
  width: 94.5%; }
div.download div span.bar {
  background: #b0cde5;
  background: -moz-linear-gradient(#b0cde5, #6cc2e2 15%, #0e62a8 73%, #6cc2e2 100%);
  background: -webkit-linear-gradient(#b0cde5, #6cc2e2 15%, #0e62a8 73%, #6cc2e2 100%);
  background: -ms-linear-gradient(#b0cde5, #6cc2e2 15%, #0e62a8 73%, #6cc2e2 100%);
  background: -o-linear-gradient(#b0cde5, #6cc2e2 15%, #0e62a8 73%, #6cc2e2 100%);
  background: linear-gradient(#b0cde5, #6cc2e2 15%, #0e62a8 73%, #6cc2e2 100%);
  height: 10px;
  width: 0%;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -ms-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -moz-transition-delay: 0;
  -webkit-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
div.download img {
  height: 100%; }
div.download.ui-selected {
  border-color: #4a5d7f;
  box-shadow: 0 0 30px #7d90b2; }
div.download.ui-selected:before, div.download.ui-selected:after {
  box-shadow: none; }

/*-*/
#trashCan {
  z-index: 1;
  width: 20%;
  right: 0;
  bottom: 0;
  height: 155px;
  position: absolute;
  border: 1px solid #999999;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: -moz-radial-gradient(circle, white, #aaaaaa);
  background: -webkit-radial-gradient(circle, white, #aaaaaa);
  background: -ms-radial-gradient(circle, white, #aaaaaa);
  background: -o-radial-gradient(circle, white, #aaaaaa);
  background: radial-gradient(circle, white, #aaaaaa); }
#trashCan img {
  padding: 5px 0px; }
#trashCan span {
  display: block;
  padding-top: 5px; }
#trashCan span.headertoolbar {
  text-align: left;
  padding-top: .4em; }
#trashCan.onDrop {
  background: -moz-radial-gradient(circle, #9dabc5, #8093b4);
  background: -webkit-radial-gradient(circle, #9dabc5, #8093b4);
  background: -ms-radial-gradient(circle, #9dabc5, #8093b4);
  background: -o-radial-gradient(circle, #9dabc5, #8093b4);
  background: radial-gradient(circle, #9dabc5, #8093b4); }

#downloadEditor th {
  text-align: left; }

/* -- */
/*--*/
div.download.drghelper {
  opacity: 0.7;
  max-width: 76.5%; }

#multifileDragHelper {
  opacity: 1 !important;
  text-align: center;
  background: url("../../images/admin/files.png") no-repeat left top;
  width: 130px !important;
  height: 130px !important; }
#multifileDragHelper span.count {
  float: left;
  margin: 95px 0 0 75px;
  font-size: 14px;
  line-height: 16px;
  background: #ff0023;
  color: white;
  padding: 1px 3px;
  border-radius: 64px;
  box-shadow: 0px 1px 3px black;
  text-shadow: 0 -1px 0 red; }

/*==*/
div.ui-selectable-helper {
  position: absolute;
  border: 1px dotted #333333;
  background: rgba(0, 0, 255, 0.1);
  z-index: 5; }
