/*==*/
#sidebar{
  width:20%;
}
#main-content{
  width:80%;
}


.settingsTable div.fieldset {
  border: 1px solid #d5d5d5;
  border-radius: 0.4em;
  margin: 10px 0;
  display: block;
  position: relative; }
.settingsTable table {
  width: 100%;
  border-radius: 0.5em;
  border-collapse: collapse; }
.settingsTable td, .settingsTable th {
  padding: 7px;
  border-bottom: 1px solid #d5d5d5; }
.settingsTable td {
  background: #edf0f4;
  padding: 7px 10px; }
.settingsTable td.field_description {
  font-size: 11px;
  line-height: 16px; }
.settingsTable input[type=text], .settingsTable textarea {
  width: 98%;
  font-size: 12px;
  font-family: arial,helvetica; }
.settingsTable label {
  font-style: italic;
  font-size: 12px;
  display: inline-block;
  margin-right: 10px; }
.settingsTable th {
  text-align: right;
  width: 20%;
  background: #e7e7e7; }
.settingsTable tr td:nth-child(2) {
  width: 30%; }
.settingsTable tr td:nth-child(3) {
  width: 50%;
  padding-left: 5px; }
.settingsTable tr:first-child th, .settingsTable tr:first-child td:last-child {
  /*border-radius: 0 0.5em 0 0; */
}
.settingsTable tr:last-child td, .settingsTable tr:last-child th {
  border: none; }
.settingsTable tr:last-child th, .settingsTable tr:last-child td:last-child {
  /*border-radius: 0 0 0.5em 0;*/
 }

/*==*/
