/* line 4, ../source/sms.scss */
#sidebar {
  width: 20%;
}

/* line 8, ../source/sms.scss */
#thirdBar {
  width: 15%;
}

/* line 12, ../source/sms.scss */
#main-content {
  width: 80%;
}

/* line 16, ../source/sms.scss */
#innerTabs {
  left: 20%;
  width: 65%;
}

/* line 21, ../source/sms.scss */
#main-content.threepane {
  width: 65%;
  right: 15%;
  height: auto;
  bottom: 0;
}

/* line 28, ../source/sms.scss */
#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


label, input, button, select, textarea{
  font-size: 12px !important;
}

/* line 36, ../source/sms.scss */
#previewArea, #editArea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 31px;
}

/* line 44, ../source/sms.scss */
#editorToolbar, #EditableArea_parent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

/* line 51, ../source/sms.scss */
#editorToolbar {
  z-index: 2;
}

/* line 55, ../source/sms.scss */
#EditableArea_parent {
  bottom: 0;
}

/* line 59, ../source/sms.scss */
#editorToolbar .mceExternalToolbar {
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px black;
  background: #ededed;
  background: -moz-linear-gradient(#ededed, #cbcbcb);
  background: -webkit-linear-gradient(#ededed, #cbcbcb);
  background: -ms-linear-gradient(#ededed, #cbcbcb);
  background: -o-linear-gradient(#ededed, #cbcbcb);
  background: linear-gradient(#ededed, #cbcbcb);
}

/* line 67, ../source/sms.scss */
#EditableArea_ifr, #previewIframe {
  position: absolute;
  top: 52px;
  right: 0;
  left: 0;
  bottom: 40px;
  z-index: 1;
}

/* line 108, ../source/sms.scss */
.balance-amount {
  background: #cedcfb;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(left, #cedcfb 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #cedcfb), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #cedcfb 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #cedcfb 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #cedcfb 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to right, #cedcfb 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CEDCFB', endColorstr='#FFFFFF',GradientType=1 );
  /* IE6-8 */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  *behavior: url("../assets/css/PIE.htc");
  *position: relative;
  behavior: url("../assets/css/PIE.htc") \9;
  position: relative\9;
  color: #0B2661;
  font-size: 16px;
  padding: 10px;
}

/* line 124, ../source/sms.scss */
.balance-amount-error {
  background: #E31607;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(left, #e31607 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e31607), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #e31607 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #e31607 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #e31607 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to right, #e31607 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CEDCFB', endColorstr='#FFFFFF',GradientType=1 );
  /* IE6-8 */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  *behavior: url("../assets/css/PIE.htc");
  *position: relative;
  behavior: url("../assets/css/PIE.htc") \9;
  position: relative\9;
  color: #fff;
  font-size: 16px;
  padding: 10px;
}

/* line 141, ../source/sms.scss */
label {
  font-weight: bold;
  display: inline-block !important;
}

/* line 144, ../source/sms.scss */
.sms-rate-form,
.message-form {
  width: 65%;
  margin: 0 auto;
}
/* line 147, ../source/sms.scss */
.sms-rate-form p,
.message-form p {
  display: block;
}
/* line 150, ../source/sms.scss */
.sms-rate-form p label,
.message-form p label {
  /*width: 160px;*/
  width:140px;
  display: inline-block;
  *display: inline;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
  margin-right: 0 !important;
}
/* line 158, ../source/sms.scss */
.sms-rate-form p label span,
.message-form p label span {
  margin-right: 5px;
}
/* line 166, ../source/sms.scss */
.sms-rate-form p input[type="password"],
.sms-rate-form p input[type="text"],
.sms-rate-form p textarea,
.sms-rate-form p select,
.message-form p input[type="password"],
.message-form p input[type="text"],
.message-form p textarea,
.message-form p select {
  min-width: 15%;
  width: 460px;
  vertical-align: top;
}
/* line 171, ../source/sms.scss */
.sms-rate-form p .note,
.message-form p .note {
  display: block;
  text-align: right;
  font-size: 10px;
  margin: 0 25px 0 142px;
}

/* line 184, ../source/sms.scss */
.history-form label {
  display: inline-block;
  *display: inline;
  font-weight: bold;
  vertical-align: top;
}
/* line 191, ../source/sms.scss */
.history-form input {
  color: #2A4682;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  min-width: 80px !important;
  width: 80px;
}

/* line 201, ../source/sms.scss */
.table-style {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *behavior: url("../assets/css/PIE.htc");
  *position: relative;
  behavior: url("../assets/css/PIE.htc") \9;
  position: relative\9;
  box-shadow: 0 0 10px #999999;
  width: 100%;
}
/* line 205, ../source/sms.scss */
.table-style .heading {
  background: #ccc;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  *behavior: url("../assets/css/PIE.htc");
  *position: relative;
  behavior: url("../assets/css/PIE.htc") \9;
  position: relative\9;
  padding: 8px;
  font-weight: bold;
}
/* line 210, ../source/sms.scss */
.table-style .heading span {
  display: inline-block;
  *display: inline;
  min-width: 120px;
  /*width: 15%;*/
  width:10%;
  vertical-align: middle;

  font-size: 11px;
}
/* line 216, ../source/sms.scss */
.table-style .heading span:nth-child(5) {
  width: 23%;
}
/* line 221, ../source/sms.scss */
.table-style .item {
  background: #FBFBFB;
  padding: 8px;
  font-weight: normal;
}
/* line 225, ../source/sms.scss */
.table-style .item:nth-child(2n+1) {
  background: #F0F0F0;
}
/* line 228, ../source/sms.scss */
.table-style .item span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  *display: inline;
  min-width: 120px;
  /*width: 15%;*/
  width:10%;
  vertical-align: middle;
  /*font-size: 11px;*/
}
/* line 237, ../source/sms.scss */
.table-style .item span:nth-child(5) {
  width: 23%;
}
/* line 243, ../source/sms.scss */
.table-style .grand-total {
  padding: 8px;
  background: #ccc;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  *behavior: url("../assets/css/PIE.htc");
  *position: relative;
  behavior: url("../assets/css/PIE.htc") \9;
  position: relative\9;
  font-weight: bold;
  font-size: 16px;
}
/* line 249, ../source/sms.scss */
.table-style .grand-total span {
  display: inline-block;
  *display: inline;
  min-width: 40%;
  text-align: left;
}
/* line 254, ../source/sms.scss */
.table-style .grand-total span:first-child {
  width: 47% !important;
}

/* line 262, ../source/sms.scss */
.rate-table {
  width: 60% !important;
}
/* line 265, ../source/sms.scss */
.rate-table .heading span {
  width: 49% !important;
}
/* line 267, ../source/sms.scss */
.rate-table .heading span:nth-child(2) {
  text-align: right;
}
/* line 273, ../source/sms.scss */
.rate-table .item span {
  width: 49% !important;
}
/* line 275, ../source/sms.scss */
.rate-table .item span:nth-child(2) {
  text-align: right;
}

/* line 283, ../source/sms.scss */
.divider-5 {
  display: block;
  margin: 10px 0;
}

/* line 290, ../source/sms.scss */
.charactercounter {
  font-size: 16px;
  font-weight: bold;
  color: #999;
  display: block;
  margin-right: 25px;
  text-align: right;
}

/* line 300, ../source/sms.scss */
.charactercounter-warning {
  color: #600;
}

/* line 301, ../source/sms.scss */
.charactercounter-exceeded {
  color: #e00;
}

/* line 969, user_source/application.scss */
.table-style-3 .heading span {
  width: 33% !important;
}
/* line 974, user_source/application.scss */
.table-style-3 .item span {
  width: 33% !important;
}

/* line 969, user_source/application.scss */
.table-style-4 .heading span {
  width: 28% !important;
}
/* line 275, ../source/sms.scss */
.table-style-4 .heading span:nth-child(4) {
  text-align: right;
  width: 10% !important;
}
/* line 974, user_source/application.scss */
.table-style-4 .item span {
  width: 28% !important;
}
/* line 275, ../source/sms.scss */
.table-style-4 .item span:nth-child(4) {
  text-align: right;
  width: 10% !important;
}

.tipsy { font-size: 14px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
  .tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
  
  
/** pagination */
.paginate {
  float: right;
  margin: 5px 0;
  text-align: center;
}
.paginate {}
.paginate .col-left,
.paginate .col-center,
.paginate .col-right {
  display: inline-block;
}
.paginate .col-center {
  margin: 0 10px;
}
.paginate a, 
.paginate span {
  background: #fbfbfb;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjclIiBzdG9wLWNvbG9yPSIjZjRmNGY0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #fbfbfb 0%, #f4f4f4 7%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(7%, #f4f4f4), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #fbfbfb 0%, #f4f4f4 7%, #dddddd 100%);
  background: -o-linear-gradient(top, #fbfbfb 0%, #f4f4f4 7%, #dddddd 100%);
  background: -ms-linear-gradient(top, #fbfbfb 0%, #f4f4f4 7%, #dddddd 100%);
  background: linear-gradient(to bottom, #fbfbfb 0%, #f4f4f4 7%, #dddddd 100%);
  
  border: 1px solid #d2d2d2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  
  color: #464646;
  font-style: normal;
  float: left;
  margin: 0 2px;
  padding: 2px 6px;
  text-shadow: 2px 2px 2px #fff;
  text-decoration: none;
}

.paginate a.prev, .paginate a.next, .paginate span.prev, .paginate span.next {

}
.paginate a.active_page,
.paginate a:hover, 
.paginate a.active, 
.paginate span:hover, 
.paginate span.active {
  border: 1px solid #787878;
  background: #7d7e7d;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
  background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
  cursor: pointer;
  color: #fff !important;
  text-shadow: 2px 2px 2px #000;
  text-decoration: none;
}

/** pagination end */



input.text, input.email, input.password, textarea.uniform{
  background: #fff !important;
}
