#wordLimit{
  color:red;
  font-style:none;
}
#sidebar {
  width: 25%; }

#thirdBar {
  width: 15%; }

#main-content {
  width: 75%; }

#innerTabs {
  left: 25%;
  width: 60%; }

#main-content.threepane {
  width: 60%;
  right: 15%;
  height: auto;
  bottom: 0; }

#mainContentInner, #dContent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
