body {
  background: none; }

#widgetMain {
  font-size: 1.1em; }

.chart {
  display: block;
  height: 280px;
  overflow: hidden; }

table th {
  text-align: left; }
table.data {
  border-collapse: collapse; }
table.data td, table.data th {
  border-bottom: 1px solid #aaa; }
table.log {
  font-size: 14px; }
table.log td {
  padding: 5px 0;
  padding-left: 26px;
  border-bottom: 1px dashed #aaa;
  background-position: 5px 5px;
  background-repeat: no-repeat; }
table.log td abbr {
  border-bottom: 1px solid #ededed; }
table.log td.c {
  background-image: url("../../images/admin/icon_add.png"); }
table.log td.m {
  background-image: url("../../images/admin/icon_edit.png"); }
table.log td.d {
  background-image: url("../../images/admin/icon_cross.png"); }
