body{color:#000000; font-family:  Verdana, Arial, Helvetica, sans-serif;}
body {background:#ffffff;}
body.mceForceColors {background:#ffffff; color:#000000;}
body{
	width:750px;
	background-color:#ffffff;
	padding:10px 10px;
	font-size: 0.68em;
	line-height:1.8em;
	color:#000000;
}

h1{
	font-family:Arial, Helvetica, Verdana;
	font-size:2.1em;
	line-height:1.1em;
	color:#660000;
}
h2{
	font-family:Arial, Helvetica, Verdana;
	font-size:1.4em;
	line-height:1em;
	color:#666666;
	margin-bottom:0px;
	padding-bottom:2px;
}
h2.u{
	border-bottom:1px solid #999;
	margin-bottom:10px;
}
h3{
	color:#999999;
	font-size:1.1em;
	font-weight:bold;
	margin:5px 0px;
	padding:0;
}
p{
	margin:0px 0px;
}
table{
	font-size:1em;
	line-height:1.8em;
}

hr{
        margin-top:5px;
        border: none 0; 
        border-top: 1px solid #999999;/*the border*/
        height: 1px;/*whatever the total width of the border-top and border-bottom equal*/
}


a:link,a:visited,a:hover{
	color:blue;
}
a.redlink{
	color:#660000 !important;
}

.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {border: 1px dashed #BBB;}
a.mceItemAnchor {display:inline-block; -webkit-user-select:all; -webkit-user-modify:read-only; -moz-user-select:all; -moz-user-modify:read-only; width:11px !important; height:11px !important; background:url(img/items.gif) no-repeat center center}
span.mceItemNbsp {background: #DDD}
td.mceSelected, th.mceSelected {background-color:#3399ff !important}
img {border:0;}
table {cursor:default}
table td, table th {cursor:text}
ins {border-bottom:1px solid green; text-decoration: none; color:green}
del {color:red; text-decoration:line-through}
cite {border-bottom:1px dashed blue}
acronym {border-bottom:1px dotted #CCC; cursor:help}
abbr {border-bottom:1px dashed #CCC; cursor:help}

/* IE */
* html body {
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
}

img:-moz-broken {-moz-force-broken-image-icon:1; width:24px; height:24px}
font[face=mceinline] {font-family:inherit !important}
*[contentEditable]:focus {outline:0}

.mceItemMedia {border:1px dotted #cc0000; background-position:center; background-repeat:no-repeat; background-color:#ffffcc}
.mceItemShockWave {background-image:url(../../img/shockwave.gif)}
.mceItemFlash {background-image:url(../../img/flash.gif)}
.mceItemQuickTime {background-image:url(../../img/quicktime.gif)}
.mceItemWindowsMedia {background-image:url(../../img/windowsmedia.gif)}
.mceItemRealMedia {background-image:url(../../img/realmedia.gif)}
.mceItemVideo {background-image:url(../../img/video.gif)}
.mceItemAudio {background-image:url(../../img/video.gif)}
.mceItemIframe {background-image:url(../../img/iframe.gif)}
.mcePageBreak {display:block;border:0;width:100%;height:12px;border-top:1px dotted #ccc;margin-top:15px;background:#fff url(../../img/pagebreak.gif) no-repeat center top;}
