/* Generic */
body {
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px;
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDDDDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
background:#fff;
padding:0;
margin:8px 8px 0 8px;
color: #2f3e46;
text-shadow:0 1px 0 #FFFFFF;
}

html {background:#fff;}
td {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;}
textarea {resize:none;outline:none;}
a:link, a:visited {color:black;}
a:hover {color:#2B6FB6;}
.nowrap {white-space: nowrap}

/* Forms */
fieldset {margin:0; padding:4px; border:1px solid #919B9C; font-family:Verdana, Arial; font-size:10px;background:#fff;margin-bottom:10px;}
legend {color:#2B6FB6; font-weight:bold;}
label.msg {display:none;}
label.invalid {color:#EE0000; display:inline;}
input.invalid {border:1px solid #EE0000;}
input {background:#FFF; border:1px solid #CCC;}
input, select, textarea {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;}
input, select, textarea {padding:0.3em;}
input.radio {border:1px none #000000; background:transparent; vertical-align:middle;}
input.checkbox {border:1px none #000000; background:transparent; vertical-align:middle;}
.input_noborder {border:0;}
input[type=text],input[type=password],textarea{
  background-color: #FFFFFF;
  border-color:#A0A0A0 #B9B9B9 #c9c9c9;
  border-style: solid;
  border-width: 1px;
  text-shadow:none;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
  border-radius:3px;
}
input[type=text]:active,input[type=text]:focus,
input[type=password]:active,input[type=password]:focus,
textarea:active,textarea:focus{
  border-color: #555;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.7) inset;
  outline:none;
}

/* Buttons */
button.button::-moz-focus-inner,
#insert::-moz-focus-inner,
#cancel::-moz-focus-inner,
.updateButton::-moz-focus-inner{
	border: 0;  /* overrides extra padding in Firefox */
	padding:0;
}
#insert, #cancel, button.button, .updateButton {
  display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font: normal 12px/1.9em DroidSansRegular,Arial, Helvetica;
	padding: 0 0.6em;
	border-radius: .3em;
	text-shadow:0 -1px 0 #000;
	color: #333;
  border: 1px solid #777;
  background: #ccc;
	background: -moz-linear-gradient(#eee,#ccc);
	background: -webkit-linear-gradient(#eee,#ccc);
	background: linear-gradient(#eee,#ccc);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset,
	            0 0 2px rgba(0,0,0,.3);
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
  float:left;
}
#insert:hover, #cancel:hover, button.button:hover, .updateButton:hover{
	text-decoration: none;
	background: -moz-linear-gradient(#fafafa, #ddd);
	background: -webkit-linear-gradient(#fafafa, #ddd);
	background: linear-gradient(#fafafa, #ddd);
}
#insert:active, #cancel:active, button.button:active, .updateButton:active{
  box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
}
#insert:before, #cancel:before, button.button:before, .updateButton:before{
  background:-webkit-linear-gradient(#333,#111);
  background:-moz-linear-gradient(#666,#111);
  background:linear-gradient(#333,#111);
  color:#fff;
  float: left;
  width: 1em;
  text-align: center;
  font-size: 1.5em;
  font-weight:normal;
  margin: 0 .3em 0 -0.5em;
  padding: 0 .2em;
  border-radius: .25em 0 0 .25em;
  text-shadow:0 -1px 0 #000;
  content: "\2714";
}
#cancel{
  float:right;
}

#insert:before {content: "\2714";}
#cancel:before {content: "x";}
button.button{
  margin-left:5px;
}

/* Browse */
a.pickcolor, a.browse {text-decoration:none}
a.browse span {display:block; width:20px; height:18px; background:url(../../img/icons.gif) -860px 0; border:1px solid #FFF; margin-left:1px;}
.mceOldBoxModel a.browse span {width:22px; height:20px;}
a.browse:hover span {border:1px solid #0A246A; background-color:#B2BBD0;}
a.browse span.disabled {border:1px solid white; opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
a.browse:hover span.disabled {border:1px solid white; background-color:transparent;}
a.pickcolor span {display:block; width:20px; height:16px; background:url(../../img/icons.gif) -840px 0; margin-left:2px;}
.mceOldBoxModel a.pickcolor span {width:21px; height:17px;}
a.pickcolor:hover span {background-color:#B2BBD0;}
a.pickcolor:hover span.disabled {}

/* Charmap */
table.charmap {border:1px solid #AAA; text-align:center}
td.charmap, #charmap a {width:18px; height:18px; color:#000; border:1px solid #AAA; text-align:center; font-size:12px; vertical-align:middle; line-height: 18px;}
#charmap a {display:block; color:#000; text-decoration:none; border:0}
#charmap a:hover {background:#CCC;color:#2B6FB6}
#charmap #codeN {font-size:10px; font-family:Arial,Helvetica,sans-serif; text-align:center}
#charmap #codeV {font-size:40px; height:80px; border:1px solid #AAA; text-align:center}

/* Source */
.wordWrapCode {vertical-align:middle; border:1px none #000000; background:transparent;}
.mceActionPanel {margin-top:5px;}

/* Tabs classes */
.tabs {width:100%; height:18px; line-height:normal; background:#fff}
.tabs ul {margin:0; padding:0; list-style:none;}
.tabs li {float:left; background:#ddd; margin:0 2px -1px 0; padding:0 0 0 10px; line-height:17px; height:18px; display:block;border-radius:5px 5px 0 0;border:1px solid #919B9C;position:relative;
  background: -webkit-linear-gradient(#ccc,#979797);
  background: -moz-linear-gradient(#ccc,#979797);
  background: linear-gradient(#ccc,#979797);
  text-shadow:none;
  }
.tabs li.current {background:#f0f2f3; margin-right:2px;border-bottom:1px solid #f0f2f3;z-index:4;}
.tabs span {float:left; display:block; padding:0px 10px 0 0;}
.tabs .current span {}
.tabs a {text-decoration:none; font-family:Verdana, Arial; font-size:10px;}
.tabs a:link, .tabs a:visited, .tabs a:hover {color:#2F3E46;outline:none}
.tabs li.current a:link,.tabs li.current a:hover,.tabs li.current a:visited{color:#2F3E46}

/* Panels */
.panel_wrapper div.panel {display:none;}
.panel_wrapper div.current {display:block; width:100%; height:300px; overflow:visible;}
.panel_wrapper {border:1px solid #919B9C; padding:10px; padding-top:5px; clear:both; background:#f0f2f3;}

/* Columns */
.column {float:left;}
.properties {width:100%;}
.properties .column1 {}
.properties .column2 {text-align:left;}

/* Titles */
h1, h2, h3, h4 {color:#2B6FB6; margin:0; padding:0; padding-top:5px;}
h3 {font-size:14px;}
.title {font-size:12px; font-weight:bold; color:#2B6FB6;}

/* Dialog specific */
#link .panel_wrapper, #link div.current {height:125px;}
#image .panel_wrapper, #image div.current {height:200px;}
#plugintable thead {font-weight:bold; background:#DDD;}
#plugintable, #about #plugintable td {border:1px solid #919B9C;}
#plugintable {width:96%; margin-top:10px;}
#pluginscontainer {height:290px; overflow:auto;}
#colorpicker #preview {float:right; width:50px; height:14px;line-height:1px; border:1px solid black; margin-left:5px;}
#colorpicker #colors {float:left; border:1px solid gray; cursor:crosshair;}
#colorpicker #light {border:1px solid gray; margin-left:5px; float:left;width:15px; height:150px; cursor:crosshair;}
#colorpicker #light div {overflow:hidden;}
#colorpicker #previewblock {float:right; padding-left:10px; height:20px;}
#colorpicker .panel_wrapper div.current {height:175px;}
#colorpicker #namedcolors {width:150px;}
#colorpicker #namedcolors a {display:block; float:left; width:10px; height:10px; margin:1px 1px 0 0; overflow:hidden;}
#colorpicker #colornamecontainer {margin-top:5px;}
#colorpicker #picker_panel fieldset {margin:auto;width:325px;}
