/* Clearlooks 2 */

/* Reset */
.clearlooks2, .clearlooks2 div, .clearlooks2 span, .clearlooks2 a {vertical-align:baseline; text-align:left; position:absolute; border:0; padding:0; margin:0; background:transparent; font-family:Arial,Verdana; font-size:11px; color:#000; text-decoration:none; font-weight:normal; width:auto; height:auto; overflow:hidden; display:block}

/* General */
.clearlooks2 {position:absolute; direction:ltr; box-shadow:0 0 10px #000; background:#fff;border-radius:10px;
  -webkit-transform:translateY(-500px) scale(0.1);
  -moz-transform:translateY(-500px) scale(0.1);
  transform:translateY(-500px) scale(0.1);

  -webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:0.3s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-property:-moz-transform;
	-moz-transition-duration:0.3s;
	-moz-transition-timing-function: ease-out;
	transition-property:transform;
	transition-duration:0.3s;
	transition-timing-function: ease-out;
}

.clearlooks2.showing{
  -webkit-transform:translateY(0) scale(1);
  -moz-transform:translateY(0) scale(1);
  transform:translateY(0) scale(1);
}

.clearlooks2 .mceWrapper {position:static;}
.mceEventBlocker {position:fixed; left:0; top:0; background:url(img/horizontal.gif) no-repeat 0 -75px; width:100%; height:100%}
.clearlooks2 .mcePlaceHolder {border:1px solid #000; background:#888; top:0; left:0; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50)}
.clearlooks2_modalBlocker {position:fixed; left:0; top:0; width:100%; height:100%;
  background-image: -moz-radial-gradient(center center, circle cover, rgba(0,0,0,.3), rgba(0,0,0,.6) 100%);
  background-image: -webkit-radial-gradient(center center, circle cover, rgba(0,0,0,.3), rgba(0,0,0,.6) 100%);
  background-image: radial-gradient(center center, circle cover, rgba(0,0,0,.3), rgba(0,0,0,.6) 100%);
  display:none}

/* Top */
.clearlooks2 .mceTop {
  color:#fff;
  background:-webkit-linear-gradient(#555,#111);
  background:-moz-linear-gradient(#555,#111);
  background:linear-gradient(#555,#111);
  text-shadow:0 -1px 0 #000;
  border-radius:0 0 10px 10px;
}
.clearlooks2 .mceTop, .clearlooks2 .mceTop div {bottom:0; width:100%; height:30px;}
.clearlooks2 .mceTop .mceLeft {width:6px;}
.clearlooks2 .mceTop .mceCenter {right:6px; width:100%; height:30px;}
.clearlooks2 .mceTop .mceRight {right:0; width:6px; height:30px;}
.clearlooks2 .mceTop span { text-align:center; vertical-align:middle; line-height:28px; font-weight:bold;
  width:100%;;color:#e3e3e3;font-size:16px;display:block;}
.clearlooks2 .mceFocus .mceTop .mceLeft {}
.clearlooks2 .mceFocus .mceTop .mceCenter {}
.clearlooks2 .mceFocus .mceTop .mceRight {}
.clearlooks2 .mceFocus .mceTop span {color:#fff}

/* Middle */
.clearlooks2 .mceMiddle, .clearlooks2 .mceMiddle div {top:0}
.clearlooks2 .mceMiddle {width:100%; height:100%;}
.clearlooks2 .mceMiddle .mceLeft {left:0; width:5px; height:100%;}
.clearlooks2 .mceMiddle span {bottom:27px; left:5px; width:100%;}
.clearlooks2 .mceMiddle .mceRight {right:0; width:5px; height:100%;}

/* Bottom */
.clearlooks2 .mceBottom, .clearlooks2 .mceBottom div {height:0px}
.clearlooks2 .mceBottom {left:0; bottom:19px; width:100%}
.clearlooks2 .mceBottom div {top:0}
.clearlooks2 .mceBottom .mceLeft {left:0; width:5px;}
.clearlooks2 .mceBottom .mceCenter {left:5px; width:100%;}
.clearlooks2 .mceBottom .mceRight {right:0; width:5px;}
.clearlooks2 .mceBottom span {display:none}
.clearlooks2 .mceStatusbar .mceBottom, .clearlooks2 .mceStatusbar .mceBottom div {height:23px}
.clearlooks2 .mceStatusbar .mceBottom .mceLeft {}
.clearlooks2 .mceStatusbar .mceBottom .mceCenter {}
.clearlooks2 .mceStatusbar .mceBottom .mceRight {}
.clearlooks2 .mceStatusbar .mceBottom span {display:block; left:7px; font-family:Arial, Verdana; font-size:11px; line-height:23px}

/* Actions */
.clearlooks2 a {width:29px; height:16px; bottom:3px;}
.clearlooks2 .mceClose {right:6px; bottom:6px; background:#fff url(img/icon_cross.png) no-repeat 1px 1px;width:18px;height:18px;border-radius:64px;
  box-shadow:0 0 5px #000;}
.clearlooks2 .mceMed {display:none; right:30px; bottom:6px;   background:#fff url(img/arrow_in.png) no-repeat 1px 1px;width:18px;height:18px;border-radius:64px;
    box-shadow:0 0 5px #000;}
.clearlooks2 .mceMax {display:none; right:30px; bottom:6px; background:#fff url(img/arrow_out.png) no-repeat 1px 1px;width:18px;height:18px;border-radius:64px;
  box-shadow:0 0 5px #000;}
.clearlooks2 .mceMove {display:none;width:100%;cursor:move;}
.clearlooks2 .mceMovable .mceMove {display:block;height:26px}


/* Resize */
.clearlooks2 .mceResize {top:auto; left:auto; display:none; width:5px; height:5px;}
.clearlooks2 .mceResizable .mceResize {display:block}
.clearlooks2 .mceResizable .mceMin, .clearlooks2 .mceMax {display:none}
.clearlooks2 .mceMinimizable .mceMin {display:block}
.clearlooks2 .mceMaximizable .mceMax {display:block}
.clearlooks2 .mceMaximized .mceMed {display:block}
.clearlooks2 .mceMaximized .mceMax {display:none}
.clearlooks2 a.mceResizeN {top:0; left:0; width:100%; cursor:n-resize}
.clearlooks2 a.mceResizeNW {top:0; left:0; cursor:nw-resize}
.clearlooks2 a.mceResizeNE {top:0; right:0; cursor:ne-resize}
.clearlooks2 a.mceResizeW {top:0; left:0; height:100%; cursor:w-resize;}
.clearlooks2 a.mceResizeE {top:0; right:0; height:100%; cursor:e-resize}
.clearlooks2 a.mceResizeS {bottom:0; left:0; width:100%; cursor:s-resize}
.clearlooks2 a.mceResizeSW {bottom:0; left:0; cursor:sw-resize}
.clearlooks2 a.mceResizeSE {bottom:0; right:0; cursor:se-resize}

/* Alert/Confirm */
.clearlooks2 .mceButton {font-weight:bold; bottom:10px; width:80px; height:30px; background:url(img/button.gif); line-height:30px; vertical-align:middle; text-align:center; outline:0}
.clearlooks2 .mceMiddle .mceIcon {left:15px; top:35px; width:32px; height:32px}
.clearlooks2 .mceAlert .mceMiddle span, .clearlooks2 .mceConfirm .mceMiddle span {background:transparent;left:60px; top:35px; width:320px; height:50px; font-weight:bold; overflow:auto; white-space:normal}
.clearlooks2 a:hover {font-weight:bold;}
.clearlooks2 .mceAlert .mceMiddle, .clearlooks2 .mceConfirm .mceMiddle {background:#D6D7D5}
.clearlooks2 .mceAlert .mceOk {left:50%; top:auto; margin-left: -40px}
.clearlooks2 .mceAlert .mceIcon {background:url(img/alert.gif)}
.clearlooks2 .mceConfirm .mceOk {left:50%; top:auto; margin-left: -90px}
.clearlooks2 .mceConfirm .mceCancel {left:50%; top:auto}
.clearlooks2 .mceConfirm .mceIcon {background:url(img/confirm.gif)}
