<div id="mainContentInner" class="">
    <div class="hidden">
      <div id="addPageForm">
       <form id="add_page_form" method="post" rel="ajaxed" action="http://bd-server.com/Sattar/weborder/nibscms/admin/pages/addPage" loadingdiv="loader_add_page" formtype="adder">
			<table align="center" cellpadding="4" cellspacing="0">
				<tbody><tr>
					<th>Name</th>
					<td colspan="2"><input name="name" id="add_pagename_input" class="stubSenders" stubreceiver="add_pagestub_input" stubstatus="stubReturnValue" stuburl="admin/pages/checkStubDuplication" stubpagetitle="add_pagetitle_input" type="text"></td>
				</tr>
				<tr>
					<th>Page Title</th>
					<td colspan="2"><input name="pagetitle" id="add_pagetitle_input" class="stubReceivers" stubstatus="stubReturnValue" stuburl="admin/pages/checkStubDuplication" type="text"></td>
				</tr>
				<tr>
					<th>Stub</th>
					<td><input name="stub" id="add_pagestub_input" type="text"></td>
					<td width="20"><span id="stubReturnValue" style="font-weight:bold;"></span></td>
				</tr>
				<tr>
					<th>Meta Keyword</th>
					<td><input name="keyword" id="add_keyword_input" type="text"></td>
					
				</tr>
				<tr>
					<th>Meta Description</th>
					<td><textarea name="description" id="add_description_input"></textarea></td>
					
				</tr>
				<tr><td colspan="3"><hr class="hr"></td></tr>
				<tr><td colspan="3" align="right"><button class="button add" type="submit">Add Page</button><div id="loader_add_page" class="q_feedback"></div></td> </tr>
			</tbody></table>
		</form>
      </div>
    </div>
    <div id="dContent">


				<div class="tab_content padded" style="display: block;">
					<div id="form_wizard_1" class="widget box">
		    			<div class="widget-title">
					        <h4><i class="icon-reorder"></i>Content Manager</h4>
					    </div>
    
    					<div class="widget-body form">
				  			<div style="margin:0 auto;width:60%;text-align:center">
							  <form method="post" rel="ajaxedUpload" action="http://bd-server.com/Sattar/weborder/nibscms/admin/pages/savePageDetails" loadingdiv="loader_save_page" enctype="multipart/form-data">
								  <table cellpadding="4" cellspacing="0">
									  <tbody><tr>
										  <th align="left"><label>Name</label></th>
										  <td colspan="2" align="left"><input id="edit_pagename_input" name="name" rel="5" value="test" style="width:300px" class="stubSenders" stubreceiver="edit_pagestub_input" stubstatus="edit_stubReturnValue" stuburl="admin/pages/checkStubDuplication" stubpagetitle="edit_pagetitle_input" type="text"></td>
									  </tr>
									  <tr>
										  <th align="left"><label>Page Title</label></th>
										  <td colspan="2" align="left"><input style="width:300px" id="edit_pagetitle_input" name="pagetitle" value="test" type="text"></td>
									  </tr>
										<tr>
											  <th align="left"><label>Stub</label></th>
											  <td align="left"><input name="stub" rel="5" id="edit_pagestub_input" value="test" style="width:300px" class="stubReceivers" stubstatus="edit_stubReturnValue" stuburl="admin/pages/checkStubDuplication" type="text"></td>
											  <td width="20"><span id="edit_stubReturnValue" style="font-weight:bold;"></span></td>
										 </tr>

										<tr>
											<th>Meta Keyword</th>
											<td><input name="keyword" id="edit_keyword_input" style="width:300px" value="" type="text"></td>
										</tr>
										<tr>
											<th>Meta Description</th>
											<td><textarea name="description" id="edit_description_input" style="width:300px"></textarea></td>
										</tr>

										<tr><td></td></tr>
										<tr><td></td></tr>
										<tr><td></td></tr>
                                        
										<tr>
									
										</tr><tr><td></td></tr>

										<tr><td colspan="4"><hr></td></tr>
										
									  <tr><td colspan="2" align="right">
									  <button type="submit" class="button save">Save Changes</button>
									  <div id="loader_save_page" class="q_feedback"></div>
									  <input name="page_id" value="5" type="hidden"></td></tr>
								  </tbody></table></form>
								  </div>
						  		</div>
						 	</div>
						</div>
				  	
				
				<div class="tab_content" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; display: none;">
				  <div id="editArea">
				    <form method="post" rel="ajaxed" action="http://bd-server.com/Sattar/weborder/nibscms/admin/pages/savePageContent" loadingdiv="loader_save_page_c">
  							<textarea aria-hidden="true" name="content" style="position: absolute; width: 100%; height: 100%; display: none;" id="EditableArea">&lt;p&gt;test page&lt;/p&gt;</textarea><span style="" class="mceEditor defaultSkin" id="EditableArea_parent" aria-labelledby="EditableArea_voice" role="application"><div id="editorToolbar"><div class="mceExternalToolbar" id="EditableArea_external"></div><table id="EditableArea_tblext" width="100%" cellpadding="0" cellspacing="0"><tbody><tr role="presentation"><td role="presentation" class="mceToolbar mceCenter"><div tabindex="-1" id="EditableArea_toolbargroup" role="group" aria-labelledby="EditableArea_toolbargroup_voice"><span role="application"><span id="EditableArea_toolbargroup_voice" class="mceVoiceLabel" style="display:none;">Toolbar</span><table aria-pressed="false" aria-disabled="false" id="EditableArea_toolbar1" class="mceToolbar mceToolbarRow1 Enabled" role="presentation" tabindex="-1" align="" cellpadding="0" cellspacing="0"><tbody><tr><td class="mceToolbarStart mceToolbarStartButton"><span><!-- IE --></span></td><td style="position: relative"><a aria-pressed="false" tabindex="-1" role="button" id="EditableArea_bold" href="javascript:;" class="mceButton mceButtonEnabled mce_bold" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_bold_voice" title="Bold (Ctrl+B)"><span class="mceIcon mce_bold"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_bold_voice">Bold (Ctrl+B)</span></a></td><td style="position: relative"><a aria-pressed="false" tabindex="-1" role="button" id="EditableArea_italic" href="javascript:;" class="mceButton mceButtonEnabled mce_italic" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_italic_voice" title="Italic (Ctrl+I)"><span class="mceIcon mce_italic"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_italic_voice">Italic (Ctrl+I)</span></a></td><td style="position: relative"><a aria-pressed="false" tabindex="-1" role="button" id="EditableArea_underline" href="javascript:;" class="mceButton mceButtonEnabled mce_underline" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_underline_voice" title="Underline (Ctrl+U)"><span class="mceIcon mce_underline"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_underline_voice">Underline (Ctrl+U)</span></a></td><td style="position: relative"><span role="button" aria-labelledby="EditableArea_forecolor_voice" aria-haspopup="true"><table id="EditableArea_forecolor" role="presentation" tabindex="-1" class="mceSplitButton mceSplitButtonEnabled mce_forecolor" title="Select Text Color" cellpadding="0" cellspacing="0"><tbody><tr><td><a role="button" id="EditableArea_forecolor_action" tabindex="-1" href="javascript:;" class="mceAction mce_forecolor" onclick="return false;" onmousedown="return false;" title="Select Text Color"><span class="mceAction mce_forecolor"></span><span class="mceVoiceLabel mceIconOnly" id="EditableArea_forecolor_voice" style="display:none;">Select Text Color</span><div style="background-color: rgb(136, 136, 136);" class="mceColorPreview" id="EditableArea_forecolor_preview"></div></a></td><td><a role="button" id="EditableArea_forecolor_open" tabindex="-1" href="javascript:;" class="mceOpen mce_forecolor" onclick="return false;" onmousedown="return false;" title="Select Text Color"><span class="mceOpen mce_forecolor"><span style="display:none;" class="mceIconOnly" aria-hidden="true">▼</span></span></a></td></tr></tbody></table></span></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a aria-pressed="false" tabindex="-1" role="button" id="EditableArea_sup" href="javascript:;" class="mceButton mceButtonEnabled mce_sup" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_sup_voice" title="Superscript"><span class="mceIcon mce_sup"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_sup_voice">Superscript</span></a></td><td style="position: relative"><a aria-pressed="false" tabindex="-1" role="button" id="EditableArea_sub" href="javascript:;" class="mceButton mceButtonEnabled mce_sub" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_sub_voice" title="Subscript"><span class="mceIcon mce_sub"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_sub_voice">Subscript</span></a></td><td style="position: relative"><a tabindex="-1" role="button" id="EditableArea_hr" href="javascript:;" class="mceButton mceButtonEnabled mce_hr" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_hr_voice" title="Insert Horizontal Line"><span class="mceIcon mce_hr"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_hr_voice">Insert Horizontal Line</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a aria-pressed="false" tabindex="-1" role="button" id="EditableArea_justifyleft" href="javascript:;" class="mceButton mceButtonEnabled mce_justifyleft" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_justifyleft_voice" title="Align Left"><span class="mceIcon mce_justifyleft"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_justifyleft_voice">Align Left</span></a></td><td style="position: relative"><a aria-pressed="false" tabindex="-1" role="button" id="EditableArea_justifycenter" href="javascript:;" class="mceButton mceButtonEnabled mce_justifycenter" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_justifycenter_voice" title="Align Center"><span class="mceIcon mce_justifycenter"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_justifycenter_voice">Align Center</span></a></td><td style="position: relative"><a aria-pressed="false" tabindex="-1" role="button" id="EditableArea_justifyright" href="javascript:;" class="mceButton mceButtonEnabled mce_justifyright" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_justifyright_voice" title="Align Right"><span class="mceIcon mce_justifyright"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_justifyright_voice">Align Right</span></a></td><td style="position: relative"><a aria-pressed="false" tabindex="-1" role="button" id="EditableArea_bullist" href="javascript:;" class="mceButton mceButtonEnabled mce_bullist" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_bullist_voice" title="Insert/Remove Bulleted List"><span class="mceIcon mce_bullist"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_bullist_voice">Insert/Remove Bulleted List</span></a></td><td style="position: relative"><a aria-pressed="false" tabindex="-1" role="button" id="EditableArea_numlist" href="javascript:;" class="mceButton mceButtonEnabled mce_numlist" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_numlist_voice" title="Insert/Remove Numbered List"><span class="mceIcon mce_numlist"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_numlist_voice">Insert/Remove Numbered List</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_outdent" href="javascript:;" class="mceButton mce_outdent mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_outdent_voice" title="Decrease Indent"><span class="mceIcon mce_outdent"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_outdent_voice">Decrease Indent</span></a></td><td style="position: relative"><a tabindex="-1" role="button" id="EditableArea_indent" href="javascript:;" class="mceButton mceButtonEnabled mce_indent" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_indent_voice" title="Increase Indent"><span class="mceIcon mce_indent"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_indent_voice">Increase Indent</span></a></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_link" href="javascript:;" class="mceButton mce_link mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_link_voice" title="Insert/Edit Link"><span class="mceIcon mce_link"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_link_voice">Insert/Edit Link</span></a></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_unlink" href="javascript:;" class="mceButton mce_unlink mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_unlink_voice" title="Unlink"><span class="mceIcon mce_unlink"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_unlink_voice">Unlink</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a tabindex="-1" role="button" id="EditableArea_anchor" href="javascript:;" class="mceButton mceButtonEnabled mce_anchor" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_anchor_voice" title="Insert/Edit Anchor"><span class="mceIcon mce_anchor"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_anchor_voice">Insert/Edit Anchor</span></a></td><td style="position: relative"><a tabindex="-1" role="button" id="EditableArea_charmap" href="javascript:;" class="mceButton mceButtonEnabled mce_charmap" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_charmap_voice" title="Insert Special Character"><span class="mceIcon mce_charmap"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_charmap_voice">Insert Special Character</span></a></td><td style="position: relative"><a tabindex="-1" role="button" id="EditableArea_image" href="javascript:;" class="mceButton mceButtonEnabled mce_image" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_image_voice" title="Insert/Edit Image"><span class="mceIcon mce_image"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_image_voice">Insert/Edit Image</span></a></td><td style="position: relative"><a tabindex="-1" role="button" id="EditableArea_media" href="javascript:;" class="mceButton mceButtonEnabled mce_media" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_media_voice" title="Insert/Edit Embedded Media"><span class="mceIcon mce_media"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_media_voice">Insert/Edit Embedded Media</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a aria-pressed="false" tabindex="-1" role="button" id="EditableArea_spellchecker" href="javascript:;" class="mceButton mceButtonEnabled mce_spellchecker" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_spellchecker_voice" title="Toggle Spell Checker"><span class="mceIcon mce_spellchecker"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_spellchecker_voice">Toggle Spell Checker</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_undo" href="javascript:;" class="mceButton mce_undo mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_undo_voice" title="Undo (Ctrl+Z)"><span class="mceIcon mce_undo"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_undo_voice">Undo (Ctrl+Z)</span></a></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_redo" href="javascript:;" class="mceButton mce_redo mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_redo_voice" title="Redo (Ctrl+Y)"><span class="mceIcon mce_redo"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_redo_voice">Redo (Ctrl+Y)</span></a></td><td class="mceToolbarEnd mceToolbarEndButton"><span><!-- IE --></span></td></tr></tbody></table><table aria-pressed="false" aria-disabled="false" id="EditableArea_toolbar2" class="mceToolbar mceToolbarRow2 Enabled" role="presentation" tabindex="-1" align="" cellpadding="0" cellspacing="0"><tbody><tr><td class="mceToolbarStart mceToolbarStartButton"><span><!-- IE --></span></td><td style="position: relative"><a tabindex="-1" role="button" id="EditableArea_table" href="javascript:;" class="mceButton mceButtonEnabled mce_table" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_table_voice" title="Insert/Edit Table"><span class="mceIcon mce_table"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_table_voice">Insert/Edit Table</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_row_props" href="javascript:;" class="mceButton mce_row_props mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_row_props_voice" title="Table Row Properties"><span class="mceIcon mce_row_props"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_row_props_voice">Table Row Properties</span></a></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_cell_props" href="javascript:;" class="mceButton mce_cell_props mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_cell_props_voice" title="Table Cell Properties"><span class="mceIcon mce_cell_props"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_cell_props_voice">Table Cell Properties</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_row_before" href="javascript:;" class="mceButton mce_row_before mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_row_before_voice" title="Insert Row Before"><span class="mceIcon mce_row_before"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_row_before_voice">Insert Row Before</span></a></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_row_after" href="javascript:;" class="mceButton mce_row_after mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_row_after_voice" title="Insert Row After"><span class="mceIcon mce_row_after"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_row_after_voice">Insert Row After</span></a></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_delete_row" href="javascript:;" class="mceButton mce_delete_row mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_delete_row_voice" title="Delete Row"><span class="mceIcon mce_delete_row"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_delete_row_voice">Delete Row</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_col_before" href="javascript:;" class="mceButton mce_col_before mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_col_before_voice" title="Insert Column Before"><span class="mceIcon mce_col_before"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_col_before_voice">Insert Column Before</span></a></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_col_after" href="javascript:;" class="mceButton mce_col_after mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_col_after_voice" title="Insert Column After"><span class="mceIcon mce_col_after"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_col_after_voice">Insert Column After</span></a></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_delete_col" href="javascript:;" class="mceButton mce_delete_col mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_delete_col_voice" title="Delete Column"><span class="mceIcon mce_delete_col"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_delete_col_voice">Delete Column</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_split_cells" href="javascript:;" class="mceButton mce_split_cells mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_split_cells_voice" title="Split Merged Table Cells"><span class="mceIcon mce_split_cells"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_split_cells_voice">Split Merged Table Cells</span></a></td><td style="position: relative"><a aria-disabled="true" tabindex="-1" role="button" id="EditableArea_merge_cells" href="javascript:;" class="mceButton mce_merge_cells mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_merge_cells_voice" title="Merge Table Cells"><span class="mceIcon mce_merge_cells"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_merge_cells_voice">Merge Table Cells</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><span role="button" aria-haspopup="true" aria-labelledby="EditableArea_formatselect_text" aria-describedby="EditableArea_formatselect_voiceDesc"><table role="presentation" tabindex="-1" id="EditableArea_formatselect" class="mceListBox mceListBoxEnabled mce_formatselect" cellpadding="0" cellspacing="0"><tbody><tr><td><span id="EditableArea_formatselect_voiceDesc" class="voiceLabel" style="display:none;">Format</span><a id="EditableArea_formatselect_text" tabindex="-1" href="javascript:;" class="mceText" onclick="return false;" onmousedown="return false;">Format</a></td><td><a id="EditableArea_formatselect_open" tabindex="-1" href="javascript:;" class="mceOpen" onclick="return false;" onmousedown="return false;"><span><span style="display:none;" class="mceIconOnly" aria-hidden="true">▼</span></span></a></td></tr></tbody></table></span></td><td style="position: relative"><span role="button" aria-haspopup="true" aria-labelledby="EditableArea_styleselect_text" aria-describedby="EditableArea_styleselect_voiceDesc"><table aria-valuenow="Styles" role="presentation" tabindex="-1" id="EditableArea_styleselect" class="mceListBox mceListBoxEnabled mce_styleselect" cellpadding="0" cellspacing="0"><tbody><tr><td><span id="EditableArea_styleselect_voiceDesc" class="voiceLabel" style="display:none;">Styles</span><a id="EditableArea_styleselect_text" tabindex="-1" href="javascript:;" class="mceText mceTitle" onclick="return false;" onmousedown="return false;">Styles</a></td><td><a id="EditableArea_styleselect_open" tabindex="-1" href="javascript:;" class="mceOpen" onclick="return false;" onmousedown="return false;"><span><span style="display:none;" class="mceIconOnly" aria-hidden="true">▼</span></span></a></td></tr></tbody></table></span></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a tabindex="-1" role="button" id="EditableArea_styleprops" href="javascript:;" class="mceButton mceButtonEnabled mce_styleprops" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_styleprops_voice" title="Edit CSS Style"><span class="mceIcon mce_styleprops"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_styleprops_voice">Edit CSS Style</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a tabindex="-1" role="button" id="EditableArea_pastetext" href="javascript:;" class="mceButton mceButtonEnabled mce_pastetext" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_pastetext_voice" title="Paste as Plain Text"><span class="mceIcon mce_pastetext"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_pastetext_voice">Paste as Plain Text</span></a></td><td style="position: relative"><a tabindex="-1" role="button" id="EditableArea_pasteword" href="javascript:;" class="mceButton mceButtonEnabled mce_pasteword" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_pasteword_voice" title="Paste from Word"><span class="mceIcon mce_pasteword"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_pasteword_voice">Paste from Word</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a aria-pressed="false" tabindex="-1" role="button" id="EditableArea_fullscreen" href="javascript:;" class="mceButton mceButtonEnabled mce_fullscreen" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_fullscreen_voice" title="Toggle Full Screen Mode"><span class="mceIcon mce_fullscreen"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_fullscreen_voice">Toggle Full Screen Mode</span></a></td><td style="position: relative"><a tabindex="-1" role="button" id="EditableArea_code" href="javascript:;" class="mceButton mceButtonEnabled mce_code" onmousedown="return false;" onclick="return false;" aria-labelledby="EditableArea_code_voice" title="Edit HTML Source"><span class="mceIcon mce_code"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="EditableArea_code_voice">Edit HTML Source</span></a></td><td class="mceToolbarEnd mceToolbarEndButton"><span><!-- IE --></span></td></tr></tbody></table></span></div><a href="#" accesskey="z" title="Jump to tool buttons - Alt+Q, Jump to editor - Alt-Z, Jump to element path - Alt-X" onfocus="tinyMCE.getInstanceById('EditableArea').focus();"><!-- IE --></a></td></tr></tbody></table></div><span id="EditableArea_voice" style="display:none;" class="mceVoiceLabel">Rich Text Area</span><table style="width: 100%; height: 100%;" class="mceLayout" id="EditableArea_tbl" role="presentation" cellpadding="0" cellspacing="0"><tbody><tr class="mceFirst mceLast"><td class="mceIframeContainer mceFirst mceLast"><iframe style="width: 100%; height: 471px; display: block;" title="Rich Text AreaPress ALT-F10 for toolbar. Press ALT-0 for help" allowtransparency="true" src="javascript:&quot;&quot;" id="EditableArea_ifr" frameborder="0"></iframe></td></tr></tbody></table></span>
  							<div class="footertoolbar" style="left:0;right:0;bottom:-24px;position:absolute;z-index:2">
  							  <div style="float:right">
    							  <div class="q_feedback" id="loader_save_page_c" style="float:right"></div>
    							  <button type="submit" class="button save">Save Changes</button>
    							</div>
  							</div>
  							<input name="page_id" value="5" type="hidden">
  				  </form>
  				</div>
				  
				</div>
				</div>
  </div>